//colors
$color_aths_special_approx: #ece5c9;
$color_log_cabin_approx: #24261c;
$black_60: rgba(0,0,0,.6);
$color_storm_dust_20_approx: hsla(0,0%,39%,.2);
$black_40: rgba(0,0,0,.4);
$black: #000;
$white: #fff;
$color_viridian_approx: #3b8070;
$color_pickled_bluewood_approx: #35495e;
$black_70: rgba(0,0,0,.7);
$green: lime;
$red: red;
$blue: blue;
$color_fuscous_gray_approx: #595549;
$color_axolotl_approx: #52624c;
$color_go_ben_approx: #737f44;
$color_sisal_approx: #d8cfb7;
$black_50: rgba(0,0,0,.5);
$color_fern_green_approx: #3e7a31;
$color_dune_approx: #373930;
$color_atlantis_approx: #a8ce38;
$white_95: hsla(0,0%,100%,.95);
$color_kelp_approx: #444830;
$color_eagle_approx: #b3baaa;
$color_periglacial_blue_approx: #dfe1d2;
$color_tundora_approx: #444;
$color_flax_smoke_approx: #7e8959;
$color_news_blog_bg: #e6e5e0;

//fonts
$font_0: argentReg;
$font_1: argentBold;
$font_2: flamaSemi;
$font_3: heart;
$font_4: serif;
$font_5: flamasemi;

//@extend-elements
//original selectors
//body, html
%extend_1 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	touch-action: none;
}

//original selectors
//a, p
%extend_2 {
	font-family: $font_0, $font_4;
	color: $color_aths_special_approx;
	font-size: 18px;
}

//original selectors
//#__layout, #__layout >div, #__nuxt, .full, body, html
%extend_3 {
	width: 100%;
	height: 100%;
	position: relative;
}

//original selectors
//#frame, #viewer
%extend_4 {
	width: 100%;
	height: 100%;
	display: flex;
}


body {
	@extend %extend_1;
	@extend %extend_3;
}
html {
	@extend %extend_1;
	color: $color_aths_special_approx;
	font-family: $font_0, $font_4;
	@extend %extend_3;
}
#__layout {
	touch-action: auto;
	@extend %extend_3;
	> div {
		@extend %extend_3;
	}
}
a {
	text-decoration: none;
	cursor: pointer;
	@extend %extend_2;
	&:hover {
		color: $white!important;
	}
}
p {
	@extend %extend_2;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
}
:after {
	box-sizing: border-box;
	margin: 0;
}
:before {
	box-sizing: border-box;
	margin: 0;
}
.button--green {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid $color_viridian_approx;
	color: $color_viridian_approx;
	text-decoration: none;
	padding: 10px 30px;
	&:hover {
		color: $white;
		background-color: $color_viridian_approx;
	}
}
.button--grey {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid $color_pickled_bluewood_approx;
	color: $color_pickled_bluewood_approx;
	padding: 10px 30px;
	margin-left: 15px;
	text-decoration: none;
}
.btn {
	text-decoration: none;
	background-color: $color_log_cabin_approx;
	color: $color_aths_special_approx;
	text-transform: uppercase;
	cursor: pointer;
	font-family: $font_2;
	padding: 10px 0;
	width: 100%;
	margin: 20px auto 0;
	max-width: 200px;
	text-align: center;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nextgal,.prevgal {
	&.slick-disabled {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}
@font-face {
	font-family: $font_0;
	src: url(/ArgentCF-Regular.ttf);
}
@font-face {
	font-family: $font_1;
	src: url(/ArgentCF-Bold.ttf);
}
@font-face {
	font-family: $font_2;
	src: url(/FlamaSemicondensed-Medium.otf);
}
@font-face {
	font-family: $font_3;
	src: url(/heartone.ttf);
}
h1 {
	font-size: 50px;
	color: $color_aths_special_approx;
	font-family: $font_1, $font_4;
}
h2 {
	font-family: $font_1, $font_4;
}
h4 {
	color: $color_aths_special_approx;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: $font_2;
}
#logo {
	position: absolute;
	top: 30px;
	left: 20px;
	z-index: 50;
	width: 100px;
	height: 95px;
	transition: all .2s ease;
	background: url(/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
#logo[data-currentsub=coalition_structure] {
	background-image: url(/logo-dark.svg);
}
#logo[data-currentsub=coalition_who] {
	background-image: url(/logo-dark.svg);
}
#logo[data-currentsub=impact_map] {
	background-image: url(/logo-dark.svg);
}
#logo[data-currentsub=impact_stories] {
	background-image: url(/logo-dark.svg);
}
#logo[data-currentsub=news_blog] {
	background-image: url(/logo-dark.svg);
}
#logo[data-postopen=true] {
	display: none;
}
#home {
	order: 1;
	background: none;
	overflow: hidden;
	h1 {
		font-size: 76px;
		z-index: 3;
	}
	h4 {
		z-index: 3;
	}
	p {
		font-family: $font_2;
		text-transform: uppercase;
		max-width: 60%;
		text-align: center;
		font-size: 18px;
	}
	#diff {
		z-index: 3;
		bottom: 15%;
		h2 {
			font-size: 35px;
		}
	}
	#rightrow {
		transition: all .3s ease;
		cursor: pointer;
		width: 60px;
		margin-left: 30px;
	}
	#trace {
		width: 60%;
		position: absolute;
		top: 8%;
		left: 25%;
		opacity: .6;
		z-index: 100;
		pointer-events: none;
	}
}
#mission {
	order: 2;
	align-items: flex-start;
	color: $color_aths_special_approx;
	text-align: left;
	h1 {
		color: $color_aths_special_approx;
		text-align: left;
	}
	p {
		color: $color_aths_special_approx;
		text-align: left;
	}
}
#impact {
	order: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
	a {
		text-align: left;
		max-width: 100%;
	}
	h1 {
		text-align: left;
		max-width: 100%;
		font-size: 40px;
		margin-bottom: 10px;
	}
	h4 {
		text-align: left;
		max-width: 100%;
	}
	p {
		text-align: left;
		max-width: 100%;
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	& > wrap {
		padding-bottom: 90px;
    	position: relative;
	}
	#impact_intro {
		width: 80%;
		margin-bottom: 20px;
		.header_wrap {
			margin-right:20px;
			min-width:33%
		}
		p {
			width: 80%;
		}
	}
	.curs {
	    margin-bottom: 0;
		bottom: 20px;
	}
}
#coalition {
	order: 4;
	align-items: flex-start;
	h1 {
		text-align: left;
	}
	h4 {
		text-align: left;
		margin-top: 0;
	}
	p {
		text-align: left;
	}
	.wrap {
		width: 100%;
	}
}
#activities {
	order: 5;
}
#news {
	order: 6;
	background-image: url(/news.jpg);
	align-items: flex-start;
	h1 {
		text-align: left;
		max-width: 60%;
	}
	h4 {
		text-align: left;
		font-size: 12px;
	}
	p {
		text-align: left;
		max-width: 60%;
	}
	.opener.curs {
		font-size: 30px;
		img {
			width: 30px;
		}
	}
}
#contact {
	order: 7;
	flex-direction: row;
	h1 {
		text-align: left;
		max-width: 100%;
		font-size: 40px;
	}
	h4 {
		text-align: left;
		max-width: 100%;
	}
	p {
		text-align: left;
		max-width: 100%;
		font-size: 14px;
		margin-bottom: 0;
		line-height: 1.6;
	}
	#downform {
		display: none;
	}
	#formcont {
		margin-left: 20px;
		width: 50%;
		.field {
			display: flex;
		}
		.control {
			width: 100%;
			padding: 10px;
			text-align: center;
		}
		input {
			width: 100%;
			background: none!important;
			appearance: none;
			border: 2px solid $color_aths_special_approx;
			font-family: $font_2;
			color: $color_aths_special_approx;
			font-size: 15px;
			text-transform: uppercase;
			height: 40px;
			padding: 20px 40px;
			&:focus {
				background: $color_flax_smoke_approx;
			}
		}
		textarea {
			width: 100%;
			background: none!important;
			appearance: none;
			border: 2px solid $color_aths_special_approx;
			font-family: $font_2;
			color: $color_aths_special_approx;
			font-size: 15px;
			text-transform: uppercase;
			height: 40px;
			padding: 20px 40px;
			height: 150px;
			&:focus {
				background: $color_flax_smoke_approx;
			}
		}
		input::-webkit-input-placeholder {
			color: $color_aths_special_approx;
		}
		textarea::-webkit-input-placeholder {
			color: $color_aths_special_approx;
		}
		input::-ms-input-placeholder {
			color: $color_aths_special_approx;
		}
		textarea::-ms-input-placeholder {
			color: $color_aths_special_approx;
		}
		input::placeholder {
			color: $color_aths_special_approx;
		}
		textarea::placeholder {
			color: $color_aths_special_approx;
		}
		#submit {
			max-width: 500px;
			margin: 0 auto;
			cursor: pointer;
			width: 50%;
			padding: 0;
			&:hover {
				background: $color_aths_special_approx;
				color: $black;
			}
		}
		h4 {
			height: 40px;
			border: 2px solid $color_aths_special_approx;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			display: none;
		}
	}
}
#downcont {
	position: relative;
	width: 100%;
	display: none;
	h4 {
		text-align: center;
		height: 40px;
		border: 2px solid $color_aths_special_approx;
	}
}
#modeclose {
	z-index: 9999;
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 27px;
}
#preload {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $black;
	z-index: 10000;
	transition: all .5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
#formcont {
	color: $color_aths_special_approx;
	font-family: $font_0, $font_4;
	&.full {
		z-index: 99;
	}
}
#__nuxt {
	@extend %extend_3;
}
.full {
	@extend %extend_3;
}
#frame {
	position: relative;
	justify-content: center;
	align-items: center;
	@extend %extend_4;
}
#viewer {
	@extend %extend_4;
	overflow: hidden;
}
.subs {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: all .6s ease;
	width: 100%;
	min-height: 100%;
	z-index: 100;
	overflow: hidden;
}
.subwrap {
	position: relative;
	z-index: 11;
}
.sub {
	transition: all .4s ease;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 120px;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	h1 {
		max-width: 100%;
		margin: 0 0 30px;
		font-size: 50px;
	}
}
.open {
	.back {
		opacity: 1;
		pointer-events: auto;
	}
	.sub {
		min-height: 100vh;
		position: relative;
	}
}
#back {
	background: $black_70;
	padding: 10px;
	font-size: 16px;
	color: $color_aths_special_approx;
	position: fixed;
	bottom: 10px;
	left: 10px;
	/*opacity: 0;*/
	transition: all .3s ease;
	font-family: $font_2;
	/*pointer-events: none;*/
	z-index: 20;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	img {
		width: 40px;
		margin-right: 10px;
	}
}
#back[data-postopen=true],#back[data-current=home] {
	display: none;
}
#next {
	background: $black_70;
	padding: 10px;
	font-size: 16px;
	color: $color_aths_special_approx;
	position: fixed;
	bottom: 10px;
	left: 130px;
	/*opacity: 0;*/
	transition: all .3s ease;
	font-family: $font_2;
	/*pointer-events: none;*/
	z-index: 20;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	img {
		width: 40px;
		margin-right: 10px;
	}
}
#next[data-postopen=true],#next[data-current=home] {
	display: none;
}
.slide {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	transition: all .5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: 50%;
	position: relative;
	padding: 0 120px;
	z-index: 5;
	background-color: $black;
	overflow: hidden;
	h1 {
		line-height: 1;
		text-align: center;
		max-width: 70%;
		margin-bottom: 20px;
	}
	p {
		text-align: center;
		max-width: 70%;
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 100;
		line-height: 1.6;
	}
}
.opener {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: $color_aths_special_approx;
	font-size: 30px;
	cursor: pointer;
	img {
		pointer-events: none;
		transition: all .3s ease;
	}
	&.curs {
		font-size: 30px;
		img {
			width: 30px;
		}
	}
	&:hover img {
		transform: translateY(10px);
	}
}
#burger {
	width: 27px;
	height: 19px;
	margin-left: 10px;
	cursor: pointer;
	display: block;
	background-image: url(/burger.svg);
	&.sub_coalition_structure {
		background-image: url(/burger-dark.svg);
	}
	&.sub_coalition_who {
		background-image: url(/burger-dark.svg);	
	}
	&.sub_impact_map {
		background-image: url(/burger-dark.svg);	
	}
	&.sub_impact_stories {
		background-image: url(/burger-dark.svg);		
	}
	&.sub_news_blog {
		background-image: url(/burger-dark.svg);		
	}
}
#burger[data-postopen=true] {
	display: none;
}
#ex {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 0;
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 20px;
	z-index: 21;
	h4 {
		&.sub_coalition_structure {
			color: $color_log_cabin_approx;
		}
		&.sub_coalition_who {
			color: $color_log_cabin_approx;
		}
		&.sub_impact_map {
			color: $color_log_cabin_approx;
		}
		&.sub_impact_stories {
			color: $color_log_cabin_approx;
		}
		&.sub_news_blog {
			color: $color_log_cabin_approx;
		}
	}
}
#ex[data-postopen=true] {
	display: none;
}
#explore {
	width: 100%;
	height: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-image: linear-gradient($black_60,$black_60),url(/explore.png);
	position: fixed;
	opacity: 0;
	z-index: 950;
	pointer-events: none;
	transition: all .3s ease;
	#menu {
		font-family: $font_0;
		color: $color_aths_special_approx;
		text-align: center;
		position: relative;
		z-index: 999;
		a {
			font-size: 47px;
			&.active {
				font-family: $font_1;
			}
		}
	}
	#close {
		cursor: pointer;
		position: absolute;
		top: 30px;
		left: auto;
		right: auto;
		width: 27px;
	}
	#flower {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 40vmax;
	}
	#menu_footer {
		width: 100%;
		text-align: center;
		font-size: 12px;
		margin-top: 40px;
		z-index: 20;
		a {
			font-size: 12px;
		}
	}
}
#prevslide {
	transition: all .3s ease;
}
.shade {
	position: absolute;
	top: 0;
	left: 0;
	background: $black;
	opacity: .5;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.closeshade_link {
	position: absolute;
	top: 30px;
	right: 15px;
	width: 17px;
	z-index: 1000;
}
#lime {
	background: $green;
}
#red {
	background: $red;
}
#blue {
	background: $blue;
}
.curs {
	font-family: $font_3;
	color: $color_aths_special_approx;
	font-size: 40px;
	font-weight: normal !important;
	/*font-weight: 100;*/
	cursor: pointer;
}
#diff {
	cursor: pointer;
	display: flex;
	position: absolute;
	align-items: center;
	transform: translateY(22%);
	h2 {
		font-family: $font_3;
		color: $color_aths_special_approx;
		font-size: 40px;
		cursor: pointer;
		font-weight: normal;
	}
	&:hover #rightrow {
		transform: translateX(20px);
	}
}
.logo-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.cls-9 {
	cursor: pointer;
}
.pin {
	width: 100px;
	clip-path: circle(40%);
}
#modal {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: $black_60;
	opacity: 0;
	pointer-events: none;
}
.lds-grid {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	div {
		position: absolute;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: $color_aths_special_approx;
		animation: lds-grid 1.2s linear infinite;
		&:first-child {
			top: 6px;
			left: 6px;
			animation-delay: 0s;
		}
		&:nth-child(2) {
			top: 6px;
			left: 26px;
			animation-delay: -.4s;
		}
		&:nth-child(3) {
			top: 6px;
			left: 45px;
			animation-delay: -.8s;
		}
		&:nth-child(4) {
			top: 26px;
			left: 6px;
			animation-delay: -.4s;
		}
		&:nth-child(5) {
			top: 26px;
			left: 26px;
			animation-delay: -.8s;
		}
		&:nth-child(6) {
			top: 26px;
			left: 45px;
			animation-delay: -1.2s;
		}
		&:nth-child(7) {
			top: 45px;
			left: 6px;
			animation-delay: -.8s;
		}
		&:nth-child(8) {
			top: 45px;
			left: 26px;
			animation-delay: -1.2s;
		}
		&:nth-child(9) {
			top: 45px;
			left: 45px;
			animation-delay: -1.6s;
		}
	}
}
@-webkit-keyframes lds-grid {
	0% {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
}
@keyframes lds-grid {
	0% {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
}
#youshade {
	width: 100%;
	height: 100%;
	background: transparent;
	transition: all 3s ease;
	position: absolute;
}
.sli {
	width: 80%;
}
.nextrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -80px;
	width: 50px;
	z-index: 50;
	left: auto;
	right: -80px;
}
.prevrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -80px;
	width: 50px;
	z-index: 50;
}
@media(max-width:1000px) {
	.nextrow {
		width: 40px;
		left: 0;
		bottom: 0;
		top: auto;
		transform: none;
		right: 0;
		left: auto;
	}
	.prevrow {
		width: 40px;
		left: 0;
		bottom: 0;
		top: auto;
		transform: none;
	}
}
@media(max-width:600px) {
	.nextrow {
		width: 20px;
	}
	.prevrow {
		width: 20px;
	}
}
#test {
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p {
		margin-bottom: 40px;
		text-align: center;
	}
	h3 {
		color: $color_aths_special_approx;
	}
	.wrap img {
		clip-path: circle(50%);
	}
}
.boxbutt {
	padding: 16px 25px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: 1px solid;
	font-size: 16px;
	font-weight: 800;
	margin-top: 40px;
	cursor: pointer;
	display: flex;
}
#flags {
	display: flex;
	position: relative;
	z-index: 10;
	height: 23px;
	img {
		margin-right: 10px;
		width: auto;
		max-width: none;
		height: 23px;
	}
}
.coalition {
	background-image: url(/coalition.jpg);
}
#coalition_who {
	background-image: url(/coalbout.jpg);
	padding: 0 160px;
	a {
		color: $color_log_cabin_approx;
	}
	h1 {
		color: $color_log_cabin_approx;
		max-width: 100%;
	}
	h2 {
		color: $color_log_cabin_approx;
	}
	h3 {
		color: $color_log_cabin_approx;
	}
	h4 {
		color: $color_log_cabin_approx;
		font-size: 12px;
		max-width: 100%;
	}
	h5 {
		color: $color_log_cabin_approx;
	}
	p {
		color: $color_log_cabin_approx;
	}
	span {
		color: $color_log_cabin_approx;
	}
	strong {
		color: $color_log_cabin_approx;
	}
	.flex {
		align-items: flex-start;
		p {
			width: 50%;
			margin-left: 20px;
		}
	}
	#coalition_who_carousel_nav {
		position: absolute;
		top: 50vh;
		width: calc(100% - 120px);
		z-index: 5;
		height: 40px;
		display: flex;
		justify-content: space-between;
		pointer-events: none;
		.nextgal {
			pointer-events: all;
			padding: 10px;
			cursor: pointer;
			fill: $color_log_cabin_approx;
			filter: invert(1);
		}
		.prevgal {
			pointer-events: all;
			padding: 10px;
			cursor: pointer;
			fill: $color_log_cabin_approx;
			filter: invert(1);
		}
	}
	#coalition_who_carousel {
		width: 100%;
		height: 250px;
		list-style: none;
		padding: 0;
		margin: 0;
		a {
			text-align: center;
		}
		h1 {
			text-align: center;
		}
		h2 {
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		h4 {
			text-align: center;
		}
		h5 {
			text-align: center;
		}
		p {
			text-align: center;
			margin: 0 auto;
			max-width: 100%;
		}
		span {
			text-align: center;
		}
		strong {
			text-align: center;
		}
		li {
			transition: all 1s;
			width: calc(20vw - 68px);
			cursor: pointer;
			padding: 20px 10px;
			box-shadow: none;
			border: 3px solid transparent;
			text-align: center;
			outline: 10px solid transparent;
			h2 {
				font-size: 20px;
			}
			.carousel_item_image {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50%;
				margin-bottom: 20px;
				height: 100px;
				&#logo1 {
					background-image: url(/coalition_logo_1.png);
				}
				&#logo2 {
					background-image: url(/coalition_logo_worldbank.png);
				}
				&#logo3 {
					background-image: url(/coalition_logo_hro.png);
				}
				&#logo4 {
					background-image: url(/coalition_logo_afd.png);
				}
				&#logo5 {
					background-image: url(/coalition_logo_parker.png);
				}
			}
			a {
				display: none;
				border: 1px solid;
				padding: 10px;
				font-weight: 700;
			}
			p {
				font-size: 11px;
			}
			&:hover {
				border: 3px solid $color_fern_green_approx;
				a {
					color: $color_fern_green_approx!important;
					display: inline-block;
					margin: 20px auto;
					font-size: 16px;
				}
				h1 {
					color: $color_fern_green_approx!important;
				}
				h2 {
					color: $color_fern_green_approx!important;
				}
				h3 {
					color: $color_fern_green_approx!important;
				}
				h4 {
					color: $color_fern_green_approx!important;
				}
				h5 {
					color: $color_fern_green_approx!important;
				}
				p {
					color: $color_fern_green_approx!important;
				}
				span {
					color: $color_fern_green_approx!important;
				}
				strong {
					color: $color_fern_green_approx!important;
				}
				.carousel_item_image {	
					&#logo1 {
						background-image: url(/coalition_logo_1_green.png);
					}
					&#logo2 {
						background-image: url(/coalition_logo_worldbank_green.png);
					}
					&#logo3 {
						background-image: url(/coalition_logo_hro_green.png);
					}
					&#logo4 {
						background-image: url(/coalition_logo_afd_green.png);
					}
					&#logo5 {
						background-image: url(/coalition_logo_parker_green.png);
					}
				}
			}
		}
	}
}
#coalition_structure {
	background-image: url(/coalition_about.png);
	background-color: $color_aths_special_approx;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	svg {
		width: 50%;
		max-width: 100%;
		align-self: flex-end;
		max-height: 90%;
	}
	h1 {
		color: $color_dune_approx;
		max-width: 100%;
	}
	h4 {
		color: $color_dune_approx;
		max-width: 100%;
	}
	p {
		color: $color_dune_approx;
		max-width: 100%;
	}
	.cls-5 {
		transition: all .3s ease;
		position: relative;
		fill: $color_fern_green_approx!important;
		&:hover {
			fill: $color_atlantis_approx!important;
			stroke: $color_aths_special_approx!important;
			stroke-width: 3px;
		}
	}
	.cls-6 {
		fill: $color_fuscous_gray_approx!important;
		opacity: 1!important;
	}
	.blurb {
		position: absolute;
		top: 0;
		left: 0;
		color: $color_dune_approx;
	}
	.tooltip_outer {
		position: absolute;
		bottom: auto!important;
		top: 70%!important;
		left: 25%!important;
		right: 25%!important;
		transition: all .3s ease;
		background-color: $white_95;
		background: url(/copyblock.png);
		background-size: cover;
		padding: 20px;
		opacity: 0;
		h4 {
			margin-top: 0;
			color: $color_kelp_approx;
		}
		p {
			text-align: justify;
			max-width: 100%;
			width: 100%;
			color: $color_kelp_approx;
			margin-bottom: 0;
			line-height: 1.3;
		}
	}
	.wrap {
		width: 50%;
	}
}
#coalition_board {
	background-color: $color_fuscous_gray_approx;
	flex-wrap: nowrap;
	flex-direction: row;
	.wrap {
		width: 30%;
		h1, p{
			max-width: 100%;
			width: 100%;
		}
	}
	#coalition_board_grid {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 900px;
		height: 450px;
		li {
			position: relative;
			.close_grid_modal {
				display: none;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			.board_member_pic {
				width: 200px;
				height: 200px;
				border: 3px solid $white;
				background-color: $color_dune_approx;
				position: relative;
				cursor: pointer;
				background-size: cover;
				background-repeat: no-repeat;
				box-shadow: 1px 1px 5px $black;
			}
			.board_member_name {
				position: absolute;
				text-align: center;
				line-height: 20px;
				font-size: 15px;
				font-family: $font_5;
			}
			.board_member_role {
				display: none;
			}
			p {
				display: none;
			}
			&.modal_open {
				top: 10vh!important;
				left: 20%!important;
				right: 20%!important;
				bottom: auto!important;
				position: absolute;
				width: auto;
				z-index: 30!important;
				.grid_modal_inner {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: flex-start;
					padding: 20px;
					width: 100%;
					background-color: $color_aths_special_approx;
					background-image: url(/logo-white.png);
					background-size: 50% auto;
					background-position: 100% 100%;
					background-repeat: no-repeat;
					z-index: 2;
				}
				&:after {
					position: absolute;
					top: -10vh;
					left: -20vw;
					content: " ";
					width: 100vw;
					height: 100vh;
					background-color: $black_60;
					pointer-events: none;
					z-index: -1;
				}
				.board_member_name {
					position: relative;
					top: auto!important;
					left: auto!important;
					right: auto!important;
					bottom: auto!important;
					text-align: left;
					font-family: $font_1, $font_4;
					font-size: 26px;
					margin-bottom: 20px;
				}
				.board_member_pic {
					width: 250px!important;
					min-width: 250px;
					height: 420px!important;
					margin-right: 40px;
					margin-top: 0!important;
					margin-bottom: 0!important;
					cursor: auto;
				}
				.board_member_role {
					font-family: $font_5;
					font-size: 13px;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin-bottom: 20px;
					display: block;
				}
				.close_grid_modal {
					display: block;
					position: absolute;
					top: 10px;
					right: 10px;
				}
				p {
					display: block;
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				a {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h1 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h2 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h3 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h4 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h5 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				span {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				strong {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
			}
			&#board_member1 {
				top: 25%;
				left: 0;
				z-index: 2;
				.board_member_name {
					bottom: 0;
					left: 0;
				}
				.board_member_pic {
					width: 300px;
					height: 170px;
					margin-bottom: 30px;
				}
			}
			&#board_member2 {
				top: 0;
				left: -17%;
				z-index: 1;
				.board_member_name {
					top: 0;
					left: 0;
				}
				.board_member_pic {
					width: 200px;
					height: 300px;
					margin-top: 30px;
				}
			}
			&#board_member3 {
				top: 37%;
				left: -29%;
				z-index: 4;
				.board_member_name {
					bottom: 0;
					right: 0;
				}
				.board_member_pic {
					width: 160px;
					height: 160px;
					margin-bottom: 30px;
				}
			}
			&#board_member4 {
				top: -9%;
				left: 30%;
				z-index: 3;
				.board_member_name {
					bottom: 0;
					right: 0;
				}
				.board_member_pic {
					width: 250px;
					height: 170px;
					margin-bottom: 30px;
				}
			}
			&#board_member5 {
				top: -58%;
				left: 5%;
				z-index: 4;
				.board_member_name {
					top: 0;
					right: 0;
				}
				.board_member_pic {
					width: 250px;
					height: 170px;
					margin-top: 30px;
				}
			}
		}
	}
}
#coalition_testimonials {
	background-color: $color_axolotl_approx;
	padding: 0 260px;
	position: relative;
	a {
		text-align: center;
		max-width: 100%!important;
	}
	h1 {
		text-align: center;
		max-width: 100%!important;
		position: relative;
		&:after {
			position: absolute;
			left: calc(50% - 15px);
			right: calc(50% - 15px);
			border-bottom: 2px $color_aths_special_approx;
			height: 1px;
		}
	}
	h2 {
		text-align: center;
		max-width: 100%!important;
	}
	h3 {
		text-align: center;
		max-width: 100%!important;
	}
	h4 {
		text-align: center;
		max-width: 100%!important;
	}
	h5 {
		text-align: center;
		max-width: 100%!important;
	}
	p {
		text-align: center;
		max-width: 100%!important;
	}
	span {
		text-align: center;
		max-width: 100%!important;
	}
	strong {
		text-align: center;
		max-width: 100%!important;
	}
	#coalition_testimonials_carousel {
		width: 100%;
		margin: 0 auto;
		li {
			width: calc(100vw - 520px);
			font-family: $font_1, $font_4;
			.coalition_testimonial_pic {
				border-radius: 50%;
				width: 70px;
				height: 70px;
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 20px;
			}
			.coalition_testimonial_name {
				text-align: left;
				display: block;
				font-size: 20px;
				margin-bottom: 10px;
			}
			.coalition_testimonial_company {
				font-family: $font_5;
				text-transform: uppercase;
				text-align: left;
				display: block;
				font-size: 12px;
			}
			p {
				font-style: italic;
				font-weight: 700;
				font-size: 18px;
			}
		}
	}
	#coalition_testimonials_carousel_nav {
		position: absolute;
		top: 60vh;
		width: calc(100% - 520px);
		z-index: 5;
		height: 40px;
		display: flex;
		justify-content: space-between;
		.nextgal {
			padding: 10px;
			cursor: pointer;
			fill: $color_aths_special_approx;
			width: 40px;
		}
		.prevgal {
			padding: 10px;
			cursor: pointer;
			fill: $color_aths_special_approx;
			width: 40px;
		}
	}
}
.activities {
	background-image: url(/activities.jpg);
}
#activities_about {
	background-color: $color_go_ben_approx;
	background-image: url(/activities_about.jpg);
	flex-direction: row;
	h1 {
		color: $color_aths_special_approx;
		max-width: 100%;
		margin-bottom: 0;
		font-size: 40px;
		text-align: left;
	}
	h4 {
		color: $color_aths_special_approx;
		max-width: 100%;
	}
	p {
		padding: 0 20px;
		max-width: 100%;
		text-align: left;
	}
	.copy {
		color: $color_aths_special_approx;
		max-width: 60%;
		margin-top: 20px;
	}
	#greenhand {
		width: 140px;
		margin: 20px 0;
		display: inline-block;
	}
	.wrap {
		display: flex;
		width: 80%;
	}
}
#activities_proj1 {
	background-image: url(/act_proj1.jpg);
}
.impact {
	background-image: url(/impact.jpg);
}
#impact_stories {
	background-image: url(/leaf.png),linear-gradient(0deg,$color_sisal_approx,$color_sisal_approx);
	background-color: $color_sisal_approx;
	flex-direction: row;
	a {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	h1 {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	h2 {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	h3 {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	h4 {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	h5 {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	p {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	span {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	strong {
		max-width: 100%;
		width: 100%;
		color: $color_log_cabin_approx;
	}
	.impact_toggle_hide {
		font-size: 28px;
	}
	#impact_stories_grid {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 480px;
		width: 900px;
		position: relative;
		li {
			position: relative;
			.close_grid_modal {
				display: none;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			.impact_story_pic {
				width: 200px;
				height: 200px;
				border: 3px solid $white;
				background-color: $color_dune_approx;
				position: relative;
				cursor: pointer;
				background-size: cover;
				background-repeat: no-repeat;
				box-shadow: 1px 1px 5px $black;
			}
			.impact_story_name {
				display: none;
				position: absolute;
				text-align: center;
				line-height: 20px;
				font-size: 15px;
				font-family: $font_5;
			}
			.impact_story_role {
				display: none;
			}
			p {
				display: none;
			}
			&.modal_open {
				top: 0!important;
				left: -25%!important;
				right: 20%!important;
				bottom: auto!important;
				position: absolute;
				width: auto;
				z-index: 30!important;
				.grid_modal_inner {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					padding: 20px;
					width: 100%;
					background-color: $color_aths_special_approx;
					background-image: url(/logo-white.png);
					background-size: 50% auto;
					background-position: 100% 100%;
					background-repeat: no-repeat;
					z-index: 2;
				}
				&:after {
					position: fixed;
					top: 100vh;
					bottom: 0vh;
					right: 0vw;
					left: 0;
					content: " ";
					width: 110vw;
					height: 110vh;
					background-color: $black_60;
					pointer-events: none;
					z-index: -1;
				}
				.impact_story_name {
					display: block;
					position: relative;
					top: auto!important;
					left: auto!important;
					right: auto!important;
					bottom: auto!important;
					text-align: left;
					font-family: $font_1, $font_4;
					font-size: 26px;
					margin-bottom: 20px;
				}
				.impact_story_pic {
					width: 250px!important;
					min-width: 250px;
					height: 420px!important;
					margin: 0 40px 0 0!important;
				}
				.impact_story_role {
					font-family: $font_5;
					font-size: 13px;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin-bottom: 20px;
					display: block;
				}
				.close_grid_modal {
					display: block;
					position: absolute;
					top: 10px;
					right: 10px;
					img {
						width: 100%;
					}
				}
				p {
					display: block;
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				a {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h1 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h2 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h3 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h4 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h5 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				span {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				strong {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
			}
			&#impact_story1 {
				top: 35%;
				left: 0;
				z-index: 2;
				.impact_story_pic {
					width: 300px;
					height: 170px;
				}
			}
			&#impact_story2 {
				top: 0;
				left: -25%;
				z-index: 1;
				.impact_story_pic {
					width: 200px;
					height: 300px;
				}
			}
			&#impact_story3 {
				top: 20%;
				left: -30%;
				z-index: 4;
				.impact_story_pic {
					width: 160px;
					height: 160px;
				}
			}
			&#impact_story4 {
				top: -10%;
				left: 35%;
				z-index: 3;
				.impact_story_pic {
					width: 250px;
					height: 170px;
				}
			}
			&#impact_story5 {
				top: -60%;
				left: 5%;
				z-index: 4;
				.impact_story_pic {
					width: 250px;
					height: 170px;
				}
			}
		}
	}
	#impact_stories_map_grid {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		li {
			position: relative;
			.close_grid_modal {
				display: none;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			.impact_story_pic {
				width: 200px;
				height: 200px;
				border: 3px solid $white;
				background-color: $color_dune_approx;
				position: relative;
				cursor: pointer;
				background-size: cover;
				background-repeat: no-repeat;
				box-shadow: 1px 1px 5px $black;
				display: none;
			}
			.impact_story_name {
				display: none;
				position: absolute;
				text-align: center;
				line-height: 20px;
				font-size: 15px;
				font-family: $font_5;
			}
			.impact_story_role {
				display: none;
			}
			p {
				display: none;
			}
			&.modal_open {
				top: 0!important;
				left: -25%!important;
				right: 20%!important;
				bottom: auto!important;
				position: absolute;
				width: auto;
				z-index: 30!important;
				.grid_modal_inner {
					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					padding: 20px;
					width: 100%;
					background-color: $color_aths_special_approx;
					background-image: url(/logo-white.png);
					background-size: 50% auto;
					background-position: 100% 100%;
					background-repeat: no-repeat;
					z-index: 2;
				}
				&:after {
					position: fixed;
					top: 100vh;
					bottom: 0vh;
					right: 0vw;
					left: 0;
					content: " ";
					width: 110vw;
					height: 110vh;
					background-color: $black_60;
					pointer-events: none;
					z-index: -1;
				}
				.impact_story_name {
					display: block;
					position: relative;
					top: auto!important;
					left: auto!important;
					right: auto!important;
					bottom: auto!important;
					text-align: left;
					font-family: $font_1, $font_4;
					font-size: 26px;
					margin-bottom: 20px;
				}
				.impact_story_pic {
					width: 250px!important;
					min-width: 250px;
					height: 420px!important;
					margin: 0 40px 0 0!important;
					display: block;
				}
				.impact_story_role {
					font-family: $font_5;
					font-size: 13px;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin-bottom: 20px;
					display: block;
				}
				.close_grid_modal {
					display: block;
					position: absolute;
					top: 10px;
					right: 10px;
					img {
						width: 100%;
					}
				}
				p {
					display: block;
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				a {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h1 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h2 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h3 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h4 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				h5 {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				span {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				strong {
					color: $color_log_cabin_approx;
					max-width: 100%!important;
				}
				.impact_story_map_pin {
					display: none;
				}
			}
			.impact_story_map_pin {
				background-image: url(/impact_stories_map_pin_default.png);
				background-size: contain;
				background-repeat: no-repeat;
				width: 50px;
				height: 80px;
				position: relative;
				z-index: 2;
				&:hover {
					background-image: url(/impact_stories_map_pin.png);
					background-size: contain;
					&:after {
						content: "";
						background-image: url(/kitty.jpg);
						border-radius: 50%;
						width: 40px;
						height: 40px;
						position: absolute;
						left: 5px;
						top: 5px;
						background-size: cover;
						background-repeat: no-repeat;
					}
				}
			}
			&#impact_story1 {
				top: 20%;
				left: -10%;
			}
			&#impact_story2 {
				top: 25%;
				left: 5%;
			}
			&#impact_story3 {
				top: -20%;
				left: 25%;
			}
			&#impact_story4 {
				top: -40%;
				left: 0;
			}
			&#impact_story5 {
				top: 0;
				left: 5%;
			}
		}
	}
}
.mission {
	background-image: url(/mission.jpg);
}
#mission_how {
	background-image: url(/mission_how.jpg);
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	h1 {
		font-size: 46px;
		width: 100%;
		max-width: 100%;
	}
	p {
		font-size: 14px;
		width: 100%;
		max-width: 100%;
	}
	h4 {
		width: 100%;
		max-width: 100%;
	}
	.wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	#circle_outer {
		width: 50%;
		text-align: center;
	}
	#shader_outer {
		width: 50%;
	}
	#shader {
		width: 100%;
	}
	#circle {
		flex-shrink: 0;
		z-index: 3000;
		width: 24vw;
		height: 24vw;
		position: relative;
		margin: 0 auto;
		display: inline-block;
		background-image: url(/circleback.svg);
		background-size: 90%;
		background-position: 50%;
		background-repeat: no-repeat;
		img {
			transition: all .4s ease;
			width: 6vw;
			cursor: pointer;
		}
	}
	#circle[data-cur=seeds] {
		#seeds {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#hands {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		#lake {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#heart {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	#circle[data-cur=lake] {
		#lake {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#heart {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		#seeds {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#hands {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	#circle[data-cur=hands] {
		#hands {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#lake {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		#heart {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#seeds {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	#circle[data-cur=heart] {
		#heart {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#seeds {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
		#hands {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		#lake {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	#copyblock {
		background: url(/copyblock.png);
		background-size: cover;
		padding: 20px;
		margin-top: 10px;
		display: flex;
		width: 100%;
		align-items: center;
		p {
			font-size: 17px;
			color: $color_kelp_approx;
			margin-bottom: 0;
			line-height: 1.3;
		}
	}
	#blocktext {
		width: 100%;
		color: $color_kelp_approx;
		padding: 0;
		font-size: 14px;
	}
	#green {
		width: 100px;
		margin-right: 20px;
	}
}
#mission_why {
	background-image: url(/mission_why.jpg);
	#photos {
		position: absolute;
		top: 0;
		left: -10%;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 100% 30%;
	}
	.wrap {
		width: 80%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		color: $color_aths_special_approx;
		position: relative;
		z-index: 55;
		text-align: center;
		width: 100%;
		max-width: 100%;
	}
	h4 {
		color: $color_aths_special_approx;
		position: relative;
		z-index: 55;
		text-align: center;
		width: 100%;
		max-width: 100%;
	}
	p {
		color: $color_aths_special_approx;
		position: relative;
		z-index: 55;
		text-align: center;
		width: 100%;
		max-width: 100%;
	}
}
#news_calendar {
	background-color: $color_log_cabin_approx;
	h1 {
		font-size: 35px;
	}
	h4 {
		font-size: 12px;
	}
}
#news_blog {
	background-color: $color_news_blog_bg;
	height: auto;
	&.modal_open {
		#events_card {
			display: none!important;
		}
		#news_blog_pager {
			display: none!important;
		}
		.filters {
			display: none!important;
		}
		.visible {
			display: none!important;
			&.modal_open {
				display: flex!important;
			}
		}
		.postgrid {
			overflow: visible;
		}
		.news_blog_pager {
			display: none!important;
		}
	}
	.filters {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px 0 20px;
		input {
			background: none;
			padding: 10px;
			border: 1px solid $color_log_cabin_approx;
			text-transform: uppercase;
			outline: none;
			border-radius: 5px;
			height: 40px;
			width: 250px;
			display: inline-block;
		}
		select {
			background: none;
			padding: 10px;
			border: 1px solid $color_log_cabin_approx;
			text-transform: uppercase;
			outline: none;
			border-radius: 5px;
			height: 40px;
			width: 250px;
			display: inline-block;
			margin-right: 30px;
		}
	}
	.wrap {
		width: 100%;
		padding: 0;
	}
	#events_card {
		display: flex;
		width: calc(40% - 5px);
		min-height: 500px;
		background-image: url(/coalbout.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		order: 1;
		h2 {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
		}
		h3 {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
			font-size: 20px;
		}
		h4 {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
			margin-top: 0;
			margin-bottom: 8px;
			font-size: 10px;
		}
		h5 {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
			margin-bottom: 8px;
		}
		p {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
		}
		a {
			text-decoration: none;
		}
		.events_calendar_carousel {
			margin: 0;
			li {
				width: 100%;
				align-items: flex-start;
				height: auto;
			}
			.event_image {
				margin-right: 20px;
				min-width: 85px;
				height: 85px;
			}
			p {
				margin-bottom: 0;
			}
		}
		#postgrid_carousel_nav {
			width: 380px;
		}
		.curs {
			color: $color_log_cabin_approx;
			margin-right: 20px;
			font-size: 24px;
		}
	}
	.news_blog_pager {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		margin: 0 auto;
		li {
			text-align: center;
			color: $color_log_cabin_approx;
			font-size: 30px;
			font-weight: 700;
			cursor: pointer;
			margin: auto 10px;
			font-family: $font_2;
			text-transform: uppercase;
			letter-spacing: 2px;
			opacity: .9;
			margin-bottom: 20px;
			position: relative;
			&:after {
				position: absolute;
				opacity: .9;
				height: 0;
				width: 0;
				border: 5px solid transparent;
				top: calc(50% - 5px);
			}
			&:before {
				position: absolute;
				opacity: .9;
				height: 0;
				width: 0;
				border: 5px solid transparent;
				top: calc(50% - 5px);
			}
			&#next_pager {
				order:1;
				&:after {
					content: " ";
					border-left-color: $color_log_cabin_approx;
					right: -20px;
					z-index: 2;
				}
			}
			&#prev_pager {
				order: 0;
				&:before {
					content: " ";
					border-right-color: $color_log_cabin_approx;
					left: -20px;
					z-index: 2;
				}
			}
		}
	}
}
.contact {
	background-image: url(/contact.jpg);
}
#photos {
	background-image: url(/photos.png);
}
.slicent {
	width: 100%;
	.centframe {
		width: 80%;
		height: 70%;
		background-size: cover;
		background-position: 50%;
	}
	.nextgal {
		position: absolute;
		width: 60px;
		padding: 20px;
		background: $black_50;
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
		right: -10%;
		background: none;
	}
	.prevgal {
		position: absolute;
		width: 60px;
		padding: 20px;
		background: $black_50;
		top: 50%;
		transform: translateY(-50%);
		z-index: 50;
		left: -10%;
		background: none;
	}
}
nav {
	position: absolute;
	right: 20px;
	top: 10%;
	bottom: 5%;
	z-index: 40;
}
nav[data-postopen=true] {
	display: none;
}
@-webkit-keyframes pulse {
	0% {
		background: transparent;
	}
	50% {
		background: $color_aths_special_approx;
	}
	to {
		background: transparent;
	}
}
@keyframes pulse {
	0% {
		background: transparent;
	}
	50% {
		background: $color_aths_special_approx;
	}
	to {
		background: transparent;
	}
}
@-webkit-keyframes subpulse {
	0% {
		background: transparent;
	}
	50% {
		background: $color_aths_special_approx;
	}
	to {
		background: transparent;
	}
}
@keyframes subpulse {
	0% {
		background: transparent;
	}
	50% {
		background: $color_aths_special_approx;
	}
	to {
		background: transparent;
	}
}
.subdots {
	flex-direction: column;
	align-items: flex-end;
	opacity: 0;
	pointer-events: none;
	right: 0;
	top: 0;
	justify-content: center;
	padding: 0;
	transition: all .2s ease;
	height: 0;
	display: flex;
	li {
		display: flex;
		position: relative;
		color: $color_aths_special_approx;
		font-family: $font_2;
		font-size: 12px;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		margin: 0;
		height: 100%;
		width: 100%;
		flex: 1 1 auto;
		margin-bottom: 0;
		&:hover .subdot {
			animation: subpulse 1s infinite;
		}
	}
}
.subdot {
	width: 9px;
	height: 9px;
	margin-left: 5px;
	cursor: pointer;
	border: 1px solid $color_aths_special_approx;
	border-radius: 50px;
	transform: translateX(4px);
}
#dots {
	flex-direction: column;
	align-items: flex-end;
	display: flex;
	height: 100%;
	.wrap {
		display: flex;
		height: 100%;
	}
	.slidename {
		top: calc(-50% +7px);
		position: relative;
		left: 0;
	}
	.dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: transparent;
		border: 1px solid $color_aths_special_approx;
		transition: all .3s ease;
		margin-left: 20px;
		overflow: visible;
		flex-shrink: 0;
		left: -3px;
		top: calc(-50% +7px);
		position: relative;
	}
	> li {
		position: relative;
		align-items: flex-end;
		flex-direction: column;
		flex-shrink: 0;
		// height: 100%;
		flex: 1 1 auto;
		display: flex;
		a {
			display: flex;
			color: $color_aths_special_approx;
			font-family: $font_2;
			text-transform: uppercase;
			font-size: 12px;
			align-items: center;
		}
		&:before {
			content: "";
			position: absolute;
			top: 15px;
			bottom: 0;
			display: block;
			width: 1px;
			margin-top: 0;
			background: $color_aths_special_approx;
			right: 10px;
		}
		&:last-child {
			min-height: 0;
			height: auto;
			flex: 0 0 auto;
			&:before {
				display: none;
				content: none;
			}
			.dot:after {
				display: none;
			}
		}
		&.active {
			transition: all .3s ease;
			background: none;
			.dot {
				background: $color_aths_special_approx;
				width: 21px;
				height: 21px;
				left: 0;
			}
			&.subnav {
				.wrap {
					height: auto;
				}
				&:before {
					content: none;
				}
			}
			.subdots {
				padding-right: 10px;
				flex: 1 1 auto;
				opacity: 1;
				pointer-events: auto;
				display: flex;
				height: 100%;
				align-items: stretch;
				overflow-y: hidden;
				overflow-x: visible;
				margin-top: -4px;
				li {
					padding: 50% 0 0;
					// min-height: 50%;
					&:after {
						content: "";
						position: absolute;
						display: block;
						background: $color_aths_special_approx;
						width: 1px;
						left: auto;
						margin: 0;
						top: calc(50% +14px);
						bottom: 0;
					}
					&:before {
						content: "";
						position: absolute;
						display: block;
						background: $color_aths_special_approx;
						width: 1px;
						left: auto;
						margin: 0;
						top: 0;
						bottom: calc(50% - 5px);
					}
					&:last-child {
						margin-bottom: 0;
					}
					+ li {
						padding: 50% 0;
						&:before {
							bottom: calc(50% +4px);
						}
						&:after {
							top: calc(50% +4px);
						}
					}
					&:only-child {
						padding: 0;
						&:after {
							top: calc(50% +4px);
							bottom: 0;
						}
						&:before {
							top: 0;
							bottom: calc(50% +4px);
						}
					}
					a {
						line-height: 11px;
					}
				}
			}
		}
		&:nth-last-child(2).active .subdots li {
			padding: 25% 0 0;
			&:before {
				bottom: calc(50% - 4px);
			}
			&:after {
				top: calc(50% +14px);
				bottom: -4px;
			}
			+ li {
				padding: 25% 0;
				&:before {
					bottom: calc(50% +4px);
					// top: 7%;
				}
				&:after {
					top: calc(50% +4px);
					bottom: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:nth-last-child(3).active .subdots li {
			padding: 25% 0 0;
			&:before {
				bottom: calc(50% - 4px);
			}
			&:after {
				top: calc(50% +14px);
				bottom: -4px;
			}
			+ li {
				padding: 25% 0;
				&:before {
					bottom: calc(50% +4px);
					// top: 7%;
				}
				&:after {
					top: calc(50% +4px);
					bottom: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:not(.active):hover .dot {
			animation: pulse 1s infinite;
		}
	}
}
[data-id=impact][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx;
		&:hover {
			background: $color_log_cabin_approx;
		}
	}
	#dots > li a {
		color: $color_log_cabin_approx;
	}
	.subdots li {
		color: $color_log_cabin_approx;
		.subdot {
			border-color: $color_log_cabin_approx;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx;
	}
	.active .dot {
		color: $color_log_cabin_approx;
		border-color: $color_log_cabin_approx;
		background: $color_log_cabin_approx;
	}
}
[data-id=impact_about][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx;
		&:hover {
			background: $color_log_cabin_approx;
		}
	}
	#dots > li a {
		color: $color_log_cabin_approx;
	}
	.subdots li {
		color: $color_log_cabin_approx;
		.subdot {
			border-color: $color_log_cabin_approx;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx;
	}
	.active .dot {
		color: $color_log_cabin_approx;
		border-color: $color_log_cabin_approx;
		background: $color_log_cabin_approx;
	}
}
[data-currentsub="impact_about"][data-open=true] #dots>li a, [data-currentsub="impact_about"][data-open=true] .subdots li {
	color: $color_aths_special_approx !important;
}
[data-currentsub="impact_about"][data-open=true] .active .dot {
	color: $color_aths_special_approx !important;
    border-color: $color_aths_special_approx !important;
    background: $color_aths_special_approx !important;
}
[data-currentsub="impact_about"][data-open=true] .dot {
    border-color: $color_aths_special_approx !important;
}
[data-currentsub="impact_about"][data-open=true] .subdots li .subdot {
	border-color: $color_aths_special_approx !important;
}
.tab[data-slide=impact] .subdots li+li:after {
    top: 65% !important;
}
.tab[data-slide=impact] .subdots li:nth-child(2):before {
	    bottom: 47% !important;
}
.tab[data-slide=impact] .subdots li:nth-child(2):after {
	    top: 65% !important;
}
// [data-currentsub=impact_about][data-open=true] {
// 	.dot {
// 		border-color: $color_log_cabin_approx!important;
// 		&:hover {
// 			background: $color_log_cabin_approx!important;
// 		}
// 	}
// 	.active {
// 		.dot {
// 			color: $color_log_cabin_approx!important;
// 			border-color: $color_log_cabin_approx!important;
// 			background: $color_log_cabin_approx!important;
// 		}
// 		.subdots li .subdot[data-subdex="1"] {
// 			background: $color_log_cabin_approx!important;
// 		}
// 	}
// 	#dots > li {
// 		&:before {
// 			background: $color_log_cabin_approx!important;
// 		}
// 		a {
// 			color: $color_log_cabin_approx!important;
// 		}
// 		&.active .subdots li {
// 			&:after {
// 				background: $color_log_cabin_approx!important;
// 			}
// 			&:before {
// 				background: $color_log_cabin_approx!important;
// 			}
// 		}
// 	}
// 	.subdots li {
// 		color: $color_log_cabin_approx!important;
// 		.subdot {
// 			border-color: $color_log_cabin_approx!important;
// 		}
// 	}
// 	.subdot:hover {
// 		background: $color_log_cabin_approx!important;
// 	}
// }

[data-currentsub=coalition_structure][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx!important;
		&:hover {
			background: $color_log_cabin_approx!important;
		}
	}
	.active {
		.dot {
			color: $color_log_cabin_approx!important;
			border-color: $color_log_cabin_approx!important;
			background: $color_log_cabin_approx!important;
		}
		.subdots li .subdot[data-subdex="1"] {
			background: $color_log_cabin_approx!important;
		}
	}
	#dots > li {
		&:before {
			background: $color_log_cabin_approx!important;
		}
		a {
			color: $color_log_cabin_approx!important;
		}
		&.active .subdots li {
			&:after {
				background: $color_log_cabin_approx!important;
			}
			&:before {
				background: $color_log_cabin_approx!important;
			}
		}
	}
	.subdots li {
		color: $color_log_cabin_approx!important;
		.subdot {
			border-color: $color_log_cabin_approx!important;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx!important;
	}
}
[data-currentsub=coalition_who][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx!important;
		&:hover {
			background: $color_log_cabin_approx!important;
		}
	}
	.active {
		.dot {
			color: $color_log_cabin_approx!important;
			border-color: $color_log_cabin_approx!important;
			background: $color_log_cabin_approx!important;
		}
		.subdots li .subdot[data-subdex="0"] {
			background: $color_log_cabin_approx!important;
		}
	}
	#dots > li {
		&:before {
			background: $color_log_cabin_approx!important;
		}
		a {
			color: $color_log_cabin_approx!important;
		}
		&.active .subdots li {
			&:after {
				background: $color_log_cabin_approx!important;
			}
			&:before {
				background: $color_log_cabin_approx!important;
			}
		}
	}
	.subdots li {
		color: $color_log_cabin_approx!important;
		.subdot {
			border-color: $color_log_cabin_approx!important;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx!important;
	}
}
[data-currentsub=impact_map][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx!important;
		&:hover {
			background: $color_log_cabin_approx!important;
		}
	}
	.active {
		.dot {
			color: $color_log_cabin_approx!important;
			border-color: $color_log_cabin_approx!important;
			background: $color_log_cabin_approx!important;
		}
		.subdots li .subdot[data-subdex="0"] {
			background: $color_log_cabin_approx!important;
		}
	}
	#dots > li {
		&:before {
			background: $color_log_cabin_approx!important;
		}
		a {
			color: $color_log_cabin_approx!important;
		}
		&.active .subdots li {
			&:after {
				background: $color_log_cabin_approx!important;
			}
			&:before {
				background: $color_log_cabin_approx!important;
			}
		}
	}
	.subdots li {
		color: $color_log_cabin_approx!important;
		.subdot {
			border-color: $color_log_cabin_approx!important;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx!important;
	}
}
[data-currentsub=impact_stories][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx!important;
		&:hover {
			background: $color_log_cabin_approx!important;
		}
	}
	.active {
		.dot {
			color: $color_log_cabin_approx!important;
			border-color: $color_log_cabin_approx!important;
			background: $color_log_cabin_approx!important;
		}
		.subdots li .subdot[data-subdex="1"] {
			background: $color_log_cabin_approx!important;
		}
	}
	#dots > li {
		&:before {
			background: $color_log_cabin_approx!important;
		}
		a {
			color: $color_log_cabin_approx!important;
		}
		&.active .subdots li {
			&:after {
				background: $color_log_cabin_approx!important;
			}
			&:before {
				background: $color_log_cabin_approx!important;
			}
		}
	}
	.subdots li {
		color: $color_log_cabin_approx!important;
		.subdot {
			border-color: $color_log_cabin_approx!important;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx!important;
	}
}
[data-currentsub=news_blog][data-open=true] {
	.dot {
		border-color: $color_log_cabin_approx!important;
		&:hover {
			background: $color_log_cabin_approx!important;
		}
	}
	.active {
		.dot {
			color: $color_log_cabin_approx!important;
			border-color: $color_log_cabin_approx!important;
			background: $color_log_cabin_approx!important;
		}
		.subdots li .subdot[data-subdex="1"] {
			background: $color_log_cabin_approx!important;
		}
	}
	#dots > li {
		&:before {
			background: $color_log_cabin_approx!important;
		}
		a {
			color: $color_log_cabin_approx!important;
		}
		&.active .subdots li {
			&:after {
				background: $color_log_cabin_approx!important;
			}
			&:before {
				background: $color_log_cabin_approx!important;
			}
		}
	}
	.subdots li {
		color: $color_log_cabin_approx!important;
		.subdot {
			border-color: $color_log_cabin_approx!important;
		}
	}
	.subdot:hover {
		background: $color_log_cabin_approx!important;
	}
}
.tab[data-slide="mission"] {
	.subdots li {
		&:first-child {
			padding: 30% 0 0 !important;
			&:before {
				bottom: calc(50% - 1px) !important;
			}
			&:after {
				top: calc(50% + 10px) !important;
				bottom: 0 !important;
			}
		}
		&:last-child {
			padding: 30% 0 50% !important;
			&:before {
				bottom: calc(50% + 7px) !important;
			}
			&:after {
				top:calc(50% + 1px) !important;
			}
		}
	}
}
.tab[data-slide="impact"] {
	.subdots li {
		padding: 50% 0 20% !important;
		&:last-child {
			padding:20% 0 50% !important;
		}
		&+li {
			&:before {
				bottom: calc(50% + 14px) !important;
			}
			&:after {
				top: calc(50%  - 4px) !important;
			}
		}
	}
}
.tab[data-slide="coalition"] {
	.subdots li {
		&:first-child {
			&:before {
				bottom: calc(50% + 4px) !important;
			}
			&:after {
				top: calc(50% + 5px) !important;
			}
		}
		&+li {
			margin-bottom: -1px !important;
			&:after {
				bottom: -3px !important;
			}
		}
		&:last-child {
			margin-bottom: 2px !important;
			margin-top: 0 !important;	
		}
	}
}
#home-hero-video {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: none;
	pointer-events: none;
}
@media(max-width:1775px) {
	#home-hero-video {
		width: 500%;
		height: 140vh;
		top: 0;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
	}
}
.vidwrap {
	pointer-events: none;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.vidshader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $black_50;
	z-index: 2;
}
#dot {
	background-image: url(/dot.png);
	width: 318px;
	height: 216px;
	background-size: cover;
	transform: translate(20px,110px);
}
#youwrap {
	width: 40%;
	position: relative;
	padding-bottom: 22.5%;
	height: 0;
	margin-bottom: 20px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#story {
	width: 60%;
	max-width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	background: $color_periglacial_blue_approx;
	padding: 20px;
	position: relative;
	img {
		max-width: 100%;
	}
	.paper {
		width: 400px;
		flex-shrink: 0;
		background-size: cover;
		margin-right: 40px;
		max-width: 100%;
	}
	h1 {
		color: $color_dune_approx;
		margin-bottom: 0;
	}
	h4 {
		color: $color_dune_approx;
		margin-top: 0;
		margin-bottom: 20px;
	}
	p {
		color: $color_dune_approx;
	}
}
.paper {
	max-width: 100%;
	transition: all .2s ease;
	cursor: pointer;
	border: 5px solid $color_aths_special_approx;
	padding: 0;
	margin: 0;
	background-color: $color_aths_special_approx;
	&:hover {
		box-shadow: 5px 5px 5px $black_50;
		transform: translate(-5px,-5px);
		z-index: 9999;
	}
}
#map {
	max-width: 760px;
}
#impact_map {
	flex-direction: row;
	max-width: none;
	position: relative;
	background-color: $color_eagle_approx;
	justify-content: space-between;
	a {
		color: $color_dune_approx;
	}
	h1 {
		color: $color_dune_approx;
	}
	h4 {
		color: $color_dune_approx;
	}
	p {
		color: $color_dune_approx;
	}
	.impact_map_key {
		position: absolute;
		top: -30%;
		color: $color_log_cabin_approx;
		left: 15%;
		display: flex;
		align-items: center;
		font-size: 30px;
		pointer-events: none;
		img {
			height: 70px;
			margin-right: 10px;
			display: block;
		}
	}
	#map {
		padding: 0 40px;
		width: 70%;
		position: relative;
		h5 {
			width: 100%;
			text-align: center;
			margin: 30px auto;
			color: $black;
			font-size: 12px;
			font-family: $font_5;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}
#collage {
	justify-content: flex-end;
	align-items: flex-end;
	height: 60vh;
	position: relative;
	flex-wrap: wrap;
	width: 60%;
	max-height: 400px;
	display: flex;
}
#storycont {
	display: flex;
	transition: all .3s ease;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	width: 70%;
	#stories_collage {
		width: 100%;
		position: relative;
	}
	#stories_map {
		width: 100%;
		position: relative;
	}
	#impact_stories_map {
		width: 70%;
		position: relative;
		z-index: 1;
		margin: 0 auto 40px;
		display: block;
	}
}
#stories {
	width: 100%;
	display: flex;
	align-items: center;
}
#storysvg {
	width: 100%;
}
#papeone {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
}
#papethree {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-69%);
	width: 70%;
}
#papefive {
	flex: 40%;
	z-index: 10;
	width: 10%;
	position: absolute;
	width: 50%;
	bottom: 0;
	left: 0;
}
#papefour {
	flex: 50%;
	width: 50%;
	transform: translate(25%,30%);
	position: absolute;
}
#papetwo {
	flex: 20%;
	width: 60%;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-50%);
}
#storyswitch {
	width: 600px;
	max-width: 100%;
	display: flex;
	cursor: pointer;
	div {
		width: 50%;
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		background: $color_aths_special_approx;
		font-family: $font_2;
		color: $color_tundora_approx;
		&.storyviewmodeon {
			background: $color_tundora_approx;
			color: $color_aths_special_approx;
		}
		&.timeon {
			background: $color_tundora_approx;
			color: $color_aths_special_approx;
		}
	}
}
#timeswitch {
	width: 600px;
	max-width: 100%;
	display: flex;
	cursor: pointer;
	div {
		width: 50%;
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		background: $color_aths_special_approx;
		font-family: $font_2;
		color: $color_tundora_approx;
		&.storyviewmodeon {
			background: $color_tundora_approx;
			color: $color_aths_special_approx;
		}
		&.timeon {
			background: $color_tundora_approx;
			color: $color_aths_special_approx;
		}
	}
}
#activities_intro {
	align-items: flex-start;
	h1 {
		text-align: left;
		max-width: 60%;
	}
	p {
		text-align: left;
		max-width: 60%;
	}
	.opener.curs {
		font-size: 30px;
		img {
			width: 30px;
		}
	}
}
#actproj1_collage1 {
	background-image: url(/act_proj1_collage1.jpg);
	background-size: cover;
	background-position: 50%;
	height: 150px;
	width: 120px;
	position: absolute;
	left: 35%;
	top: -4%;
	transform: rotate(-10deg);
}
#actproj1_collage2 {
	background-image: url(/act_proj1_collage2.jpg);
	background-position: 50%;
	background-size: cover;
	height: 200px;
	width: 200px;
	position: absolute;
	left: -4%;
	top: 35%;
	transform: rotate(-24deg);
}
#actproj1_collage3 {
	background-image: url(/act_proj1_collage3.jpg);
	background-size: cover;
	height: 150px;
	width: 200px;
	position: absolute;
	left: -2%;
	top: 15%;
	transform: rotate(11deg);
}
#actproj1_collage4 {
	background-image: url(/act_proj1_collage4.jpg);
	background-size: cover;
	height: 150px;
	width: 200px;
	position: absolute;
	left: 8%;
	top: 1%;
	transform: rotate(-10deg);
	filter: grayscale(1);
}
#actproj1_collage5 {
	background-image: url(/act_proj1_collage5.jpg);
	background-size: cover;
	height: 120px;
	width: 220px;
	position: absolute;
	top: -2%;
	left: 17%;
	transform: rotate(14deg);
}
#actproj1_collage6 {
	background-image: url(/act_proj1_collage6.jpg);
	background-size: cover;
	background-position: 50%;
	height: 250px;
	width: 160px;
	position: absolute;
	bottom: 5%;
	left: -1%;
	transform: rotate(-10deg);
}
#actproj1_collage7 {
	background-image: url(/act_proj1_collage7.jpg);
	background-size: cover;
	height: 140px;
	width: 240px;
	position: absolute;
	top: -7%;
	left: 43%;
	transform: rotate(9deg);
}
.projmode {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 30;
	pointer-events: none;
	transition: all .3s ease;
}
.allproj {
	z-index: 55;
	margin: -5% 0 5% -90%;
}
.projslide {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	background-size: cover;
	padding: 0 120px;
	background-color: $black;
}
.activitiesprojsub {
	align-items: center;
	background-color: $black;
	align-items: flex-start;
	h1 {
		text-align: center;
		max-width: 100%;
		width: 100%;
		margin-bottom: 5px;
		margin-top: 0;
		z-index: 10;
	}
	h4 {
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
	p {
		text-align: center;
		max-width: 100%;
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.wrap {
		z-index: 1;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.openproj {
		z-index: 2;
		.boxbutt {
			padding: 8px 25px;
			font-size: 14px;
			margin: 0;
			position: absolute;
			top: 10vh;
			left: 140px;
		}
	}
	.projmain {
		background-image: url(/proj1troback.jpg);
		text-align: left;
		padding: 0 220px;
		h1 {
			text-align: left;
		}
		h4 {
			text-align: left;
		}
		p {
			text-align: left;
		}
	}
	.projgallery {
		position: relative;
		background-image: url(/activitiesprojgallery.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 160px;
		.projgallerynav {
			position: absolute;
			top: 50vh;
			width: calc(75vw - 320px);
			z-index: 5;
			height: 40px;
			display: flex;
			justify-content: space-between;
			pointer-events: none;
			.nextgal {
				pointer-events: all;
				background-color: $color_log_cabin_approx;
				padding: 10px;
				cursor: pointer;
				fill: $color_aths_special_approx;
				width: 40px;
			}
			.prevgal {
				pointer-events: all;
				background-color: $color_log_cabin_approx;
				padding: 10px;
				cursor: pointer;
				fill: $color_aths_special_approx;
				width: 40px;
			}
		}
		.projgalleryslider {
			width: 100%;
			li {
				width: calc(50vw - 320px);
				height: 400px;
				position: relative;
				z-index: 1;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50%;
				&:after {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: $black_50;
				}
				&.slick-current {
					&:last-child {
						z-index: 3;
						width: calc(75vw - 320px);
						margin: 0 0 0 -12.5vw;
						box-shadow: 0 0 6px $black;
						&:after {
							content: none;
						}
					}
					+ .slick-active {
						z-index: 3;
						width: calc(75vw - 320px);
						margin: 0 -12.5vw;
						box-shadow: 0 0 6px $black;
						&:after {
							content: none;
						}
					}
				}
			}
		}
	}
	.projteam {
		flex-direction: row;
		background-color: $color_fuscous_gray_approx;
		h1 {
			text-align: left;
		}
		h4 {
			text-align: left;
		}
		p {
			text-align: left;
		}
		.wrap {
			width: 30%;
			text-align: left;
			align-items: flex-start;
			margin: 0;
		}
		.projteamgrid {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			height: 400px;
			width: 650px;
			li {
				transform: translateY(-80px);
				position: relative;
				.team_member_pic {
					width: 200px;
					height: 200px;
					border: 3px solid $white;
					background-color: $color_dune_approx;
					position: relative;
					background-size: cover;
					background-repeat: no-repeat;
					box-shadow: 1px 1px 5px $black;
				}
				&#team_member1 {
					top: 0;
					left: 0;
					z-index: 2;
					.team_member_pic {
						width: 300px;
						height: 170px;
					}
				}
				&#team_member2 {
					top: 40%;
					left: -50%;
					z-index: 1;
					.team_member_pic {
						width: 200px;
						height: 300px;
					}
				}
				&#team_member3 {
					top: -26%;
					left: 23%;
					z-index: 7;
					.team_member_pic {
						width: 160px;
						height: 160px;
					}
				}
				&#team_member4 {
					top: 5%;
					left: 0;
					z-index: 3;
					.team_member_pic {
						width: 250px;
						height: 170px;
					}
				}
				&#team_member5 {
					top: -92%;
					left: 40%;
					z-index: 4;
					.team_member_pic {
						width: 250px;
						height: 170px;
					}
				}
				&#team_member6 {
					top: -109%;
					left: 17%;
					z-index: 6;
					.team_member_pic {
						width: 220px;
						height: 200px;
					}
				}
				&#team_member7 {
					top: -124%;
					left: 42%;
					z-index: 7;
					.team_member_pic {
						width: 190px;
						height: 230px;
					}
				}
			}
		}
		.projteamlist {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				text-align: left;
				width: 100%;
				font-family: $font_5;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
			}
		}
	}
	.projquotes {
		padding: 0 260px;
		h1 {
			text-align: center;
		}
		h4 {
			text-align: center;
		}
		p {
			text-align: center;
		}
		.projquotescarousel {
			width: 100%;
			margin: 0 auto;
			li {
				width: calc(100vw - 520px);
				font-family: $font_1, $font_4;
				.project_quote_pic {
					border-radius: 50%;
					width: 70px;
					height: 70px;
					background-size: cover;
					background-repeat: no-repeat;
					margin-right: 20px;
				}
				.project_quote_name {
					text-align: left;
					display: block;
					font-size: 20px;
					margin-bottom: 10px;
				}
				.project_quote_company {
					font-family: $font_5;
					text-transform: uppercase;
					text-align: left;
					display: block;
					font-size: 12px;
				}
				p {
					font-style: italic;
					font-weight: 700;
					font-size: 18px;
				}
			}
		}
		.projquotesnav {
			position: absolute;
			top: 50vh;
			width: calc(100% - 380px);
			z-index: 5;
			height: 40px;
			display: flex;
			justify-content: space-between;
			pointer-events: none;
			.nextgal {
				pointer-events: all;
				padding: 10px;
				cursor: pointer;
				fill: $color_aths_special_approx;
			}
			.prevgal {
				pointer-events: all;
				padding: 10px;
				cursor: pointer;
				fill: $color_aths_special_approx;
			}
		}
	}
}
#actphotos {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
}
.bot {
	display: flex;
	align-items: center;
}
#phobot {
	display: none;
}
#photop {
	display: none;
}
#approach {
	align-items: flex-start;
}
#viewer[data-currentsub=news_blog] {
	#news {
		overflow-y: scroll!important;
		.subs.open {
			margin-top: 0!important;
			transform: none!important;
		}
	}
	.sub#news_calendar {
		display: none!important;
	}
}

nav[data-currentsub=news_blog][data-postopen=true] {
	display: none;
}
.events_calendar_carousel {
	width: 380px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	.slick-track {
		align-items: flex-start;
		display: flex;
		justify-content: center;
	}
	li {
		display: flex;
		justify-content: center;
		width: 380px;
		height: 420px;
		float: none!important;
		align-items: center;
		text-align: left;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		outline: none!important;
		h3 {
			color: $color_log_cabin_approx;
			margin-bottom: 5px;
			max-width: 100%!important;
		}
		h4 {
			color: $color_log_cabin_approx;
			margin-bottom: 10px;
			font-size: 12px;
			max-width: 100%!important;
		}
		h5 {
			color: $color_log_cabin_approx;
			margin-bottom: 15px;
			font-weight: 300;
			font-size: 10px;
			max-width: 100%!important;
		}
		p {
			color: $color_log_cabin_approx;
			text-align: left;
			max-width: 100%!important;
			font-size: 12px;
		}
		a {
			color: $color_log_cabin_approx;
			text-decoration: underline;
			cursor: pointer;
			max-width: 100%!important;
		}
		.event_image {
			width: 150px;
			height: 150px;
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;
			border: 3px solid $color_aths_special_approx;
			border-radius: 5px;
		}
	}
	&.full_size {
		width: 100%;
		padding: 0 91px;
		max-width: 1040px;
		li {
			width: 280px;
			margin: 0 10px;
			padding: 0 30px 0 10px;
			border-right: 2px solid $color_aths_special_approx;
			background-image: none!important;
			h3 {
				color: $color_aths_special_approx;
			}
			h4 {
				color: $color_aths_special_approx;
			}
			h5 {
				color: $color_aths_special_approx;
			}
			p {
				color: $color_aths_special_approx;
			}
			a {
				color: $color_aths_special_approx;
				text-decoration: underline;
				cursor: pointer;
			}
			.event_image {
				width: 100%;
				height: 120px;
				margin-bottom: 20px;
			}
			&:last-child {
				border-right: none;
			}
		}
	}
}
.postgrid {
	width: 100%;
	max-width: 70vw;
	margin: 0 auto 40px;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	> li {
		flex-wrap: wrap;
		width: calc(60% - 5px);
		min-height: 575px;
		padding: 40px;
		margin-bottom: 10px;
		display: none;
		align-items: flex-end;
		justify-content: flex-start;
		text-align: left;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		position: relative;
		&.visible {
			display: flex;
		}
		&.smaller {
			width: calc(40% - 5px);
		}
		&.wider {
			width: 100%;
		}
		&.shorter {
			min-height: 565px;
		}
		.blogpost_overlay {
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.5);
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
		}
		h3 {
			font-size: 35px;
			color: $color_aths_special_approx;
			width: 100%;
			display: block;
			max-width: 100%!important;
			z-index: 2;
			position: relative;
			&.curs {
				display: none;
			}
		}
		h4 {
			color: $color_aths_special_approx;
			width: 100%;
			display: block;
			max-width: 100%!important;
			margin-top: 35%;
			z-index: 2;
			position: relative;
		}
		p {
			text-align: left;
			color: $color_aths_special_approx;
			width: 100%;
			display: block;
			max-width: 100%!important;
			z-index: 2;
			position: relative;
		}
		a {
			color: $color_aths_special_approx;
			width: 100%;
			display: block;
			max-width: 100%!important;
			text-decoration: underline;
			cursor: pointer;
			z-index: 2;
			position: relative;
		}
		.blogpost_content {
			display: none;
		}
		.blogpost_image {
			display: none;
		}
		.blogpost_related_posts {
			display: none;
		}
		.blogpost_social_share {
			display: none;
		}
		.close_modal_link {
			display: none;
		}
		hr {
			display: none;
		}
		&.modal_open {
			width: 100%;
			min-height: 100vh;
			padding: 0;
			z-index: 200000;
			background-image: none!important;
			.blogpost_overlay {
				display: none;
			}
			.blogpost_image {
				display: block;
				background-size: 50% auto;
				background-position: 75% 50%;
				background-repeat: no-repeat;
				min-width: 100%;
				height: 400px;
				margin-left: -200%;
				margin-right: -200%;
				padding-left: 200%;
				padding-right: 200%;
				width: auto;
				margin-bottom: 40px;
			}
			.blogpost_excerpt {
				display: none;
			}
			.blogpost_content {
				display: block;
				padding: 0 0 20px;
				max-width: 1000px;
				margin: 0 auto;
			}
			.blogpost_links {
				display: flex;
				justify-content: space-between;
				margin: 0 auto;
				padding: 0;
				width: 1000px;
				align-items: center;
				.close_modal_link {
					margin: 0;
					padding: 0;
					width: auto;
				}
			}
			.blogpost_social_share {
				list-style: none;
				width: auto;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				li {
					color: $color_log_cabin_approx;
					font-weight: 700;
					text-align: center;
					margin: auto 5px;
					a {
						display: block;
						border-radius: 50%;
						background-color: $color_log_cabin_approx;
						color: $color_aths_special_approx;
						width: 40px;
						height: 40px;
						line-height: 40px;
						font-size: 30px;
						background-size: 25px;
						background-repeat: no-repeat;
						background-position: 50%;
						&#twitter_share {
							background-image: url(/twitter.png);
						}
						&#facebook_share {
							background-image: url(/facebook.png);
						}
					}
				}
			}
			.blogpost_related_posts {
				list-style: none;
				width: 1000px;
				margin: 0 auto;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				li {
					width: 33%;
					height: 270px;
					margin: auto 10px;
					padding: 20px;
					background-size: cover;
					background-repeat: no-repeat;
					text-align: left;
					color: $white;
					a {
						color: $color_aths_special_approx;
					}
					h3 {
						color: $color_aths_special_approx;
					}
					h4 {
						color: $color_aths_special_approx;
						&.related_post_date {
							margin-top: 40px;
						}
					}
					.blogpost_read_more_link {
						display: block!important;
					}
				}
			}
			a {
				color: $color_log_cabin_approx;
			}
			h1 {
				color: $color_log_cabin_approx;
			}
			h2 {
				color: $color_log_cabin_approx;
			}
			h3 {
				color: $color_log_cabin_approx;
				max-width: 1000px!important;
				margin: 0 auto;
				padding: 20px 0 0;
				&.curs {
					display: block;
					text-align: center;
				}
				&:not(.curs) {
					margin-top: 20px;
					padding: 0 0 20px;
					font-size: 30px;
				}
			}
			h4 {
				color: $color_log_cabin_approx;
				max-width: 1000px!important;
				margin: 0 auto;
				padding: 20px 0 0;
				&:not(.related_post_date) {
					display: none;
				}
			}
			h5 {
				color: $color_log_cabin_approx;
			}
			p {
				color: $color_log_cabin_approx;
			}
			hr {
				display: block;
				background-color: $color_log_cabin_approx;
				color: $color_log_cabin_approx;
				width: 1000px;
				margin: 20px auto;
				height: 3px;
			}
			.close_modal_link {
				cursor: pointer;
				text-decoration: underline;
				display: block;
				width: 1000px;
				margin: 0 auto;
				padding: 20px 0 0;
			}
			.blogpost_read_more_link {
				display: none;
			}
		}
	}
}
@media(max-height:737px) {
	.events_calendar_carousel.full_size {
		li {
			/*height: 320px!important;*/
			/*overflow-y: auto;*/
			.event_image {
				height: 180px!important;
			}
		}
		li::-webkit-scrollbar {
			width: 3px;
		}
		li::-webkit-scrollbar-track {
			border-radius: 10px;
		}
		li::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: $color_storm_dust_20_approx;
			&:window-inactive {
				background: $black_40;
			}
		}
	}
}
@media(max-height:668px) {
	.events_calendar_carousel.full_size {
		li {
			/*height: 200px!important;*/
			/*overflow-y: auto;*/
			.event_image {
				height: 120px!important;
			}
		}
		li::-webkit-scrollbar {
			width: 3px;
		}
		li::-webkit-scrollbar-track {
			border-radius: 10px;
		}
		li::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: $color_storm_dust_20_approx;
			&:window-inactive {
				background: $black_40;
			}
		}
	}
}
#thanks {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: $color_aths_special_approx;
}
.nomess_link {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 10px;
	width: 27px;
	display: none;
	z-index: 9999;
}
@media(min-width:1400px) {
	#activites_about {
		h1 {
			font-size: 76px;
		}
		p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
	#contact {
		h1 {
			font-size: 76px;
		}
		p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
	#home {
		h1 {
			font-size: 76px;
		}
		p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
	#impact {
		h1 {
			font-size: 76px;
		}
		p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
	.slide {
		h1 {
			font-size: 76px;
		}
		p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
	#mission_how {
		h1 {
			font-size: 46px;
		}
		p {
			font-size: 16px;
			line-height: 1.6;
		}
		#copyblock p {
			font-size: 18px;
			line-height: 1.8;
		}
	}
}
[data-id=home] #dots > li:last-child {
	transform: translateY(-2px);
}
[data-slide=coalition] .subdots li[data-slide=coalition] {
	padding: 0!important;
	min-height: 25%!important;
}
[data-open=true][data-cursub="0"] .active .subdots li:first-child .subdot {
	background: $color_aths_special_approx;
}
[data-open=true][data-cursub="1"] .active .subdots li:nth-child(2) .subdot {
	background: $color_aths_special_approx;
}
[data-open=true][data-cursub="2"] .active .subdots li:nth-child(3) .subdot {
	background: $color_aths_special_approx;
}
[data-open=true][data-cursub="3"] .active .subdots li:nth-child(4) .subdot {
	background: $color_aths_special_approx;
}
#storycont[data-mode=collage] #stories_map {
	display: none;
}
#storycont[data-mode=map] #stories_collage {
	display: none;
}
[data-current=mission] + #logolink {
	display: none;
}
#about p {
	max-width: 60%;
}



@media screen and(max-width:770px) {

	#viewer[data-currentsub=mission_how] {
		#mission {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#mission_why {
			display: none!important;
		}
	}
	#viewer[data-currentsub=impact_map] {
		#impact {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#impact_stories {
			display: none!important;
		}
	}
	#viewer[data-currentsub=impact_stories] {
		#impact {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#impact_map {
			display: none!important;
		}
	}
	#viewer[data-currentsub=coalition_who] {
		#coalition {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#coalition_structure,.sub#coalition_board,.sub#coalition_testimonials {
			display: none!important;
		}
	}
	#viewer[data-currentsub=coalition_board] {
		#coalition {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#coalition_who,.sub#coalition_structure,.sub#coalition_testimonials {
			display: none!important;
		}
	}
	#viewer[data-currentsub=activities_about] {
		#activities {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#activities_proj1 {
			display: none!important;
		}
	}
	#viewer[data-currentsub=activities_proj1] {
		#activities {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#activities_about {
			display: none!important;
		}
	}
	#viewer[data-currentsub=news_calendar] {
		#news {
			overflow-y: scroll!important;
			.subs.open {
				margin-top: 0!important;
				transform: none!important;
			}
		}
		.sub#news_blog {
			display: none!important;
		}
	}
	#coalition_who {
		padding: 0 5vw;
		.flex {
			flex-direction: row;
			flex-wrap: wrap;
			.header_wrap {
				width: 100%;
			}
			p {
				width: 100%;
				margin: 0;
				font-size:13px;
			}
		}
		#coalition_who_carousel_nav {
		    width: 85vw;
		    top: 80vh;
		    margin-left: 0%;
		}
		#coalition_who_carousel li {
			width: 90vw!important;
			a {
				display: inline-block;
				margin: 20px auto;
				font-size: 16px;
			}
			.carousel_item_image {
				margin-bottom: 0;
			}
			&:hover {
				border: 3px solid transparent;
				a {
					color: $color_log_cabin_approx!important;
				}
				h1 {
					color: $color_log_cabin_approx!important;
				}
				h2 {
					color: $color_log_cabin_approx!important;
				}
				h3 {
					color: $color_log_cabin_approx!important;
				}
				h4 {
					color: $color_log_cabin_approx!important;
				}
				h5 {
					color: $color_log_cabin_approx!important;
				}
				p {
					color: $color_log_cabin_approx!important;
				}
				span {
					color: $color_log_cabin_approx!important;
				}
				strong {
					color: $color_log_cabin_approx!important;
				}
			}
		}
	}
	#coalition_board {
		flex-wrap: wrap;
		.wrap {
			width: 100%;
			margin-top: 5vh;
			margin-bottom: -5vh;
			p {
				margin-bottom: 20px;
			}
		}
		.curs {
			font-size: 25px;
		}
		#coalition_board_grid {
			height: auto;
			margin-bottom: 100px;
			li {
				top: auto!important;
				left: auto!important;
				right: auto!important;
				bottom: auto!important;
				width: 32%!important;
				height: 120px!important;
				margin: 0 auto 10px!important;
				.grid_modal_inner {
					height: 100%;
					.board_member_name {
						top: 0!important;
						left: 0!important;
						bottom: auto!important;
						right: auto!important;
						white-space: nowrap;
					}
					.board_member_pic {
						max-width: 100%;
						max-height: 100%;
						height: 100px!important;
						width: 300px!important;
						margin: 20px 0 0!important;
					}
				}
				&.modal_open {
					top: 5vh!important;
					left: 5%!important;
					right: 5%!important;
					bottom: auto!important;
					position: absolute;
					width: auto!important;
					height: auto!important;
					z-index: 30!important;
					.grid_modal_inner {
						flex-wrap: wrap;
						.board_member_pic {
							width: 100%!important;
							height: 150px!important;
							margin: 0 0 20px!important;
						}
						p {
							font-size: 12px;
						}
					}
					&:after {
						top: -5vh;
						left: -5%;
					}
				}
			}
		}
	}
	#coalition_testimonials {
		padding: 0 5vw!important;
		.wrap {
			margin-top: -100px;
		}
		#coalition_testimonials_carousel_nav {
			width: 90vw!important;
		}
		#coalition_testimonials_carousel li {
			width: 90vw!important;
		}
	}
	#impact_stories {
		p {
			font-size: 13px;
		}
		#impact_stories_grid {
			height: 220px;
			width: 100%;
			margin-bottom: 20px;
			li {
				top: auto!important;
				left: auto!important;
				right: auto!important;
				bottom: auto!important;
				width: 32%!important;
				height: 100px!important;
				margin: 0 auto 10px!important;
				&.modal_open {
					left: 5%!important;
					right: 5%!important;
					top: 5vh!important;
					position: fixed;
					width: auto!important;
					height: auto!important;
					&:after {
						top: 0;
						left: -5%!important;
					}
					.grid_modal_inner {
						flex-wrap: wrap;
						.impact_story_pic {
							width: 100%!important;
							height: 140px!important;
							min-width: 0;
							max-height: none!important;
							margin: 0 0 20px!important;
						}
					}
				}
				.grid_modal_inner {
					height: 100%;
					.impact_story_pic {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
		#impact_stories_map_grid li {
			&.modal_open {
				left: 5%!important;
				right: 5%!important;
				top: 5vh!important;
				position: fixed;
				&:after {
					top: 0;
					left: -5%!important;
				}
				.grid_modal_inner {
					flex-wrap: wrap;
					.impact_story_pic {
						width: 100%!important;
						height: 140px!important;
						min-width: 0;
						max-height: none!important;
						margin: 0 0 20px!important;
					}
				}
			}
			&#impact_story1 {
				top: 16%;
				left: -1%;
			}
			&#impact_story2 {
				top: 18%;
				left: 10%;
			}
			&#impact_story3 {
				top: -3%;
				left: 20%;
			}
			&#impact_story4 {
				top: -18%;
				left: 21%;
			}
			&#impact_story5 {
				top: -35%;
				left: -22%;
			}
		}
	}
	.activitiesprojsub {
		.projgallery {
			.projgallerynav {
				width: 90vw;
			}
			.projgalleryslider li {
				width: 90vw!important;
				margin: 0!important;
				&:after {
					content: none;
				}
			}
		}
		.projteam {
			flex-wrap: wrap;
			.wrap {
				margin-top: 5vh;
				width: 100%;
				margin-bottom: -15vh;
				p {
					margin-bottom: 20px;
				}
			}
			.projteamlist {
				display: flex;
				flex-wrap: wrap;
				li {
					width: 50%;
				}
			}
			.projteamgrid {
				height: auto;
				margin-bottom: 80px;
				li {
					transform: none;
					top: auto!important;
					left: auto!important;
					right: auto!important;
					bottom: auto!important;
					width: 32%!important;
					height: 70px!important;
					margin: 0 auto 10px!important;
					.grid_modal_inner {
						height: 100%;
						.team_member_pic {
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
		}
		.openproj .boxbutt {
			top: 7vh;
		}
	}
	.sub {
		padding: 0 5vw;
	}
	#test {
		width: 100%;
	}
	.coalition {
		background-image: url(/coalition_mobile.jpg);
	}
	#coalition_structure {
		background-image: url(/coalition_about_mobile.png);
		svg {
			width: 100%;
			margin-top: 10px;
		}
		.tooltip_outer {
			top: 15vh!important;
			bottom: auto!important;
			right: 0!important;
			z-index: 100;
			left: 0!important;
			opacity: 0;
			pointer-events: none;
			h4 {
				margin-top: 0 !important;
			}
		}
		h1 {
			font-size: 22px;
		}
		h4 {
			margin-top: 40% !important;
		}
		p {
			font-size: 12px;
			line-height: 1.3;
			margin-bottom: 0;
		}
		.wrap {
			width: 100%;
			align-self: flex-end;
		}
	}
	.activities {
		background-image: url(/activities_mobile.jpg);
	}
	#activities_about {
		background-image: url(/activities_about_mobile.jpg);
		flex-direction: column;
		justify-content: flex-start;
		.copy {
			max-width: none;
		}
		.opener {
			bottom: 160px;
			width: 100%;
		}
		#greenhand {
			margin: 10px 0;
			width: 65px;
		}
		h1 {
			font-size: 20px;
			max-width: none;
		}
		p {
			padding: 0;
		}
		h4 {
			margin-top: 15vh;
			font-size: 18px;
		}
		.wrap {
			margin-bottom: 10px;
			width: 100%;
			flex-wrap: wrap;
		}
	}
	#activities_proj1 {
		background-image: url(/act_proj1_mobile.jpg);
	}
	.impact {
		background-image: url(/impact_mobile.jpg);
	}
	.mission {
		background-image: url(/mission_mobile.jpg);
	}
	#mission_how {
		background-image: url(/mission_how_mobile.jpg);
		flex-direction: column;
		#circle_outer {
			width: 100%;
		}
		#shader_outer {
			width: 100%;
		}
		#shader {
			opacity: 0;
			height: 0;
			width: 100%;
		}
		#circle {
			transform: none;
			margin-top: 40px;
			width: 200px;
			height: 200px;
			img {
				width: 60px;
			}
		}
		.bot {
			flex-direction: column;
		}
		#copyblock {
			order: 2;
			p {
				font-size: 14px;
				line-height: 1.1;
			}
		}
		.wrap {
			margin-bottom: 20px;
			justify-content: center;
		}
		h1 {
			padding: 0;
			margin-bottom: 5px;
			font-size: 30px;
			max-width: 100%;
			padding: 0;
		}
		h4 {
			margin-top: 40%;
		}
		p {
			font-size: 13px;
			width: 100%;
			padding: 0;
			margin: 0;
			max-width: 100%;
			padding: 0;
		}
	}
	#mission_why {
		background-image: url(/mission_why_mobile.jpg);
		padding: 0 10px;
		.wrap {
			margin-top: -25%;
			padding: 15px;
			background: $black_60;
			border: 2px solid $color_aths_special_approx;
			z-index: 20;
			width: auto;
			width: 95%;
			max-width: none;
			h1 {
				margin-bottom: 5px;
			}
		}
		p {
			font-size: 14px;
			line-height: 1.1;
			transform: none;
			max-width: 100%;
			width: 100%;
			margin-bottom: 0;
		}
		h1 {
			transform: none;
			max-width: 100%;
			width: 100%;
			margin-bottom: 0;
			font-size: 20px;
		}
		h4 {
			transform: none;
			max-width: 100%;
			width: 100%;
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	#news {
		background-image: url(/news_mobile.jpg);
		h1 {
			font-size: 22px;
			max-width: 100%;
		}
		p {
			max-width: 100%;
		}
	}
	.contact {
		background-image: url(/contact_mobile.jpg);
	}
	#photos {
		background-image: url(/photos_mobile.png);
		display: none;
		transform: none;
	}
	#home {
		#trace {
			width: 100%;
			left: 0;
		}
		h1 {
			font-size: 32px;
		}
		p {
			max-width: 80%;
			font-size: 15px;
		}
	}
	#coalition {
		h1 {
			max-width: 100%;
		}
		h4 {
			margin-top: 40px;
		}
	}
	#impact_map {
		flex-wrap: wrap;
		#map {
			width: 100%;
		}
		.wrap {
			width: 100%;
		}
		.impact_map_key {
			top: -55%;
			left: 14%;
			font-size: 22px;
			img {
				height: 45px;
			}
		}
		p {
			font-size: 13px !important;
		}
	}
	#impact_stories {
		flex-wrap: wrap;
		p {
			font-size: 13px !important;
		}
	}
	#storycont {
		width: 100%;
		#impact_stories_map {
			width: 100%;
		}
	}
	#impact {
		flex-wrap: wrap;
		.wrap {
			margin-bottom: 0;
		}
		#impact_intro {
			width: 100%;
			flex-wrap: wrap;
			.header_wrap {
				margin: 0!important;
				width: 100%;
				h4 {
					margin-top: 10%;
				}
			}
			> p {
				margin: 0!important;
				width: 100% !important;
			}
		}
		#youwrap {
			width: 100%;
		}
		h1 {
			font-size: 20px;
			margin-bottom: 0;
		}
		h4 {
			margin-top: 20%;
		}
		p {
			line-height: 1.1;
			margin-bottom: 0;
			font-size: 16px;
		}
		.opener.curs {
			margin-bottom: 0;
		}
	}
	#youwrap {
		width: 100%;
		max-width: 100%;
		padding-right: 0;
		margin-top: 0;
		padding-bottom: 56.25%;
	}
	#activities_intro {
		h1 {
			font-size: 22px;
			max-width: 100% !important;
		}
		p {
			max-width: 100% !important;
		}
	}
	#actproj1_collage1 {
		top: 20%;
		left: -22%;
	}
	#actproj1_collage2 {
		top: 9%;
		left: -23%;
		width: 130px;
		height: 130px;
	}
	#actproj1_collage3 {
		top: -2%;
		left: -28%;
	}
	#actproj1_collage4 {
		top: 2%;
		left: auto;
		right: -35%;
		transform: rotate(15deg);
	}
	#actproj1_collage5 {
		top: -5%;
		left: 18%;
		transform: rotate(2deg);
	}
	#actproj1_collage6 {
		left: -18%;
		bottom: -13%;
		transform: rotate(-25deg);
	}
	#actproj1_collage7 {
		top: auto;
		left: auto;
		bottom: -13%;
		right: -28%;
	}
	.allproj {
		margin: 10% 0 5%;
	}
	.projslide {
		padding: 0 5vh!important;
	}
	.activitiesprojsub {
		overflow: hidden;
		.projmain {
			padding: 0 5vw;
			background-image: url(/proj1troback_mobile.jpg);
			.boxbutt {
				top: 8vh;
			}
			p {
				margin-bottom: 0;
			}
			h1 {
				margin-top: 22vh;
			}
			.opener.curs {
				position: relative;
				bottom: 0;
				left: auto;
			}
		}
		.wrap {
			width: 100%;
		}
		h1 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.3;
			width: 100%;
			max-width: none;
			&:last-child {
				margin-bottom: 80px;
			}
		}
		.projquotes {
			.projquotesnav {
				width: 100vw!important;
				top: 60vh;
				margin-left: 0;
			}
			.projquotescarousel li {
				width: 90vw!important;
			}
		}
	}
	#green {
		width: 50px;
	}
	#photop {
		top: -10%;
		left: -21%;
		width: 130%;
		position: absolute;
		display: block;
		max-width: none;
	}
	#phobot {
		width: 130%;
		position: absolute;
		display: block;
		max-width: none;
		bottom: -22%;
		right: -26%;
	}
	#ex {
		right: 15px;
		top: 15px;
	}
	.postgrid {
		max-width: 90vw!important;
		> li {
			width: 100%!important;
			h4 {
				margin-top: 0!important;
			}
			p {
				margin-bottom: 0!important;
			}
			&.modal_open .blogpost_content {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.blogpost_related_posts {
		flex-wrap: wrap;
		li {
			width: 100%!important;
			margin-bottom: 20px!important;
		}
	}
	#contact {
		padding-right: 0;
		flex-direction: column;
		align-items: flex-start;
		h1 {
			font-size: 20px;
		}
		#formcont {
			margin-left: 0;
			width: 95%;
			height: 60px;
			flex-shrink: 0;
			position: relative;
			overflow: hidden;
			input {
				height: 30px;
				padding: 0 10px;
			}
			textarea {
				padding: 0 10px;
			}
			.control {
				width: 100%;
				padding-bottom: 0;
			}
			&.full {
				display: flex;
				position: fixed;
				width: 100vw;
				height: 100vh;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;
				overflow: scroll;
				background: $black;
				left: 0;
				top: 0;
				padding-top: 40px;
				h4 {
					display: none;
				}
			}
			h4 {
				display: flex;
			}
		}
		#downcont {
			display: block;
		}
		#downform {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
		}
		.field {
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		p {
			width: 95%;
			margin-bottom: 10px;
		}
		.wrap {
			width: 95%;
		}
	}
	.closeshade_link {
		display: none;
	}
	#logo {
		width: 80px;
		height: 78px;
		top: 10px;
	}
	nav {
		display: none;
	}
	#dot {
		display: none;
	}
	.opener {
		bottom: 20px;
	}
	.slide {
		padding: 0 5vw;
		h1 {
			font-size: 22px;
			margin-bottom: 10px;
			max-width: 100%;
		}
		p {
			font-size: 16px;
			margin-bottom: 40px;
			max-width: 100%;
		}
	}
	#board {
		max-width: 410px;
		height: 63%;
	}
	#team {
		max-width: 410px;
		height: 63%;
	}
	#diff {
		flex-direction: column;
		transform: none;
		bottom: 10vh;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
	#rightrow {
		width: 50px;
	}
	#formcont {
		padding-top: 0;
		justify-content: flex-start;
	}
	#back {
		font-size: 12px;
		img {
			width: 20px;
		}
	}
	#next {
		font-size: 12px;
		left: 90px;
		img {
			width: 20px;
		}
	}
	#copyblock {
		z-index: 999;
	}
	h1 {
		font-size: 32px;
	}
	.scroller {
		/*overflow-y: scroll;*/
	}
	.events_calendar_carousel.full_size {
		width: 100%;
		padding: 0;
		max-width: 100%;
		margin-bottom: 80px;
		li {
			width: 90vw;
			margin: 0 10px;
			padding: 0;
			border-right: 0;
			height: auto !important;
			.event_image {
				height: 200px!important;
			}
		}
	}
	#events_carousel_nav {
		display: none;
	}
	#news_calendar {
		& > h4 {
			margin-top: 15vh;
			width: 100%;
		}
		& > h1 {
			width: 100%;
		}
		p {
			margin-bottom: 0!important;
		}
	}
	#news_blog .filters {
		margin-top: 70px!important;
	}
	#storyswitch div {
		height: 40px;
	}
}

#impact_about {
	background: url(/HTR-impact-tecture.jpg);
	background-size: cover;
	background-position: center;
}

#impact_about .impact_container {
	width:70%;
}