#home-hero-video {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: none;
	pointer-events: none;
	/* what??? */
	@media(max-width:1775px) {
		width: 500%;
		height: 140vh;
		top: 0;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
	}
}
.vidwrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	overflow: hidden;
}
.vidshader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 2;
}

#dot {
	background-image: url('~/assets/dot.png');
	width: 318px;
	height: 216px;
	background-size: cover;
	transform: translate(20px,110px);
}
#home {
	background: none;
	overflow: hidden;
	h1 {
		font-size: 76px;
	}
	h1, h4 {
		z-index: 3;
	}
	p {
		font-family: "flamaSemi";
		text-transform: uppercase;
		max-width: 60%;
		text-align: center;
		font-size: 18px;
	}
	#diff {
		z-index: 3;
		bottom: 15%;
		h2 {
			font-size: 35px;
		}
	}
	#rightrow {
		/*width: 80px;*/
		/*margin-left: 40px;*/
		transition: all 0.3s ease;
		cursor: pointer;
		width: 60px;
		margin-left: 30px;
	}
	#trace {
		width: 60%;
		position: absolute;
		top: 8%;
		left: 25%;
		/*left: 50%;*/
		/*transform: translateX(-50%);*/
		opacity: 0.6;
		z-index: 100;
		pointer-events: none;
		@media(max-width: 770px) {
			width: 100%;
			left: 0;
		}
	}
}
