
#impact {
	display: flex;
	flex-direction: row;
	align-items: center;
	/*align-items: flex-start;*/
	h1, p, h4, a {
		text-align: left;
		max-width: 100%;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	#impact_intro {
		width: 35%;
		margin-right: 5%;
	}
}
#youwrap {
    width: 50%;
    position: relative;
    padding-bottom: 28.25%;
    height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
#story img {
	max-width: 100%;
}
.paper {
	max-width: 100%;
}
#map {
	max-width: 760px;
}
#impact_map {
	max-width: none;
	flex-direction: row;
	background: #c8dadb;
	justify-content: space-between;
	h1, p, h4, a {
		color: #373930;
	}
	#map {
		padding: 0 20px;
		width: 50%;
	}
	@media(max-width:1520px) {
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		#map {
			/*margin-bottom: 40px;*/
			/*width: 70%;*/
		}
		.wrap {
			/*align-self: flex-start;*/
			/*width: 40%;*/
		}
	}
	@media(max-width:1200px) {
		#timeswitch div {
			/*height: 40px;*/
		}
	}
	@media(max-width:1055px) {
		/*justify-content: center;*/
		.wrap {
			/*align-self: center;*/
			/*width: 70%;*/
		}
		#map {
			/*transform: none;*/
		}
		#timeswitch {
			/*max-width: 100%;*/
			/*margin-bottom: 20px;*/
		}
	}
	@media(max-width:770px) {
		.wrap {
			width: 100%;
		}
		#map {
			width: 100%;
		}
	}
}
#timeswitch {
	margin-top: 40px;
}
#impact_stories {
	background-color: #D8CFB7;
	flex-direction: row;
	@media(max-width:1660px) {
		/*flex-direction: column;*/
	}
}

#story {
	width: 60%;
	max-width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	background: #dfe1d2;
	padding: 20px;
	position: relative;
	.paper {
		width: 400px;
		flex-shrink: 0;
		background-size: cover;
		margin-right: 40px;
		max-width: 100%;
		@media(max-width:950px) {
			margin: 0 auto;
		}
	}
	h1, h4, p {
		color: #373930;
	}
	h1 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 20px
	}
	@media(max-width:1660px) {
		/*width: 100vw;*/
		/*.wrap {*/
			/*padding-right: 20px;*/
		/*}*/
	}
	@media(max-width:950px) {
		/*flex-direction: column;*/
		/*height: 100vh;*/
		/*overflow: scroll;*/
	}
}
.paper {
	/*background-image: url('~/assets/paper.png');*/
	/*padding: 12px 10px;*/
	transition: all 0.2s ease;
	cursor: pointer;
    border: 5px solid #ece5c9;
    padding: 0;
    margin: 0;
    background-color: #ece5c9;
	&:hover {
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		transform: translate(-5px,-5px);
		z-index: 9999;
	}
}
#collage {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 60vh;
	position: relative;
	flex-wrap: wrap;
	width: 60%;
	max-height: 400px;

}

#storycont {
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	&[data-mode=map] {
		#collage {
			display: none;
		}
	}
	&[data-mode=collage] {
		#stories {
			display: none;
		}
	}
	width: 60%;
	flex-shrink: 0;
}
#storysvg {
	width: 100%;
}
#stories {
	width: 100%;
	display: flex;
	align-items: center;
}
#papeone {
	z-index: 2;
	position: absolute;
    	top: 0;
    	left: 0;
    	width: 30%;
}
#papethree {
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-69%);
    	width: 70%;
}
#papefive {
	flex: 40%;
	z-index: 10;
    width: 10%;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
}
#papefour {
	flex: 50%;
    width: 50%;
    transform: translate(25%,30%);
    position: absolute;
}
#papetwo {
	flex: 20%;
	width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}
#storyswitch, #timeswitch {
	margin-top: 40px;
	width: 600px;
	display: flex;
	cursor: pointer;
	div {
		width: 50%;
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		background: #E6E5E0;
		font-family: "flamaSemi";
		color: #444444;
		&.on, &.timeon {
			background: #444444;
			color: #E6E5E0;
		}
	}
/*	@media(max-width:500px) {
		div {
			height: 40px;
		}
	}*/
}
@media(max-width:1660px) {
	#collage {
		/*max-height: 40vh;*/
		/*transform: translate(20%,30%);*/
		/*pointer-events: auto;*/
		/*min-height: 60vh;*/
	}
	#impact_stories {
		/*padding: 40px;*/
		/*justify-content: flex-start;*/
		/*.wrap {*/
			/*align-self: flex-start;*/
		/*}*/
	}
	#storycont {
		/*margin-top: 20px;*/
		/*pointer-events: none;*/
		/*position: absolute;*/
		/*left: 30%;*/
		/*top: 12%;*/
	}
}
@media(max-width:1500px) {
	#impact h1 {
		/*font-size: 40px;*/
		/*margin-bottom: 10px;;*/
	}
}
@media(max-width:1200px) {
	#impact_stories {
		h1 {
			/*font-size: 40px;*/
			/*margin-bottom:5px;*/
		}
	}
	#storycont {
		/*position: relative;*/
		/*top: auto;*/
		/*left: auto;*/
		/*width: 80%;*/
	}
	#collage {
		/*min-height: 0;*/
	}
}


@media(max-width:1550px) {
	#story {
		/*width: 90vw;*/
		/*overflow-y: scroll;*/
	}
}
@media(max-width:1000px) {
	#story {
		/*flex-direction: column;*/
	}
	#story p {
		/*font-size: 12px;*/
	}
	.paper {
		/*margin-right: 0;*/
		/*margin-bottom: 10px;*/
	}
	#impact {
		/*flex-direction: column;*/
		/*align-items: flex-start;*/
	}
	iframe {
		/*width: 90%;*/
		/*padding: 0;*/
		/*margin-top: 20px;*/
	}
}
@media(max-width:770px) {
	#impact_stories {
		padding: 20px;
	}
	#storycont {
		width: 100%;
	}
	#collage {
		transform: translate(-10%,30%);
	}
	#impact .wrap {
		margin-bottom: 0;
	}
	#youwrap {
		width: 100%;
		max-width: 100%;
		padding-right: 0;
		margin-top: 20px;
    	padding-bottom: 56.25%;
	}
	#impact {
		flex-wrap: wrap;
		#youwrap,#impact_intro {
			width: 100%;
		}
		h1 {
			font-size: 20px;
			margin-bottom: 0;
		}
		h4 {
			margin-top: 20%;
		}
		p {
			line-height: 1.1;
			margin-bottom: 0;
			font-size: 16px;
		}
	}
}

#impact_about {
	background: url(~/static/HTR-impact-tecture.jpg);
	background-size: cover;
	background-position: center;
}