
#news {
	overflow-y: scroll !important;
	align-items: flex-start;
	h1 {
		text-align: left;
		max-width: 60%;
	}
	h4 {
		text-align: left;
		font-size: 12px;
	}
	p {
		text-align: left;
		max-width: 60%;
	}
	@media(max-width:770px) {
		h1 {
			font-size: 22px;
			max-width: 100%;
		}
		p {
			max-width: 100%;
		}
	}
	.opener.curs {
		font-size: 30px;
		img {
			width: 30px;
		}
	}
}


.events_calendar_carousel {
	width: 380px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	.slick-track {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	li {
		/*width: 100%;*/
		width: 380px;
		height: 420px;
		float: none !important;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		outline: none !important;
		h3 {
			color: #24261c;
			margin-bottom: 5px;
			max-width: 100% !important;
		}
		h4 {
			color: #24261c;
			margin-bottom: 10px;
			font-size: 12px;
			max-width: 100% !important;
		}
		h5 {
			color: #24261c;
			margin-bottom: 15px;
			font-weight: 300;
			font-size: 10px;
			max-width: 100% !important;
		}
		p {
			color: #24261c;
			text-align: left;
			max-width: 100% !important;
			font-size: 12px;
		}
		a {
			color: #24261c;
			text-decoration: underline;
			cursor: pointer;
			max-width: 100% !important;
		}
		.event_excerpt {

		}
		.event_image {
			width: 150px;
			height: 150px;
			background-size: cover;
			background-position: 0 0;
			background-repeat: no-repeat;
			border: 3px solid #ECE5C9;
			border-radius: 5px;
		}
	}
	&.full_size {
		width: 100%;
		padding: 0 91px;
		max-width: 1040px;
		li {
		    width: 280px;
		    margin: 0 10px;
		    padding: 0 30px 0 10px;
			border-right: 2px solid #ECE5C9;
			background-image: none !important;
			h3 {
				color: #ECE5C9;
			}
			h4 {
				color: #ECE5C9;
			}
			h5 {
				color: #ECE5C9;
			}
			p {
				color: #ECE5C9;
			}
			a {
				color: #ECE5C9;
				text-decoration: underline;
				cursor: pointer;
			}
			.event_image {
				width: 100%;
				height: 120px;
				margin-bottom: 20px;
			}
			&:last-child {
				border-right: none;
			}
		}
	}
}


#news_calendar {
	h1 {
		font-size: 35px;
	}
	h4 {
		font-size: 12px;
	}
}

.postgrid {
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	& > li {
		width: calc(60% - 5px);
		min-height: 575px;
		padding: 40px;
		margin-bottom: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		flex-wrap: wrap;
		text-align: left;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		&.smaller {
			width: calc(40% - 5px);
		}
		&.wider {
			width: 100%;
		}
		&.shorter {
			min-height: 500px;
		}
		h3 {
			color: #ECE5C9;
			width: 100%;
			display: block;
			font-size: 35px;
			max-width: 100% !important;
		}
		h4 {
			color: #ECE5C9;
			width: 100%;
			display: block;
			margin-top: 35%;
			max-width: 100% !important;
		}
		p {
			color: #ECE5C9;
			width: 100%;
			display: block;
			text-align: left;
			max-width: 100% !important;
		}
		a {
			color: #ECE5C9;
			width: 100%;
			display: block;
			text-decoration: underline;
			cursor: pointer;
			max-width: 100% !important;
		}
		.blogpost_excerpt {

		}
		.blogpost_content {
			display: none;
		}
		.blogpost_image {
			display: none;
		}
		.close_modal {
			display: none;
		}
		&.modal_open {
		    /*position: absolute;*/
		    width: 100%;
		    /*height: 100vh;*/
		    /*left: 0;*/
		    /*top: 0;*/
		    /*padding: 0;*/
		    /*background-color: #ece5c9;*/
			/*z-index: 200000;*/
			/*background-image: none !important;*/
/*			.blogpost_image {
				display: block;
				background-size: cover;
				background-position: 0 0;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}*/
			.blogpost_excerpt {
				display: none;
			}
			.blogpost_content {
			    display: block;
			    background-color: rgba(255,255,255,0.5);
			    padding: 0 20px 20px;
			    max-width: 100%;
			    margin: 0 auto 0;
			}
			h1,h2,h3,h4,h5,p,a {
				color: #24261c;
			}
			h4,h3 {
				max-width: 100%;
				margin: 0 auto;
			    background-color: rgba(255,255,255,0.5);
			    padding: 20px 20px 0;
			}
			.close_modal {
				cursor: pointer;
				text-decoration: underline;
				display: block;
				width: 100%;
				margin: 0 auto;
				padding: 20px 20px 0;
				background-color: rgba(255,255,255,0.5);
			}
			.read_more_modal {
				display: none;
			}
		}
	}
}



#news_blog {
	height: auto;
	.filters {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 0 0 20px;
	    input,select {
	    	background: none;
	    	padding: 10px;
	    	border: 1px solid #24261c;
	    	text-transform: uppercase;
	    	outline: none;
	    }
	    select {
	    	margin-right: 20px;
	    }
	}
	.wrap {
		width: 100%;
		padding: 0;
	}
	#events_card {
		width: calc(40% - 5px);
		min-height: 500px;
		background-image: url(~/coalbout.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		h2,h3,h4,h5,p {
			color:#24261c;
			text-align: left;
			max-width: 100% !important;
		}
		h3 {
			font-size: 20px;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 8px;
			font-size: 10px;
		}
		h5 {
			margin-bottom: 8px;
		}
		a {
			text-decoration: none;
		}
		.events_calendar_carousel {
			margin: 0;
			li {
				width: 100%;
				align-items: flex-start;
				height: auto;
			}
			.event_image {
			    margin-right: 20px;
			    min-width: 85px;
			    height: 85px;
			}
			p {
				margin-bottom: 0;
			}
		}
		#postgrid_carousel_nav {
			width: 380px;
		}
		.curs {
			color: #24261c;
			margin-right: 20px;
			font-size: 24px;
		}
	}
}

@media(max-width: 770px) {
	.events_calendar_carousel {
		&.full_size {
			li {
				width: 90vw;
				margin: 0 10px;
				padding: 0;
				border-right: 0;
			}
			.event_image {
				height: 220px;
			}
		}
	}
	.postgrid {
		& > li {
			width: 100% !important;
			&.modal_open {
				.blogpost_content {
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}
