<div id="activities_intro">
	<h4 class=name>Activities</h4>
	<h1>Confronting Climate Change Together</h1>
	<p>The Haiti Takes Root Coalition is a dynamic coordination structure that facilitates information sharing, promotes learning about best practices and new innovations, and encourages collaboration for more effective activities to strengthen rural livelihoods, protect and renew the environment, manage natural resources and adapt to climate change.</p>
	<a class="opener bindme curs">Our Activities<img src="/down.png"></a>
</div>
<div class=subs>
	<div class=sub id=activities_about style="margin-top: 0vh;">
		<div class=wrap>
			<div>
				<h4 class=name>What We Do</h4>
				<h1>Together for a Greener Haiti</h1>
				<img src=greenhand.svg id=greenhand />
				<a class="opener bindme curs">Scroll to See Activities<img src="/down.png"></a>
			</div>
			<div class=copy>
				<p>Members of the Haiti Takes Root Coalition contribute to national environment and reforestation goals. While tree planting alone won’t ensure survival in the face of climate change, reforestation and re-greening are critical elements of an integrated response that encompasses environment, economy and energy.</p>
			</div>
		</div>
	</div>
	<div id="activities_proj1" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Project One</h4>
			<div id=actproj1_collage1 class="paper"></div>
			<div id=actproj1_collage3 class="paper"></div>
			<div id=actproj1_collage2 class="paper"></div>
			<div id=actproj1_collage4 class="paper"></div>
			<div id=actproj1_collage5 class="paper"></div>
			<div id=actproj1_collage6 class="paper"></div>
			<div id=actproj1_collage7 class="paper"></div>
			<h1>Resilient Productive Landscapes</h1>
			<p>Resilient Productive Landscapes, or RPL, is a project of Haiti’s Ministry of Environment and Ministry of Agriculture, Rural Development and Natural Resources, with technical and financial support from the World Bank and J/P Haitian Relief Organization</p>
			<a class="boxbutt bindbox" data-targ=#proj1>View Full Project</a>
		</div>
		<div class=projmode id=proj1>
			<div class="projslide projmain" data-slide="proj_main" data-slidedex="0" data-title="Project 1">
				<a class="allproj boxbutt bindallproj">&larr;  All Projects</a>
				<h1>Resilient Productive Landscapes</h1>
				<p>The RPL project will break the cycle of natural resources degradation and increasing vulnerability among rural families through an integrated approach in four watersheds in the Nippes department. RPL will work at both the farm and community level to simultaneously raise production and productivity using more resilient agriculture practices adapted to agro-ecological zones, which will directly contribute to rebuilding the natural resources base. Support for local production will include inputs like seeds, plants and training as well as support to get products to market, including rural infrastructure.
				<br /><br />
				RPL will also strengthen the institutional enabling environment and build capacity for landscape level governance and management at both national and local levels. Interventions were proposed and vetted through a participatory process that included all local stakeholders and elected officials.
				<br /><br />
				<strong>Resilient…</strong>  the ability to withstand the shocks that come with a changing climate
				<br />
				<strong>Productive…</strong> the capacity of the land to produce enough for families to survive and thrive
				<br />
				<strong>Landscapes…</strong> the perspective of a watershed-level, ridge-to-reef strategy as a framework for all interventions
				</p>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projgallery" data-slide="proj_gallery" data-slidedex="1" data-title="Project 1 | Gallery">
				<a class="allproj boxbutt bindallproj">&larr; All Projects</a>
				<ul class="slicent projgalleryslider" id="proj1_gallery_slider" data-navid="#proj1_gallery_nav">
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
				</ul>
				<div class=projgallerynav id=proj1_gallery_nav></div>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projteam" data-slide="proj_team" data-slidedex="2" data-title="Project 1 | The Team">
				<a class="allproj boxbutt bindallproj">&larr; All Projects</a>
				<div class=wrap>
					<h4>Project One</h4>
					<h1>The Team</h1>
					<p>Key members of the Resilient Productive Landscapes team include: focal points from the Ministry of Environment and Ministry of Agriculture, the project coordinator and team at the World Bank, J/P HRO and two dozen Haitian consultants including agronomists, agro-economists, engineers, and social scientists.</p>
					<ul class=projteamlist>
						<li>TBA – Recruitment for the Coordination Team of RPL is currently ongoing.</li>
					</ul>
				</div>
			<!--	<ul class=projteamgrid> 
					<li id=team_member1>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member2>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member3>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member4>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member5>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member6>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member7>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li> 
				</ul> -->
				<!-- <a class="opener bindme curs"><img src="/down.png"></a> -->
			</div>
			<!-- <div class="projslide projquotes" data-slide="proj_quotes" data-slidedex="3" data-title="Project 1 | A Word From Our Team" style="background-color:#52624c">
				<a class="allproj boxbutt bindallproj">&larr; All Projects</a>
				<h4>Project One</h4>
				<h1>A Word From Our Team</h1>
				<ul class="sli projquotescarousel" id=proj1_quotes_carousel data-navid="#proj1_quotes_nav">
					<li>
						<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>John Smith</strong>
								<span class=project_quote_company>OneDrop.org</span>
							</div>
						</div>
					</li>
					<li>
						<p>“Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. .”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>Jane Doe</strong>
								<span class=project_quote_company>Google.com</span>
							</div>
						</div>
					</li>
					<li>
						<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>Joe Somebody</strong>
								<span class=project_quote_company>Yahoo.com</span>
							</div>
						</div>
					</li>
				</ul>
				<div id="proj1_quotes_nav" class=projquotesnav></div>		
			</div> -->
		</div>
	</div>
	<div id="activities_proj2" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Project Two</h4>
			<div id=actproj2_collage1 class="paper"></div>
			<div id=actproj2_collage3 class="paper"></div>
			<div id=actproj2_collage2 class="paper"></div>
			<div id=actproj2_collage4 class="paper"></div>
			<div id=actproj2_collage5 class="paper"></div>
			<div id=actproj2_collage6 class="paper"></div>
			<div id=actproj2_collage7 class="paper"></div>
			<h1>PILOT: Payment for Ecosystem Services</h1>
			<p>In areas where land is severely damaged due to deforestation and erosion, farmers are receiving seedlings, training and payments to enable them to keep trees alive to restore soil, strengthen ecological systems, and grow strong enough to survive grazing</p>
		</div>
	</div>
	<div id="activities_proj3" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Project Three</h4>
			<div id=actproj3_collage1 class="paper"></div>
			<div id=actproj3_collage3 class="paper"></div>
			<div id=actproj3_collage2 class="paper"></div>
			<div id=actproj3_collage4 class="paper"></div>
			<div id=actproj3_collage5 class="paper"></div>
			<div id=actproj3_collage6 class="paper"></div>
			<div id=actproj3_collage7 class="paper"></div>
			<h1>Canaan Urban Greening</h1>
			<p>The growing community in Canaan has begun a process of urbanization in an area that is largely arid, treeless and without access to potable water. The Canaan Urban Greening program piloted several innovative strategies to combine greening for quality of life and environmental impact, with physical infrastructure to help the growing city preserve critical ecological systems.</p>
			<a class="boxbutt bindbox" data-targ=#proj1>View Full Project</a>
		</div>
		<div class=projmode id=proj3>
			<div class="projslide projmain" data-slide="proj_main" data-slidedex="0" data-title="Project 1">
				<a class="allproj boxbutt bindallproj">&larr;  All Projects</a>
				<h1>Canaan Urban Greening</h1>
				<p>It was in the aftermath of the January 2010 earthquake when people began building in the vast area known as Canaan, and they created their city without any support from the Haitian government or NGOs. Rapid urbanization in an environmentally vulnerable area comes with many challenges, but communities carved out spaces for playing fields and public parks, a delineated a web of roads.
				<br /><br />
				In partnership with local community leadership known as Neighborhood Committees, Acceso social enterprise, and American Red Cross, J/P HRO piloted three innovative strategies:</p>
				<ol>
					<li>Urban agroforestry: Support to individuals in Canaan to start small tree nurseries and to plant in no-build zones as well as other vulnerable areas. Combining livelihood enhancement with environmental protection</li>
					<li>Green and Gray Infrastructure: In one of the largest ravines in Canaan, a combination of traditional ravine correction tactics combined with green infrastructure including trees and grasses have had a visible impact in preventing flooding</li>
					<li>Mini-Forests: In this method, a very dense patch of trees, shrubs and grasses/cacti are planted together to mimic a forest. The strategy creates an ecological system where one plant supports another, and where ground cover helps to retain moisture, while an outer ring of tough grasses and cacti prevent goats and other animals from eating the trees</li>
				</ol>
				<p>The strategies in Canaan have been pulled together to form the basis of an urban greening toolkit. Read more on our blog <a href="/news/?sub=news_blog?postid=85">here</a></p>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projgallery" data-slide="proj_gallery" data-slidedex="1" data-title="Project 1 | Gallery">
				<a class="allproj boxbutt bindallproj">&larr; All Projects</a>
				<ul class="slicent projgalleryslider" id="proj1_gallery_slider" data-navid="#proj1_gallery_nav">
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
				</ul>
				<div class=projgallerynav id=proj1_gallery_nav></div>
			</div>
		</div>
	</div>
	<div id="activities_proj4" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Project Four</h4>
			<!-- <div id=actproj4_collage1 class="paper"></div> -->
			<!-- <div id=actproj4_collage3 class="paper"></div> -->
			<!-- <div id=actproj4_collage2 class="paper"></div> -->
			<!-- <div id=actproj4_collage4 class="paper"></div> -->
			<!-- <div id=actproj4_collage5 class="paper"></div> -->
			<!-- <div id=actproj4_collage6 class="paper"></div> -->
			<!-- <div id=actproj4_collage7 class="paper"></div> -->
			<h1>PILOT: Enhanced Agroforestry in Nippes</h1>
			<p>In an area where key lime production used to be a major part of the economy, HTR is field testing an innovative best practice to form a natural barrier to keep the citrus trees safe from pests.</p>
			<a class="boxbutt bindbox" data-targ=#proj1>View Full Project</a>
		</div>
		<div class=projmode id=proj4>
			<div class="projslide projmain" data-slide="proj_main" data-slidedex="0" data-title="Project 1">
				<a class="allproj boxbutt bindallproj">&larr;  All Projects</a>
				<h1>PILOT: Enhanced Agroforestry in Nippes</h1>
				<p>As part of the preparation for the Resilient Productive Landscapes (RPL) project, farmers in the four watersheds participated in workshops to determine the most important agricultural and infrastructure interventions for their region. In community after community, farmers explained that for decades, key limes were one of the most important products in the NIppes department. The value chain included the local market, where people rely on the strong citrus juice for preparation of meats and fish, to the export market, where Haitian key lime oil is considered a very valuable cooking ingredient.
				<br /><br />
				In May 2018, a pilot program was launched to field test a new strategy for protecting the lime trees. In order to create what is called a phytorifulsive barrier, guava trees are planted around the lime trees, creating a line that pests won’t cross. So far, 1,120 key lime trees have been planted with 120 guava trees to protect them. And because the pilot has already begun to prove that this technical approach can be successful, more key lime trees will be added until a total of 5,000 lime trees are healthy and growing in the region.
				<br /><br/>
				<a href="/news/sub=news_blog?postid=85">Read More</a></p>
			</div>
		</div>
	</div>
	<div id="activities_proj5" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Project Five</h4>
			<!-- <div id=actproj5_collage1 class="paper"></div> -->
			<!-- <div id=actproj5_collage3 class="paper"></div> -->
			<!-- <div id=actproj5_collage2 class="paper"></div> -->
			<!-- <div id=actproj5_collage4 class="paper"></div> -->
			<!-- <div id=actproj5_collage5 class="paper"></div> -->
			<!-- <div id=actproj5_collage6 class="paper"></div> -->
			<!-- <div id=actproj5_collage7 class="paper"></div> -->
			<h1>PILOT: Canaan Urban Greening</h1>
			<p>It was in the aftermath of the January 2010 earthquake when people began building in the vast area known as Canaan, and they created their city without any support from the Haitian government or NGOs. Rapid urbanization in an environmentally vulnerable area comes with many challenges, but communities carved out spaces for playing fields and public parks, a delineated a web of roads. </p>
			<a class="boxbutt bindbox" data-targ=#proj1>View Full Project</a>
		</div>
		<div class=projmode id=proj5>
			<div class="projslide projmain" data-slide="proj_main" data-slidedex="0" data-title="Project 1">
				<a class="allproj boxbutt bindallproj">&larr;  All Projects</a>
				<h1>PILOT: Canaan Urban Greening</h1>
				<p>In partnership with local community leadership known as Neighborhood Committees, Acceso social enterprise, and American Red Cross, J/P HRO piloted three innovative strategies:</p>
				<ol>
					<li>Urban agroforestry: Support to individuals in Canaan to start small tree nurseries and to plant in no-build zones as well as other vulnerable areas. Combining livelihood enhancement with environmental protection</li>
					<li>Green and Gray Infrastructure: In one of the largest ravines in Canaan, a combination of traditional ravine correction tactics combined with green infrastructure including trees and grasses have had a visible impact in preventing flooding</li>
					<li>Mini-Forests: In this method, a very dense patch of trees, shrubs and grasses/cacti are planted together to mimic a forest. The strategy creates an ecological system where one plant supports another, and where ground cover helps to retain moisture, while an outer ring of tough grasses and cacti prevent goats and other animals from eating the trees</li>
				</ol>
				<p>The strategies in Canaan have been pulled together to form the basis of an urban greening toolkit. Read more on our blog <a href="/news/sub=news_blog?postid=85">here</a></p>
			</div>
		</div>
	</div>
</div>