<div id="activities_intro">
	<h4 class=name>Activités</h4>
	<h1>Confronter ensemble les changements climatiques</h1>
	<p>La Coalition Haïti Prend Racine est une structure de coordination dynamique qui facilite le partage de l'information, favorise l'apprentissage des meilleures pratiques et des nouvelles innovations, et encourage la collaboration pour des activités plus efficaces visant à renforcer les moyens de subsistance en milieu rural, préserver l'environnement, gérer les ressources naturelles et s'adapter au changement climatique.</p>
	<a class="opener bindme curs">Notre Activités<img src="/down.png"></a>
</div>
<div class=subs>
	<div class=sub id=activities_about style="margin-top: 0vh;">
		<div class=wrap>
			<div>
				<h4 class=name>Que faisons-nous?</h4>
				<h1>Ensemble pour une Haïti plus verte</h1>
				<img src=greenhand.svg id=greenhand />
				<!-- <a @click=novert($event,true) class="opener curs">Scroll to See Activitoes<img src="/down.png"></a> -->
				<a class="opener bindme curs">Defiler pour voir les activités<img src="/down.png"></a>
			</div>
			<div class=copy>
				<p>Les membres de la Coalition Haïti Prend Racine contribuent aux objectifs nationaux en matière d'environnement et de reboisement. Bien que la plantation d'arbres ne suffit pas à elle seule pour assurer la survie face aux changements climatiques, mais le reboisement demeure l’élément central d'une intervention intégrée qui englobe l'environnement, l'économie et l'énergie.</p>
			</div>
		</div>
	</div>
	<div id="activities_proj1" class="sub activitiesprojsub" style="">
		<div class="wrap">
			<h4>Projet Un</h4>
			<div id=res1 class="paper"></div>
			<div id=res3 class="paper"></div>
			<div id=res2 class="paper"></div>
			<div id=res4 class="paper"></div>
			<div id=res5 class="paper"></div>
			<div id=res6 class="paper"></div>
			<div id=res7 class="paper"></div>
			<h1>Territoires Productifs et Résilients</h1>
			<p>Brève description du projet : Projet Territoires Productifs Résilients (TPR) est un projet du ministère de l'Environnement et du ministère de l'Agriculture, du Développement rural et des Ressources naturelles d'Haïti, avec l'appui technique et financier de la Banque mondiale et de la J/P Haitian Relief Organization.</p>
			<a class="boxbutt bindbox" data-targ=#proj1>Voir le projet au complet</a>
		</div>
		<div class=projmode id=proj1>
			<div class="projslide projmain" data-slide="proj_main" data-slidedex="0" data-title="Project 1">
				<a class="allproj boxbutt bindallproj">&larr;  Tous les projets</a>
				<h1>Territoires Productifs et Résilients</h1>
				<p>Le projet Territoires Productifs Résilients (TPR) permettra de briser le cycle de dégradation des ressources naturelles et d'accroître la vulnérabilité des familles rurales grâce à une approche intégrée dans quatre bassins versants du département des Nippes. TPR travaillera dans le secteur agricole au niveau des communautés pour augmenter simultanément la production et la productivité en utilisant des pratiques agricoles plus résilientes et adaptées aux zones agro-écologiques. Cela  contribuera directement à la reconstruction de la base des ressources naturelles. Le soutien à la production locale comprendra des intrants tels que les semences, les plantes et la formation, ainsi qu'une aide à la mise sur le marché des produits, y compris les infrastructures rurales.
				<br /><br />
				Le TPR renforcera également l'environnement institutionnel favorable et améliorera les capacités de gouvernance et de gestion de l’environnement tant au niveau national que local. Les interventions ont été proposées et validées dans le cadre d'un processus participatif incluant tous les acteurs locaux et les élus (pour en savoir plus sur la méthodologie, cliquer ICI - lien vers le blog).</p>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projgallery" data-slide="proj_gallery" data-slidedex="1" data-title="Project 1 | Gallery">
				<a class="allproj boxbutt bindallproj">&larr; Tous les projets</a>
				<ul class="slicent projgalleryslider" id="proj1_gallery_slider" data-navid="#proj1_gallery_nav">
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
					<li class=projgalleryslide style="background-image:url('/test.jpg')"></li>
				</ul>
				<div class=projgallerynav id=proj1_gallery_nav></div>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projteam" data-slide="proj_team" data-slidedex="2" data-title="Project 1 | The Team">
				<a class="allproj boxbutt bindallproj">&larr; Tous les projets</a>
				<div class=wrap>
					<h4>Project One</h4>
					<h1>The Team</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
					<ul class=projteamlist>
						<li>TBA – Recruitment for the Coordination Team of RPL is currently ongoing.</li>
					</ul>
				</div>
				<ul class=projteamgrid>
					<li id=team_member1>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member2>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member3>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member4>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member5>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member6>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
					<li id=team_member7>
						<div class=grid_modal_inner>
							<div class=team_member_pic></div>
						</div>
					</li>
				</ul>
				<a class="opener bindme curs"><img src="/down.png"></a>
			</div>
			<div class="projslide projquotes" data-slide="proj_quotes" data-slidedex="3" data-title="Project 1 | A Word From Our Team" style="background-color:#52624c">
				<a class="allproj boxbutt bindallproj">&larr; Tous les projets</a>
				<h4>Project One</h4>
				<h1>A Word From Our Team</h1>
				<ul class="sli projquotescarousel" id=proj1_quotes_carousel data-navid="#proj1_quotes_nav">
					<li>
						<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>John Smith</strong>
								<span class=project_quote_company>OneDrop.org</span>
							</div>
						</div>
					</li>
					<li>
						<p>“Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. .”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>Jane Doe</strong>
								<span class=project_quote_company>Google.com</span>
							</div>
						</div>
					</li>
					<li>
						<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
						<div class=flex>
							<div class=project_quote_pic style="background-image:url(/kitty.jpg)"></div>
							<div>
								<strong class=project_quote_name>Joe Somebody</strong>
								<span class=project_quote_company>Yahoo.com</span>
							</div>
						</div>
					</li>
				</ul>
				<div id="proj1_quotes_nav" class=projquotesnav></div>		
			</div>
		</div>
	</div>
</div>