<div id=story>
 <div class="paper"><img src="board1.png" id="storypic"></div>
 <div class=wrap>
 <h1>Phara</h1>
 <h4>Haitian Student</h4>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet nisl pharetra urna vulputate molestie sit amet non diam. Phasellus blandit pellentesque eros eu mollis. Aenean sit amet sem eget nisi ultricies porta feugiat sed nunc. Fusce ullamcorper tristique leo sit amet finibus. Donec viverra vulputate massa at convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in efficitur eros. Vivamus pulvinar ultrices leo, ut scelerisque sapien bibendum quis. Ut turpis lorem, scelerisque sed dui quis, iaculis euismod neque. Curabitur placerat nisl in pulvinar scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc magna ligula, aliquam at est in, vestibulum vehicula est. Curabitur egestas dapibus lectus, quis bibendum turpis mollis sed. Donec sodales lacus eu ante malesuada, id blandit nulla convallis.</p>
</div>
<img id=modeclose src=closeblk.svg  />
</div>
