<h4>LA COALITION</h4>
<h1 class="name">Nous devons affronter les phénomènes du changement climatique ensemble</h1>
<p>Haïti Prend Racine réunit des personnes et des organisations pour faire face aux défis du changement climatique. HTR diffuse de l'information et sensibilise les gens aux stratégies qui peuvent aider les familles à s'adapter aux changements climatiques, tout en tirant parti de nos voix collectives pour accéder aux fonds internationaux qui peuvent aider Haïti à tester et promouvoir des réponses novatrices au défi mondial de notre siècle.</p>
<a class="opener bindme curs">à propos de la coalition<img src="/down.png"></a>
<div class=subs>
	<div class=sub id=coalition_who style="margin-top: 0px;">
		<div class=wrap>
			<div class=flex>
				<div class=header_wrap>
					<h4>Haiti Prend Racine</h4>
					<h1>La Coalition</h1>
				</div>
				<p>Haïti prend racine (HTR) est une nouvelle approche de la crise environnementale en Haïti. Au lieu de créer une nouvelle organisation, l’initiative HTR vise à renforcer les capacités et la coordination entre les parties prenantes existantes afin de gérer les ressources naturelles d'Haïti et de s'adapter aux impacts du changement climatique.</p>
			</div>
			<ul class=slilarge id=coalition_who_carousel>
				<li>
					<div class=carousel_item_image id=logo1></div>
					<h2 class=carousel_item_title>Gouvernement d’Haïti</h2>
					<p></p>
					<a href="http://primature.gouv.ht/">Visit Site ⟶</a>
				</li>
				<li>
					<div class=carousel_item_image id=logo2></div>
					<h2 class=carousel_item_title>La Banque mondiale</h2>
					<p>La Banque mondiale est une source vitale d'aide financière et technique pour les pays en développement du monde entier. Ses objectifs sont de mettre fin à l'extrême pauvreté et de promouvoir une prospérité partagée.</p>
					<a href="https://www.worldbank.org/">Visit Site ⟶</a>
				</li>
				<li>
					<div class=carousel_item_image id=logo3></div>
					<h2 class=carousel_item_title>Mission de la J/P HRO</h2>
					<p>A la J/P HRO nous œuvrons pour sauver des vies à travers des programmes tangibles, rapides et durables pour ceux qui sont affectés par les catastrophes.</p>
					<a href="https://jphro.org/">Visit Site ⟶</a>
				</li>
				<li>
					<div class=carousel_item_image id=logo4></div>
					<h2 class=carousel_item_title>Agence Française de Développement</h2>
					<p>L’AFD s'engage en faveur de projets qui améliorent véritablement la vie quotidienne des populations, dans les pays en développement et émergents et dans les territoires français d'outre-mer.</p>
					<a href="https://www.afd.fr/fr">Visit Site ⟶</a>
				</li>
				<li>
					<div class=carousel_item_image id=logo5></div>
					<h2 class=carousel_item_title>La Fondation Parker</h2>
					<p>Created by Sean and Alexandra Parker, the foundation builds upon their historical philanthropic support and capitalizes on their pioneering ACTIVITIES in the fields of technology, media, company building, and public policy.</p>
					<a href="https://parker.org/">Visit Site ⟶</a>
				</li>
			</ul>
			<div id=coalition_who_carousel_nav></div>
		</div>
	</div>
	<div class=sub id=coalition_structure>
		<div class=wrap>
			<h4>Principes Directeurs</h4>
			<h1>Déclaration pour une Haïti plus verte</h1>
			<p>La mission de la Coalition Haïti Prend Racine est de renforcer la résilience au changement climatique des communautés haïtiennes en renforçant les capacités et la coordination en matière de reboisement et de gestion des ressources naturelles, en utilisant une approche intégrée, durable et centrée sur l’être humain. Tous les membres de la coalition Haïti Prend Racine sont liés par un ensemble de principes directeurs qui représentent nos valeurs communes et les leçons apprises sur la manière dont nous pouvons construire une Haïti plus verte.</p>
		</div>
		<div class="tooltip_outer bind_tooltip">
			<h4></h4>
			<p></p>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 851.2 990.17"><defs><style>.cls-1{fill:none;}.cls-2,.cls-3{isolation:isolate;}.cls-3{opacity:0.3;mix-blend-mode:multiply;}.cls-4{clip-path:url(#clip-path);}.cls-5{fill:#4b9e47;}.cls-6{fill:#373930;fill-rule:evenodd;opacity:0.5;}</style><clipPath id="clip-path"><rect id="SVGID" class="cls-1" x="267.2" y="250" width="148" height="166"/></clipPath></defs><title>treehover</title><g class="cls-2"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path id="leaf1" data-head="Les personnes d’abord, les arbres ensuite" data-blurb="Nous sommes conscients que les communautés rurales sont emprisonnés dans le cercle vicieux de la pauvreté et de la dégradation de l'environnement. Pour relever le défi du changement climatique et de la restauration écologique nous adopterons des stratégies en lien avec des solutions économiques ainsi que des moyens de subsistance plus viables pour les Haïtiens des zones rurales." class="cls-5" d="M390.89,392a88.26,88.26,0,0,1-12.7-2.14,118.53,118.53,0,0,1-12.53-3.72,128,128,0,0,1-21.83-10.25,134.54,134.54,0,0,1-34.06-28.79A136,136,0,0,1,286.56,309a129.64,129.64,0,0,1-6.82-23.13,121.65,121.65,0,0,1-1.8-12.94,90.73,90.73,0,0,1-.22-12.82,90,90,0,0,1,12.66,2.16,121.3,121.3,0,0,1,12.5,3.75,128.72,128.72,0,0,1,21.82,10.26A139.29,139.29,0,0,1,382.12,343a128.56,128.56,0,0,1,6.81,23.14,121.61,121.61,0,0,1,1.77,13,88.7,88.7,0,0,1,.19,12.86"/><path id="leaf2" data-head="Les arbres pour les personnes, par les personnes" data-blurb="Nous allons nous assurer que les communautés s'approprient et s'impliquent dans la mise en œuvre des activités. Nous ferons de la participation communautaire le fondement de la planification et de la programmation, car le succès des activités repose sur une compréhension profonde et une empathie pour les conditions dans lesquelles vivent les communautés. C’est aussi le meilleur moyen pour cerner l’ensemble complexe des dynamiques qui sont à l'origine de pratiques agricoles et forestières non durables. Nous travaillerons en partenariat avec des organisations et des institutions locales et renforcerons celles qui sont en mesure d'assurer le leadership et la durabilité." class="cls-5" d="M423,203.17a88.23,88.23,0,0,1,9.4,11.13,121.57,121.57,0,0,1,7.15,11.12,130.54,130.54,0,0,1,10,22.26,138.57,138.57,0,0,1,7.27,44.51,136.82,136.82,0,0,1-7.18,44.51,128.3,128.3,0,0,1-10,22.26,123.41,123.41,0,0,1-7.18,11.12A88,88,0,0,1,423,381.21a88.94,88.94,0,0,1-9.46-11.13A125.48,125.48,0,0,1,406.4,359a128.37,128.37,0,0,1-10-22.26,140.81,140.81,0,0,1,.1-89,129.76,129.76,0,0,1,10-22.26,121.57,121.57,0,0,1,7.15-11.12,88.23,88.23,0,0,1,9.4-11.13"/><path id="leaf3" data-head="Un problème complexe nécessite une solution complexe" data-blurb="La déforestation est un problème complexe qui exige une approche multidimensionnelle et intégrée. Le simple fait de planter des arbres, comme ce fut le cas dans le passé, ne permet pas de s'attaquer profondément aux facteurs interdépendants de la déforestation et de la dégradation environnementale. C’est pourquoi nous adopterons plutôt une approche multidimensionnelle et holistique pour briser le cercle vicieux de la pauvreté et de la dégradation de l'environnement." class="cls-5" d="M423,0a88.23,88.23,0,0,1,9.4,11.13,121.69,121.69,0,0,1,7.15,11.13,130.1,130.1,0,0,1,10,22.25A138.57,138.57,0,0,1,456.85,89a136.77,136.77,0,0,1-7.18,44.51,128.3,128.3,0,0,1-10,22.26,120.65,120.65,0,0,1-7.18,11.12A88,88,0,0,1,423,178a88.94,88.94,0,0,1-9.46-11.13,122.63,122.63,0,0,1-7.17-11.12,128.37,128.37,0,0,1-10-22.26A137,137,0,0,1,389.21,89a138.3,138.3,0,0,1,7.27-44.51,129.33,129.33,0,0,1,10-22.25,121.69,121.69,0,0,1,7.15-11.13A88.23,88.23,0,0,1,423,0"/><path id="leaf4" data-head="Haïti doit montrer la voie" data-blurb="Le Gouvernement haïtien doit assurer la direction ainsi que la coordination des activités visant à renforcer la résilience aux changements climatiques. Nos projets seront fortement alignés sur les politiques nationales d'Haïti. Plus particulièrement sur la « Contribution prévue déterminée au niveau nationale (CPDN) » document présenté lors de la conférence sur le climat COP21 à Paris en 2015. Le gouvernement et les institutions publiques d'Haïti sont des partenaires clés, tant au niveau local que national, et nous travaillerons au renforcement des capacités de ces acteurs incontournables." class="cls-5" d="M157,89a88.55,88.55,0,0,1,14.38,2.33,120.4,120.4,0,0,1,12.67,3.8,128.6,128.6,0,0,1,22.07,10.39,138.28,138.28,0,0,1,34.49,29.05,136.83,136.83,0,0,1,23.53,38.47A129,129,0,0,1,271,196.47a122.43,122.43,0,0,1,1.8,13.12,88.55,88.55,0,0,1,.06,14.6,87.93,87.93,0,0,1-14.42-2.29,122.48,122.48,0,0,1-12.69-3.78,128.82,128.82,0,0,1-22.09-10.38,137.2,137.2,0,0,1-34.42-29.12,138.53,138.53,0,0,1-23.45-38.53,130.19,130.19,0,0,1-6.89-23.4,124.93,124.93,0,0,1-1.82-13.1A89.09,89.09,0,0,1,157,89"/><path id="leaf5" data-head="Pour trouver une solution à long terme, nous devons prendre un engagement à long terme" data-blurb="Le succès de notre approche nécessite un engagement à long terme. Nos interventions couperont court à la logique de petit projet à court terme. Parce que nous sommes convaincus qu'une vision à long terme est nécessaire pour assurer la durabilité et un impact plus grand." class="cls-5" d="M309.62,89A89.9,89.9,0,0,1,322,96.72a124.74,124.74,0,0,1,10.22,8.4,129.39,129.39,0,0,1,16.34,18.12A140.6,140.6,0,0,1,376,207.93a128.06,128.06,0,0,1-2.7,24.25,120.62,120.62,0,0,1-3.41,12.8,89.07,89.07,0,0,1-5.58,13.49,88.54,88.54,0,0,1-12.42-7.69,121.38,121.38,0,0,1-10.24-8.39,128.91,128.91,0,0,1-16.37-18.1A140.74,140.74,0,0,1,298,139.53a130.52,130.52,0,0,1,2.69-24.25,124.28,124.28,0,0,1,3.38-12.78A89.21,89.21,0,0,1,309.62,89"/><path id="leaf6" data-head="Collaboration et engagement à long terme = succès" data-blurb="Nos interventions sortiront de la pensée à court terme parce qu'une vision à long terme est nécessaire pour assurer la durabilité et un impact plus grand. La synergie entre tous les partenaires et intervenants favorisera certainement un impact collectif plus important. Afin de poursuivre une approche multidimensionnelle intégrée, nous devons travailler ensemble pour harmoniser nos activités et coordonner nos efforts en vue de réaliser notre vision commune." class="cls-5" d="M143.17,357.31a87.85,87.85,0,0,1,13-6.5,122.12,122.12,0,0,1,12.51-4.3,129.76,129.76,0,0,1,24-4.44,138.55,138.55,0,0,1,45,3.49,137.16,137.16,0,0,1,41.54,17.53,129,129,0,0,1,19.24,15,123.69,123.69,0,0,1,9.11,9.61,88.21,88.21,0,0,1,8.57,11.83,87.86,87.86,0,0,1-13.05,6.54,122.73,122.73,0,0,1-12.52,4.34,129.13,129.13,0,0,1-24,4.45,140.81,140.81,0,0,1-86.46-21.21,129.76,129.76,0,0,1-19.25-15,123.24,123.24,0,0,1-9.12-9.58,88.12,88.12,0,0,1-8.58-11.77"/><path id="leaf7" data-head="Aider les femmes participe à protéger l'environnement" data-blurb="Les femmes sont des acteurs et décideurs clés dans le choix des modes de consommation énergétique des ménages, aussi bien dans l'agroforesterie. C’est pourquoi elles sont des partenaires de choix pour Haïti Prend Racine. Nous adapterons notre méthodologie et nos activités d'engagement communautaire afin d'encourager une participation et une réceptivité équitables entre les sexes." class="cls-5" d="M178.38,522.71a89.39,89.39,0,0,1,5.21-13.61,122.45,122.45,0,0,1,6.29-11.62A129.87,129.87,0,0,1,204.55,478a140.67,140.67,0,0,1,77.92-43.06,129,129,0,0,1,24.32-2,124.33,124.33,0,0,1,13.21.91,88.9,88.9,0,0,1,14.31,2.91,88.24,88.24,0,0,1-5.18,13.66,123,123,0,0,1-6.28,11.65,128.42,128.42,0,0,1-14.66,19.51,136.8,136.8,0,0,1-35.52,27.77,138.66,138.66,0,0,1-42.49,15.12,129.94,129.94,0,0,1-24.32,2,123.57,123.57,0,0,1-13.19-.88,89.26,89.26,0,0,1-14.29-2.87"/><path id="leaf8" data-head="Changement climatique : un défi pour tout le monde" data-blurb="Un programme d'engagement civique à grande échelle est nécessaire pour favoriser une culture nationale de gestion de l'environnement. Pour s'attaquer au problème de la déforestation en Haïti, il faudra également mobiliser un large échantillon représentatif de la société haïtienne, aussi bien en milieu rural et urbain -incluant les ménages de toutes les catégories socioéconomiques- pour travailler ensemble à la réalisation de l'objectif commun de restauration de l'environnement de leur pays." class="cls-5" d="M0,261.67a88.87,88.87,0,0,1,13.67-5,120.42,120.42,0,0,1,12.91-2.91A129.5,129.5,0,0,1,50.91,252a138.25,138.25,0,0,1,44.31,8.4,136.91,136.91,0,0,1,39.37,22,128.84,128.84,0,0,1,17.48,17,124,124,0,0,1,8,10.55,88.59,88.59,0,0,1,7.22,12.69,87.54,87.54,0,0,1-13.69,5.08,123.66,123.66,0,0,1-12.91,2.93,129,129,0,0,1-24.34,1.79,136.68,136.68,0,0,1-44.28-8.49,138.13,138.13,0,0,1-39.33-22.07,129.32,129.32,0,0,1-17.49-17,121.42,121.42,0,0,1-8-10.52A88.1,88.1,0,0,1,0,261.67"/><path id="leaf9" data-head="Des solutions différentes pour des contextes différents" data-blurb="Les activités doivent être adaptées au contexte, fondées sur des données fiables et adaptatives. Au fur et à mesure que nous travaillerons dans les différents bassins hydrographiques, nos interventions tiendront toujours à des besoins et à des contextes spécifiques. Nous encouragerons un échange permanent sur les bonnes pratiques et les leçons apprises dans différents contextes." class="cls-5" d="M117.66,206.12a88.11,88.11,0,0,1,14.53-1.06,119.42,119.42,0,0,1,13.2.76,129.58,129.58,0,0,1,23.88,5,138.2,138.2,0,0,1,40.29,20.28,137.08,137.08,0,0,1,31.79,32,129.15,129.15,0,0,1,12.12,21.18,122.5,122.5,0,0,1,4.78,12.35,88.28,88.28,0,0,1,3.45,14.19,87.77,87.77,0,0,1-14.56,1.1,119.79,119.79,0,0,1-13.22-.73,129,129,0,0,1-23.9-5,137,137,0,0,1-40.22-20.36,138.42,138.42,0,0,1-31.74-32.05,129.46,129.46,0,0,1-12.12-21.17,120.52,120.52,0,0,1-4.81-12.32,89.05,89.05,0,0,1-3.47-14.15"/><path id="leaf10" data-head="Nous devons innover pour survivre" data-blurb="L'innovation est essentielle pour rompre le cercle vicieux entre pauvreté et dégradation de l'environnement en Haïti. Des décennies d'expérience ont montré que le statu quo n'entraînera pas de changement durable. Nous nous inspirerons et adapterons les bonnes pratiques du monde entier de manière innovante dans le cadre d'une approche intégrée qui devra améliorer et étendre les systèmes traditionnels de production." class="cls-5" d="M23.49,438.81A88.84,88.84,0,0,1,34,428.69a124.62,124.62,0,0,1,10.64-7.86,129.81,129.81,0,0,1,21.55-11.44,138.5,138.5,0,0,1,43.93-10.18A137.08,137.08,0,0,1,155,403.45,128,128,0,0,1,177.85,412a121.89,121.89,0,0,1,11.57,6.42,88.84,88.84,0,0,1,11.73,8.71,88.58,88.58,0,0,1-10.49,10.16A119.38,119.38,0,0,1,180,445.16a127.75,127.75,0,0,1-21.55,11.46,136.72,136.72,0,0,1-43.94,10.08,138.24,138.24,0,0,1-44.89-4.33,130.23,130.23,0,0,1-22.87-8.51,123.87,123.87,0,0,1-11.57-6.4,88.09,88.09,0,0,1-11.72-8.65"/><path id="leaf11" class="cls-5" d="M569.72,258.47a88.76,88.76,0,0,0-14.38,2.32,125.35,125.35,0,0,0-12.67,3.79A131,131,0,0,0,520.59,275,138.51,138.51,0,0,0,486.09,304a137,137,0,0,0-23.54,38.45,128.69,128.69,0,0,0-6.89,23.41,123.14,123.14,0,0,0-1.8,13.12,87.42,87.42,0,0,0-.07,14.6,88,88,0,0,0,14.42-2.28,121.75,121.75,0,0,0,12.69-3.78A128.51,128.51,0,0,0,503,377.16a136.79,136.79,0,0,0,34.42-29.11,138.48,138.48,0,0,0,23.47-38.51,129.5,129.5,0,0,0,6.9-23.41A122.11,122.11,0,0,0,569.62,273a89.09,89.09,0,0,0,.1-14.57"/><path id="leaf12" class="cls-5" d="M689.05,89a88.55,88.55,0,0,0-14.38,2.33A119.69,119.69,0,0,0,662,95.15a128.7,128.7,0,0,0-22.08,10.39,138.46,138.46,0,0,0-34.49,29.05,137,137,0,0,0-23.52,38.47A128.21,128.21,0,0,0,575,196.47a122.43,122.43,0,0,0-1.8,13.12,88.55,88.55,0,0,0-.06,14.6,88.11,88.11,0,0,0,14.42-2.29,122.48,122.48,0,0,0,12.69-3.78,128.82,128.82,0,0,0,22.09-10.38,137,137,0,0,0,34.41-29.12,138.3,138.3,0,0,0,23.45-38.53,129.39,129.39,0,0,0,6.9-23.4,124.93,124.93,0,0,0,1.82-13.1,89.09,89.09,0,0,0,.1-14.57"/><path id="leaf13" class="cls-5" d="M536.44,89a89.9,89.9,0,0,0-12.36,7.7,123.07,123.07,0,0,0-10.22,8.4,130.1,130.1,0,0,0-16.35,18.12,138.51,138.51,0,0,0-20.58,40.12,137.05,137.05,0,0,0-6.83,44.57,128.06,128.06,0,0,0,2.7,24.25,120.62,120.62,0,0,0,3.41,12.8,88.05,88.05,0,0,0,5.58,13.49,88.54,88.54,0,0,0,12.42-7.69,121.38,121.38,0,0,0,10.24-8.39,128.2,128.2,0,0,0,16.36-18.1A140.74,140.74,0,0,0,548,139.53a129.64,129.64,0,0,0-2.68-24.25A124.28,124.28,0,0,0,542,102.5,89.21,89.21,0,0,0,536.44,89"/><path id="leaf14" class="cls-5" d="M702.88,357.31a86.9,86.9,0,0,0-13-6.5,122,122,0,0,0-12.5-4.3,129.91,129.91,0,0,0-24-4.44,138.55,138.55,0,0,0-45,3.49,137,137,0,0,0-41.54,17.53,128,128,0,0,0-19.24,15,121.82,121.82,0,0,0-9.11,9.61,88.21,88.21,0,0,0-8.57,11.83A87.86,87.86,0,0,0,543,406.07a123.42,123.42,0,0,0,12.51,4.34,129.38,129.38,0,0,0,24,4.45,140.81,140.81,0,0,0,86.46-21.21,129.76,129.76,0,0,0,19.25-15,123.16,123.16,0,0,0,9.11-9.58,88.12,88.12,0,0,0,8.58-11.77"/><path id="leaf15" class="cls-5" d="M667.68,522.71a89.39,89.39,0,0,0-5.21-13.61,122.48,122.48,0,0,0-6.3-11.62A129.83,129.83,0,0,0,641.51,478a140.67,140.67,0,0,0-77.92-43.06,129,129,0,0,0-24.33-2,124.32,124.32,0,0,0-13.2.91,88.68,88.68,0,0,0-14.31,2.91,88.24,88.24,0,0,0,5.18,13.66,120.76,120.76,0,0,0,6.28,11.65,127.76,127.76,0,0,0,14.66,19.51,136.8,136.8,0,0,0,35.52,27.77,138.47,138.47,0,0,0,42.49,15.12,129.87,129.87,0,0,0,24.32,2,123.74,123.74,0,0,0,13.19-.88,89.48,89.48,0,0,0,14.29-2.87"/><path id="leaf16" class="cls-5" d="M851.2,261.67a88.87,88.87,0,0,0-13.67-5,120.26,120.26,0,0,0-12.9-2.91A129.56,129.56,0,0,0,800.3,252a140.74,140.74,0,0,0-83.68,30.37,128.9,128.9,0,0,0-17.49,17,124,124,0,0,0-8,10.55,88.57,88.57,0,0,0-7.21,12.69,87.54,87.54,0,0,0,13.69,5.08,123.09,123.09,0,0,0,12.91,2.93,128.83,128.83,0,0,0,24.34,1.79,136.73,136.73,0,0,0,44.28-8.49,138.4,138.4,0,0,0,39.33-22.07,129.9,129.9,0,0,0,17.49-17,123.46,123.46,0,0,0,8-10.52,88.08,88.08,0,0,0,7.23-12.65"/><path id="leaf17" class="cls-5" d="M728.4,206.12a88.11,88.11,0,0,0-14.53-1.06,119.42,119.42,0,0,0-13.2.76,129.58,129.58,0,0,0-23.88,5,140.7,140.7,0,0,0-72.08,52.25,129.15,129.15,0,0,0-12.12,21.18,122.5,122.5,0,0,0-4.78,12.35,88.28,88.28,0,0,0-3.45,14.19,87.77,87.77,0,0,0,14.56,1.1,119.79,119.79,0,0,0,13.22-.73,128.7,128.7,0,0,0,23.89-5,137,137,0,0,0,40.23-20.36A138.42,138.42,0,0,0,708,253.76a130.19,130.19,0,0,0,12.12-21.17,122.88,122.88,0,0,0,4.81-12.32,89.05,89.05,0,0,0,3.47-14.15"/><path id="leaf19" class="cls-5" d="M822.57,438.81a88.13,88.13,0,0,0-10.49-10.12,123,123,0,0,0-10.63-7.86,130.21,130.21,0,0,0-21.55-11.44A138.5,138.5,0,0,0,736,399.21a137,137,0,0,0-44.88,4.24A128,128,0,0,0,668.21,412a120.67,120.67,0,0,0-11.57,6.42,88.84,88.84,0,0,0-11.73,8.71,88.53,88.53,0,0,0,10.48,10.16A119.49,119.49,0,0,0,666,445.16a128,128,0,0,0,21.54,11.46,136.83,136.83,0,0,0,43.95,10.08,138.27,138.27,0,0,0,44.89-4.33,129.85,129.85,0,0,0,22.86-8.51,124,124,0,0,0,11.58-6.4,88.09,88.09,0,0,0,11.72-8.65"/><path class="cls-6" d="M367.18,990.17s27.2-352.15,23.65-355.9l-2.82-3c-3-3.18-5.78-6.16-8.84-8.86-9.22-8.1-16.83-18.91-24-29C349,584.78,345,574.29,338.5,565.39c-6.08-8.31-13.33-15.5-18.8-24.51-1.89-3.11-5-6-5.86-9.87a26,26,0,0,1,3.31-2.76,16.69,16.69,0,0,1,16.52-1.84c8.74,3.44,16.35,12.55,21.08,18.49l.08.1a33,33,0,0,1,2.27,3.44c2.44,4.14,4.67,8.53,9.38,8.54,5.64-5.49,6.1-18.31,4.18-30.49q-.5-3.07-1.16-6c-1.87-8.31-6.66-18.85-11.59-29.1-2.36-4.92-4.75-9.77-6.87-14.27-1.26-2.7-4.18-8.68-6.76-15.44-4.61-12-8.15-26.55.55-29.34,7.76-2.49,12,5.8,15.94,12.63,8.91,15.6,13.48,27.68,20.38,42.12,1.2,2.51,2.66,5.85,4.24,9,2.6,5.16,5.53,9.76,8.21,9.21,3.51-.71,3.07-12.08,2.38-21.9-.16-2.2-.32-4.33-.47-6.24-.78-10.76-1.89-21.68-2.63-31.75-1-13.24-7.3-40.38,6.62-41.1,7.7-.39,10,4.25,12.07,14.95,3.73,19.3,5.14,43,8.12,61.31,1.41,8.62,3.22,22.37,8.84,22.76s7.38-11.37,9.22-18.64c1.94-7.68,3.93-16.19,5.45-24.41,1.91-10.36,2-44.83,15.57-44.2,9.71.45,8.13,14.94,7.58,20.84-.9,9.7-2.25,18.4-3.29,25.2-.94,6.13-2.35,13.8-3.5,21.29-2.13,13.9-3.36,27.14,1,28.64,3.56,1.22,8-4.07,12.29-10.94,3.78-6.07,7.41-13.37,10.15-18.55,5.54-10.43,14.52-32,25-25.63a4.91,4.91,0,0,1,2.25,3.56c1.18,6.63-5.26,19.8-12.32,33.75-5.29,10.44-10.92,21.32-14,30.22,0,.14-.1.28-.14.42-4.46,13.19-3.66,30.3-5,46.82-.12,1.49-.27,3-.43,4.47-.47,4.29-.89,9.41-1.41,14.8-1,10.44-2.42,21.87-5.33,30.07a21.87,21.87,0,0,1-4.67,7.56,4.68,4.68,0,0,0,0,1.93c1.58,15,21.61,359.7,21.61,359.7"/><polyline class="cls-1" points="537.69 986 537.69 378 304.71 378 304.71 986"/><polyline class="cls-1" points="512.2 986 512.2 404 313.2 404 313.2 986"/><polyline class="cls-1" points="512.2 986 512.2 404 313.2 404 313.2 986"/><path class="cls-1" d="M488.3,986c-2.28-39.17-19.89-341.5-21.37-355.53a4.89,4.89,0,0,1,0-1.93,21.87,21.87,0,0,0,4.67-7.56c2.91-8.2,4.31-19.63,5.33-30.07.52-5.39.94-10.51,1.41-14.8.16-1.48.31-3,.43-4.47,1.36-16.52.56-33.63,5-46.82,0-.14.09-.28.14-.42,3.07-8.9,8.7-19.78,14-30.22,7.06-13.95,13.5-27.12,12.32-33.75a4.91,4.91,0,0,0-2.25-3.56c-10.44-6.33-19.42,15.2-25,25.63-2.74,5.18-6.37,12.48-10.14,18.55-4.28,6.87-8.74,12.16-12.3,10.94-4.36-1.5-3.13-14.74-1-28.64,1.15-7.48,2.56-15.16,3.5-21.29,1-6.8,2.39-15.51,3.29-25.2.55-5.9,2.13-20.39-7.58-20.84-13.55-.63-13.65,33.84-15.57,44.2-1.52,8.22-3.51,16.73-5.45,24.41-1.84,7.27-3.61,19-9.22,18.64s-7.43-14.14-8.84-22.75c-3-18.3-4.39-42-8.12-61.32-2-10.28-4.19-15-11.18-15l-.89,0"/><path class="cls-1" d="M399.5,404.26c-13.92.71-7.59,27.85-6.62,41.09.74,10.07,1.85,21,2.63,31.75.15,1.91.31,4,.47,6.24.69,9.83,1.13,21.19-2.38,21.9-2.68.55-5.61-4.05-8.21-9.21-1.58-3.14-3-6.48-4.24-9-6.9-14.44-11.47-26.52-20.38-42.12-3.9-6.83-8.18-15.12-15.94-12.63-8.7,2.79-5.16,17.3-.55,29.34,2.58,6.76,5.5,12.74,6.76,15.44,2.12,4.5,4.51,9.35,6.88,14.27,4.92,10.25,9.71,20.79,11.58,29.1.44,2,.83,4,1.16,6,1.92,12.18,1.46,25-4.18,30.49-4.71,0-6.94-4.4-9.38-8.53a32.15,32.15,0,0,0-2.27-3.45l-.08-.1c-4.73-5.94-12.34-15-21.08-18.49a16.69,16.69,0,0,0-16.52,1.84,26,26,0,0,0-3.31,2.76c.82,3.82,4,6.76,5.86,9.87,5.47,9,12.72,16.2,18.8,24.51,6.51,8.9,10.52,19.39,16.69,28.06,7.15,10,14.76,20.86,24,29,3.06,2.7,5.87,5.68,8.84,8.86l2.82,3c3.32,3.51-20.29,312.11-23.33,351.73"/></g></g></g></svg>
	</div>
	<div class=sub id=coalition_board>
		<div class=wrap>
			<h4>Faces of Change</h4>
			<h1>Board of Advisors</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
			<strong class=curs>click on photos for bios</strong>
		</div>
		<ul id=coalition_board_grid>
			<li id=board_member1>
				<div class=grid_modal_inner>
					<a class="bind_close_grid_modal close_grid_modal"><img src=/closeblk.svg /></a>
					<div class="read_more_link board_member_pic"></div>
					<div>
						<h2 class=board_member_name>Sean Penn</h2>
						<h3 class=board_member_role>Board of Advisors</h3>
						<p>Skate ipsum dolor sit amet, vert sponsored front foot impossible Primo slide bone air pump. Trucks smith grind nose-bump Saran Wrap Thunder tic-tac aerial. Crailtap axle set Kevin Harris Jordan Richter Christ air nosegrind poseur. Manual rail slide snake kickflip slappy coping. Regular footed stalefish tic-tac axle set poseur rip grip. Axle set slappy blunt hardware rails transfer. Launch ramp 1080 rip grip bone air slap maxwell Video Days regular footed. Full-cab regular footed hang up wax hip front foot impossible. Poseur berm hardware ollie north cess slide late. Melancholy rad snake pivot varial Kevin Harris. Rick Howard carve coffin nollie kick-nose tailslide handplant. Helipop baseplate blunt 270 rad downhill Tommy Guerrero. Pogo hardware slob air grab Saran Wrap ollie.</p>
					</div>
				</div>
			</li>
			<li id=board_member2>
				<div class=grid_modal_inner>
					<a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
					<div class="read_more_link board_member_pic"></div>
					<div>
						<h2 class=board_member_name>Board Member 2</h2>
						<h3 class=board_member_role>Board of Advisors</h3>
						<p>Tuna-flip ollie hole bail ledge stoked baseplate. Boardslide melancholy nosegrind roll-in frontside air no comply. Pump manual rail slide snake blunt goofy footed. Airwalk slide ollie north late judo air casper. Air rail Kevin Harris Guy Mariano snake ho-ho indy grab. Opposite footed acid drop berm pogo hang ten rad. Hang ten skate key sick launch ramp fastplant boardslide. Opposite footed shinner hang ten stalefish steps pressure flip. Paul Rodriguez freestyle acid drop nosebone ollie sick steps. Bruised heel vert berm skater Rudy Johnson late finger flip.</p>
					</div>
				</div>
			</li>
			<li id=board_member3>
				<div class=grid_modal_inner>
					<a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
					<div class="read_more_link board_member_pic"></div>
					<div>
						<h2 class=board_member_name>Board Member 3</h2>
						<h3 class=board_member_role>Board of Advisors</h3>
						<p>Axle Tracker mongo impossible kingpin soul skate. Soul skate Jeff Phillips flypaper lip melancholy launch ramp 360. Launch ramp Tracker baseplate sketchy lien air rad. Switch bank hardware Thunder face plant mongo 180. Helipop berm hospital flip darkslide tuna-flip fast plant. Launch ramp frontside air locals 900 slob air griptape. Half-flip chicken wing grind 900 alley oop tail. Boardslide darkslide sponsored hang-up Skate Rock hospital flip cab flip. Colin McKay Christ air grind rocket air skate or die judo air method air. Bigspin egg plant dude nosebone downhill nose.</p>
					</div>
				</div>
			</li>
			<li id=board_member4>
				<div class=grid_modal_inner>
					<a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
					<div class="read_more_link board_member_pic"></div>
					<div>
						<h2 class=board_member_name>Angelina Jolie</h2>
						<h3 class=board_member_role>Board of Advisors</h3>
						<p>Skate ipsum dolor sit amet, bone air judo air rad rail rails bluntslide hospital flip. Boardslide pressure flip disaster nose slide snake launch ramp 180. Coper 540 cess slide heel flip backside rip grip 720. Grind judo air speed wobbles fast plant hospital flip Geoff Rowley rip grip 50-50. Hang up launch ramp cess slide skate or die heel flip nose bump smith grind. Front foot impossible egg plant aerial mongo sponsored axle set crail slide. Rail rip grip sponsored camel back 720 street Tracker. Tuna-flip Shorty's egg plant bail switch chicken wing quarter pipe grind. Kickflip downhill Old Ghosts nose bump 180 slap maxwell Kevin Harris skate key. Frontside 900 fakie out skate or die alley oop body varial berm. Deck cess slide salad grind method air hard flip indy grab face plant.</p>
					</div>
				</div>
			</li>
			<li id=board_member5>
				<div class=grid_modal_inner>
					<a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
					<div class="read_more_link board_member_pic"></div>
					<div>
						<h2 class=board_member_name>Leonardo Dicaprio</h2>
						<h3 class=board_member_role>Board of Advisors</h3>
						<p>Skate or die lip nose bump late regular footed ledge. Helipop handplant berm Rudy Johnson tailslide hang-up risers. Casper John Grigley transition air switch opposite footed slide. Acid drop Japan air g-turn Old Ghosts hanger yeah nollie. Hang-up full-cab frontside drop in axle goofy footed. Slide Transworld rock and roll Japan air boneless cess slide mini ramp. Skater crailtap transfer boned out crail grab frontside G&S. Blunt indy grab coffin hurricane ledge sick. Boneless carve berm slappy camel back speed wobbles Caballerial. Tuna-flip pogo casper face plant melancholy tailslide Colin McKay. Switch fakie out hip skate key kidney heel flip. Hardware pogo nosegrind tuna-flip salad grind Eric Koston cab flip. Gnarly poseur ollie north slap maxwell mute-air death box Baker.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class=sub id=coalition_testimonials>
		<div class=wrap>
			<h4>Together, We Can</h4>
			<h1>Supporter Testimonials</h1>
			<ul class=sli id=coalition_testimonials_carousel data-navid="#coalition_testimonials_carousel_nav">
				<li>
					<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
					<div class=flex>
						<div class=coalition_testimonial_pic style="background-image:url(/kitty.jpg)"></div>
						<div>
							<strong class=coalition_testimonial_name>John Smith</strong>
							<span class=coalition_testimonial_company>OneDrop.org</span>
						</div>
					</div>
				</li>
				<li>
					<p>“Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. .”</p>
					<div class=flex>
						<div class=coalition_testimonial_pic style="background-image:url(/kitty.jpg)"></div>
						<div>
							<strong class=coalition_testimonial_name>Jane Doe</strong>
							<span class=coalition_testimonial_company>Google.com</span>
						</div>
					</div>
				</li>
				<li>
					<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincideet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisa commodo consequat.”</p>
					<div class=flex>
						<div class=coalition_testimonial_pic style="background-image:url(/kitty.jpg)"></div>
						<div>
							<strong class=coalition_testimonial_name>Joe Somebody</strong>
							<span class=coalition_testimonial_company>Yahoo.com</span>
						</div>
					</div>
				</li>
			</ul>
			<div id="coalition_testimonials_carousel_nav"></div>
		</div>
	</div>
</div>
