<div class=wrap>
    <h4 class="name">S’IMPLIQUER</h4>
    <h1>Contactez-nous</h1>
    <p>Pour de plus amples informations, prière d’envoyer un email à:  <a href=mailto:coalition@haititakesroot.org>coalition@haititakesroot.org</a></p>
    <p>ou appelez nous au: +509 2227-6676</p>
	<p>6, Route de Puits Blain<br />
	<p>Pétionville, Haiti</p>
</div>
<div id="formcont">
<img class="nomess nomess_link" src=/close.svg />
<form class=contactform data-off=false>
    <div class="field">
    	<div class="control">
	    <h4 class=bindmess>Send Message</h4>
	</div>
    </div>
    <div class="field">
        <div class="control">
            <input type="text" name="first" placeholder="Prenom" required>
        </div>
        <div class="control">
            <input type="text" name="last" placeholder="Nom" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="phone" name="phone" placeholder="Telephone">
        </div>
        <div class="control">
            <input type="email" name="email" placeholder="Email" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="text" name="subject" placeholder="Sujet">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <textarea id="message" name="message" placeholder="Message" required></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
	    <input type=submit value=Soumettre id=submit />
        </div>
    </div>
</form>
</div>
