<style>
    #impact_about .header_wrap {
        width:100%;
    }
    #impact_about_buckets {
        margin-top:5%;
        display:flex;

    }
    #impact_about_buckets div {
        width: 31.332%;
        margin-right:2%;
    }
    
    #impact_about_buckets h4, #impact_about_buckets p {
        text-align:center;
    }

    #impact_about_buckets h4 {
        font-size:1.5em;
        font-family: argentBold,serif;
        margin-bottom:5%;
        margin-top:5%;
    }


    #impact_about_buckets .communities_color {
        color: #b25538;
    }

    #impact_about_buckets .founded_color {
        color: #7e8959;
    }

    #impact_about_buckets .trees_planted_color {
        color: #c5b36e;
    }



    #impact_about_buckets div span img {
        width: 100%;
        padding-left:20%;
        padding-right:20%;
    }
    #impact_about_buckets div span {
        min-height:125px;
        /*display:inline-block;*/
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 900px) {
      #impact_about .flex, #impact_about_buckets {
        flex-wrap: wrap !important;
      }
      #impact_about_buckets div {
        width: 100% !important;
        margin-bottom:2% !important;
      }
      #impact_about .header_wrap .name {
        display:none !important;
      }
      #impact_about > div > div.flex > p {
        font-size:.8em !important;
      }
      #impact_about_buckets div span img {
        margin:0 auto !important;
        width:75% !important;
      }
      #impact_about_buckets h4 {
        font-size:1.2em !important;
      }
      #impact_about_buckets div span {
        min-height:35px !important;
      }
    }
</style>

<div class=wrap>
    <div id="impact_intro" class="flex">
        <div class=header_wrap>
            <h4 class="name">Our Impact</h4>
            <h1>Better Lives in a Greener Haiti</h1>
        </div>
        <p>We envision a greener, more resilient Haitian landscape. A future where farmers not only survive, but can thrive because of access to seeds, training, and markets. A future where Haitians and their public institutions have the knowledge and the means to effectively manage their natural resources.</p>
    </div>
    <div id=youwrap>
        <iframe id=you src="https://www.youtube.com/embed/HtgFx72dj9M" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <a class="opener bindme curs">Mapping Our Impact<img src="/down.png"></a>
</div>
<div class="subs">
<div id="impact_about" class="sub" style="margin-top: 0px;">
    <div class="impact_container">
        <div class="flex">
            <div class=header_wrap>
                <h4 class="name">TOGETHER WE CARE</h4>
                <h1>ABOUT OUR IMPACT</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
        </div>
        <div id=impact_about_buckets>
            <div>
                <span><img src="/impact/impact_numers-01.png" style="padding-top:2.5%"/></span>
                <h4 class="founded_color">Founded</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <span><img src="/impact/impact_numers-02.png"/></span>
                <h4 class="communities_color">Comunities Helped</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div>
                <span><img src="/impact/impact_numers-03.png" style="padding-top:5.5%"/></span>
                <h4 class=trees_planted_color>Trees Planted</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <a class="opener bindme curs">Mapping Our Impact<img src="/down.png"></a>
    </div>
</div>




    <div id="impact_map" class="sub" style="margin-top: 0px;">
        <div>
            <h4>Together We Care</h4>
            <h1>Our Impact</h1>
            <p>Skate ipsum dolor sit amet, casper bail Neal Hendrix pogo betty boardslide coffin concave. G-turn nollie gnar bucket fastplant snake Alien Workshop body varial frontside air. 50-50 pool full pipe vert pivot masonite crailtap. Fastplant kickturn Dustin Dollin shinner transfer nose slob air kidney. Full pipe skater front foot impossible rip grip hand rail wheels shinner Lester Kasai. Cess slide slap maxwell tailslide Wade Speyer rock and roll pivot downhill nollie.</p>
        </div>
        <div id=map>
            <div class="impact_map_key curs"><img src=/impact_stories_map_tree.png /> = 1,000 Trees</div>
            <img id=mapmage src=/impact_trees_18.svg />
            <h5>Click on date to see impact</h5>
            <div id="timeswitch">
                <div data-view="18" class="timeon time">2018</div>
                <div data-view="19" class="time">2019</div>
                <div data-view="20" class="time">2020</div>
                <div data-view="21" class="time">2021</div>
            </div>
        </div>
    </div>
    <div id="impact_stories" class="sub" style="">
        <div>
            <h4>Together We Care</h4>
            <h1>Stories From Haiti</h1>
            <p>Skate ipsum dolor sit amet, casper bail Neal Hendrix pogo betty boardslide coffin concave. G-turn nollie gnar bucket fastplant snake Alien Workshop body varial frontside air. 50-50 pool full pipe vert pivot masonite crailtap. Fastplant kickturn Dustin Dollin shinner transfer nose slob air kidney. Full pipe skater front foot impossible rip grip hand rail wheels shinner Lester Kasai. Cess slide slap maxwell tailslide Wade Speyer rock and roll pivot downhill nollie.</p>
            <strong class="curs impact_toggle_hide" style="display: none;">click on photos to read story</strong>
        </div>
        <div id="storycont" data-mode="map">
            <div id=stories_map>
                <img id=impact_stories_map src=/impact_stories_map.png />
                 <ul id=impact_stories_map_grid>
                    <li id=impact_story1>
                        <div class=grid_modal_inner>
                            <a class="bind_close_grid_modal close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_map_pin"></div>
                            <div class=impact_story_pic></div>
                            <div>
                                <h2 class=impact_story_name>Phara</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate ipsum dolor sit amet, vert sponsored front foot impossible Primo slide bone air pump. Trucks smith grind nose-bump Saran Wrap Thunder tic-tac aerial. Crailtap axle set Kevin Harris Jordan Richter Christ air nosegrind poseur. Manual rail slide snake kickflip slappy coping. Regular footed stalefish tic-tac axle set poseur rip grip. Axle set slappy blunt hardware rails transfer. Launch ramp 1080 rip grip bone air slap maxwell Video Days regular footed. Full-cab regular footed hang up wax hip front foot impossible. Poseur berm hardware ollie north cess slide late. Melancholy rad snake pivot varial Kevin Harris. Rick Howard carve coffin nollie kick-nose tailslide handplant. Helipop baseplate blunt 270 rad downhill Tommy Guerrero. Pogo hardware slob air grab Saran Wrap ollie.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story2>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_map_pin"></div>
                            <div class=impact_story_pic></div>
                            <div>
                                <h2 class=impact_story_name>Student 2</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Tuna-flip ollie hole bail ledge stoked baseplate. Boardslide melancholy nosegrind roll-in frontside air no comply. Pump manual rail slide snake blunt goofy footed. Airwalk slide ollie north late judo air casper. Air rail Kevin Harris Guy Mariano snake ho-ho indy grab. Opposite footed acid drop berm pogo hang ten rad. Hang ten skate key sick launch ramp fastplant boardslide. Opposite footed shinner hang ten stalefish steps pressure flip. Paul Rodriguez freestyle acid drop nosebone ollie sick steps. Bruised heel vert berm skater Rudy Johnson late finger flip.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story3>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_map_pin"></div>
                            <div class=impact_story_pic></div>
                            <div>
                                <h2 class=impact_story_name>Student 3</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Axle Tracker mongo impossible kingpin soul skate. Soul skate Jeff Phillips flypaper lip melancholy launch ramp 360. Launch ramp Tracker baseplate sketchy lien air rad. Switch bank hardware Thunder face plant mongo 180. Helipop berm hospital flip darkslide tuna-flip fast plant. Launch ramp frontside air locals 900 slob air griptape. Half-flip chicken wing grind 900 alley oop tail. Boardslide darkslide sponsored hang-up Skate Rock hospital flip cab flip. Colin McKay Christ air grind rocket air skate or die judo air method air. Bigspin egg plant dude nosebone downhill nose.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story4>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_map_pin"></div>
                            <div class=impact_story_pic></div>
                            <div>
                                <h2 class=impact_story_name>Student 4</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate ipsum dolor sit amet, bone air judo air rad rail rails bluntslide hospital flip. Boardslide pressure flip disaster nose slide snake launch ramp 180. Coper 540 cess slide heel flip backside rip grip 720. Grind judo air speed wobbles fast plant hospital flip Geoff Rowley rip grip 50-50. Hang up launch ramp cess slide skate or die heel flip nose bump smith grind. Front foot impossible egg plant aerial mongo sponsored axle set crail slide. Rail rip grip sponsored camel back 720 street Tracker. Tuna-flip Shorty's egg plant bail switch chicken wing quarter pipe grind. Kickflip downhill Old Ghosts nose bump 180 slap maxwell Kevin Harris skate key. Frontside 900 fakie out skate or die alley oop body varial berm. Deck cess slide salad grind method air hard flip indy grab face plant.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story5>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_map_pin"></div>
                            <div class=impact_story_pic></div>
                            <div>
                                <h2 class=impact_story_name>Student 5</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate or die lip nose bump late regular footed ledge. Helipop handplant berm Rudy Johnson tailslide hang-up risers. Casper John Grigley transition air switch opposite footed slide. Acid drop Japan air g-turn Old Ghosts hanger yeah nollie. Hang-up full-cab frontside drop in axle goofy footed. Slide Transworld rock and roll Japan air boneless cess slide mini ramp. Skater crailtap transfer boned out crail grab frontside G&S. Blunt indy grab coffin hurricane ledge sick. Boneless carve berm slappy camel back speed wobbles Caballerial. Tuna-flip pogo casper face plant melancholy tailslide Colin McKay. Switch fakie out hip skate key kidney heel flip. Hardware pogo nosegrind tuna-flip salad grind Eric Koston cab flip. Gnarly poseur ollie north slap maxwell mute-air death box Baker.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end stories_map-->
            <div id=stories_collage>
                <ul id=impact_stories_grid>
                    <li id=impact_story1>
                        <div class=grid_modal_inner>
                            <a class="bind_close_grid_modal close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_pic"></div>
                            <div>
                                <h2 class=impact_story_name>Phara</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate ipsum dolor sit amet, vert sponsored front foot impossible Primo slide bone air pump. Trucks smith grind nose-bump Saran Wrap Thunder tic-tac aerial. Crailtap axle set Kevin Harris Jordan Richter Christ air nosegrind poseur. Manual rail slide snake kickflip slappy coping. Regular footed stalefish tic-tac axle set poseur rip grip. Axle set slappy blunt hardware rails transfer. Launch ramp 1080 rip grip bone air slap maxwell Video Days regular footed. Full-cab regular footed hang up wax hip front foot impossible. Poseur berm hardware ollie north cess slide late. Melancholy rad snake pivot varial Kevin Harris. Rick Howard carve coffin nollie kick-nose tailslide handplant. Helipop baseplate blunt 270 rad downhill Tommy Guerrero. Pogo hardware slob air grab Saran Wrap ollie.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story2>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_pic"></div>
                            <div>
                                <h2 class=impact_story_name>Student 2</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Tuna-flip ollie hole bail ledge stoked baseplate. Boardslide melancholy nosegrind roll-in frontside air no comply. Pump manual rail slide snake blunt goofy footed. Airwalk slide ollie north late judo air casper. Air rail Kevin Harris Guy Mariano snake ho-ho indy grab. Opposite footed acid drop berm pogo hang ten rad. Hang ten skate key sick launch ramp fastplant boardslide. Opposite footed shinner hang ten stalefish steps pressure flip. Paul Rodriguez freestyle acid drop nosebone ollie sick steps. Bruised heel vert berm skater Rudy Johnson late finger flip.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story3>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_pic"></div>
                            <div>
                                <h2 class=impact_story_name>Student 3</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Axle Tracker mongo impossible kingpin soul skate. Soul skate Jeff Phillips flypaper lip melancholy launch ramp 360. Launch ramp Tracker baseplate sketchy lien air rad. Switch bank hardware Thunder face plant mongo 180. Helipop berm hospital flip darkslide tuna-flip fast plant. Launch ramp frontside air locals 900 slob air griptape. Half-flip chicken wing grind 900 alley oop tail. Boardslide darkslide sponsored hang-up Skate Rock hospital flip cab flip. Colin McKay Christ air grind rocket air skate or die judo air method air. Bigspin egg plant dude nosebone downhill nose.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story4>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_pic"></div>
                            <div>
                                <h2 class=impact_story_name>Student 4</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate ipsum dolor sit amet, bone air judo air rad rail rails bluntslide hospital flip. Boardslide pressure flip disaster nose slide snake launch ramp 180. Coper 540 cess slide heel flip backside rip grip 720. Grind judo air speed wobbles fast plant hospital flip Geoff Rowley rip grip 50-50. Hang up launch ramp cess slide skate or die heel flip nose bump smith grind. Front foot impossible egg plant aerial mongo sponsored axle set crail slide. Rail rip grip sponsored camel back 720 street Tracker. Tuna-flip Shorty's egg plant bail switch chicken wing quarter pipe grind. Kickflip downhill Old Ghosts nose bump 180 slap maxwell Kevin Harris skate key. Frontside 900 fakie out skate or die alley oop body varial berm. Deck cess slide salad grind method air hard flip indy grab face plant.</p>
                            </div>
                        </div>
                    </li>
                    <li id=impact_story5>
                        <div class=grid_modal_inner>
                            <a class="close_grid_modal bind_close_grid_modal"><img src=/closeblk.svg /></a>
                            <div class="read_more_link impact_story_pic"></div>
                            <div>
                                <h2 class=impact_story_name>Student 5</h2>
                                <h3 class=impact_story_role>Haitian Student</h3>
                                <p>Skate or die lip nose bump late regular footed ledge. Helipop handplant berm Rudy Johnson tailslide hang-up risers. Casper John Grigley transition air switch opposite footed slide. Acid drop Japan air g-turn Old Ghosts hanger yeah nollie. Hang-up full-cab frontside drop in axle goofy footed. Slide Transworld rock and roll Japan air boneless cess slide mini ramp. Skater crailtap transfer boned out crail grab frontside G&S. Blunt indy grab coffin hurricane ledge sick. Boneless carve berm slappy camel back speed wobbles Caballerial. Tuna-flip pogo casper face plant melancholy tailslide Colin McKay. Switch fakie out hip skate key kidney heel flip. Hardware pogo nosegrind tuna-flip salad grind Eric Koston cab flip. Gnarly poseur ollie north slap maxwell mute-air death box Baker.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end stories_collage-->
            <div id="storyswitch">
                <div data-view="map" class="storyviewmodeon storyviewmode bindstoryviewmode">Map View</div>
                <div data-view="collage" class="storyviewmode bindstoryviewmode">Collage View</div>
            </div>
        </div>
    </div>
</div>
