<div class=wrap>
    <div id="impact_intro">
        <div class=header_wrap>
            <h4 class="name">Notre Impact</h4>
            <h1>Mieux vaut vivre dans une Haïti plus verte</h1>
        </div>
        <p>Nous aspirons à un environnement plus vert et plus résilient en Haïti. Un avenir où les agriculteurs ne font pas que survivre, mais peuvent prospérer grâce à l'accès aux semences, à la formation et aux marchés. Un avenir où les Haïtiens et leurs institutions publiques ont les connaissances et les moyens de gérer efficacement leurs ressources naturelles.</p>
    </div>
    <div id=youwrap>
        <iframe id=you width="560" height="315" src="https://www.youtube.com/embed/HtgFx72dj9M" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="subs">
    <div id="impact_map" class="sub" style="margin-top: 0px;">
        <div class="wrap">
            <h4>Together We Care</h4><h1>Our Impact</h1>
            <div id="timeswitch">
                <div data-view="18" class="timeon time">2018</div>
                <div data-view="19" class="time">2019</div>
                <div data-view="20" class="time">2020</div>
                <div data-view="21" class="time">2021</div>
            </div>
        </div>
        <div id=map>
            <img id=mapmage src=/impact_trees_18.svg />
        </div>
    </div>
    <div id="impact_stories" class="sub" style="">
        <div class="wrap"><h4>Together We Care</h4><h1>Stories From Haiti</h1>
            <div id="storyswitch">
                <div data-view="map" class="on view">Map View</div>
                <div data-view="collage" class="view">Collage View</div>
            </div>
        </div><!---->
        <div id="storycont" data-mode="map">
            <div src="stories.png" id="stories">
                <svg id=storysvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 929.76 710.24">
                    <defs>
                        <style>
                            .cls-1,
                            .cls-6,
                            .cls-8 {
                                fill: none;
                            }
                            
                            .cls-2 {
                                clip-path: url(#clip-path);
                            }
                            
                            .cls-3 {
                                isolation: isolate;
                            }
                            
                            .cls-4 {
                                fill: #444;
                            }
                            
                            .cls-5 {
                                clip-path: url(#clip-path-7);
                            }
                            
                            .cls-6,
                            .cls-8 {
                                stroke: #444;
                            }
                            
                            .cls-6 {
                                stroke-width: 1.35px;
                            }
                            
                            .cls-7 {
                                fill: #eae4d3;
                            }
                            
                            .cls-8 {
                                stroke-width: 0.9px;
                            }
                            
                            .cls-9 {
                                fill: #266738;
                            }
                            
                            .cls-10 {
                                font-size: 47.03px;
                                fill: #373930;
                                font-family: ArgentCF-Bold, Argent CF;
                                font-weight: 700;
                            }
                            
                            .cls-11 {
                                font-size: 38.84px;
                                fill: #343646;
                                font-family: HaveHeartOne, Have Heart One;
                            }
                        </style>
                        <clipPath id="clip-path" transform="translate(-697.54 -87.83)">
                            <rect class="cls-1" width="1921" height="1080" />
                        </clipPath>
                        <clipPath id="clip-path-7" transform="translate(-697.54 -87.83)">
                            <rect class="cls-1" x="697.5" y="87.82" width="929.96" height="711.28" />
                        </clipPath>
                    </defs>
                    <title>impact_map</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <g class="cls-2">
                                <g class="cls-3">
                                    <g class="cls-2">
                                        <g class="cls-2">
                                            <g class="cls-3">
                                                <g class="cls-2">
                                                    <g class="cls-2">
                                                        <g class="cls-2">
                                                            <path class="cls-4" d="M960.25,769.79l2.08,2.22,3.76-2.61,1.79.93,1.26,2.32,2.29,1.52,10.12,0,5.5.34,6.42,1.36,4.65,2.84,0,4.87L994,786.2l-6.65.62-12.65-.73L969,784.82l-5-3.08-8.16-7.62,1-3.42,1.5-1.39Zm-6-169.51-7.51,4.45-10.36-.1L928.3,600l-.63-9.18,7.74-3.63,10.64.9,8.1,4.62Zm290.42-33.72-3.42,1.45-2.34-2.1-2.93-6.16-2.76-2.43-2.49-.68-7.33-.47-28.93-6.43-9.84-.79-10.39-2.54-28.6-18.53L1116.75,520l-7.74-5.09-6.55-9.27-6-4.32-1.71-1.53-2.39-3-2.13-3.54-1-3.8,1.11-3.75,4-4.51,5.67-3.8,6.64-2.6,6.93-1,7.71.88,45,19,22.2,7.31,24.72,12.5,23.07,9.72,9.46,11.62,2.48,7.41,1.17,8.86-.93,8.65Zm13.71-426.21,32.92,7.66,8.12,5,6.69,3.2,19.15,5.91,7.89,9.75,8.64,5.87,9,3.22,4.89-3.23,5.89,3.13,9.77,3.76,9.15,2.28,4-1.18,2.1,5.37,15.61,14.54v2.15l-1.52-.69-5.1-1.43,4.13,10,1.43,1.53,5.7,1.24,1.2-.43-1.21-3,4.2-4.92-1-.09-2.13.18-1.06-.07.08-.43.67-1.47.77-1.1.49.66v-2.15l-.76-1.06-1.29-3.62h2l4.78,2.63,6.64.63,5.86-2,2.52-5.08,3.24-3.38,6.35-.19,4.36,3.66-2.7,8.25,5.5,3.27,5.27.54,12.74-2.31,1.12,0,1.82.47,2.23,1.49,4.65,4.69,3.17,1,11.11-.06,2.61.72,1.44,1.6,1.05,1.6,3,1.45,4.41,3.19,2.94.7,2.5-1.16,1.6-2.57,2.06-2.5,3.72-1.06,6.08-4.71,9.15,0,15.81,4.54,8.68,1.13,2.32,1.73-1.93,4.31-2.78,1.86-3.82.67-9-.07,3.41,6.25,5.62.62,6-1.75,4.78-.8,5.87,4.89,3.61,2.24,1.59-1.16,1.69-4.67-.68-2.44-7.16-1.82-2.28-2.1-1.2-3,.5-3.43,2.47-2.15,3.69.22,8.34,1.83,9,.14,2.17,3,5,6.41,1.2,6-.74,14.45,1.55,7.78,9.19,21.39,4.06,26.77-.09,15.3-3.63,7.91-1.78,2-4,10.48-3,2.45-8.69,5.07-2.11,2.17,1.66,6.82,5.83,8.11,12.13,12.27,25.15,12-1.3,20.46-1.61,5.9-4,6.1-10.91,8-4.88,4.46-9.59,13.7-13.93,15.73-4.23,2.68L1559.5,471l-5.56,3.83,1,5.94,5.8-1,8-2.81,7.59.19,3,2.4,4.65,9.67,3,3.48,7.48,6.77,2.44,3.07,1.84,6.34.44,13.89,2.72,13.45-.44,6.44-1.55,6.35-2.17,5.81-3.84,6.42-4.53,3.78-11.72,7.4-4.39,5-6.6,11.48-4.2,4.59-12.55,4.4-24.45-4.37-12,2.64-5.57,4.26,2.92,5.59,29.57,30,2.13,3.24.84,5.14-1.72,1.89-2.43,1.42-1.2,3.77,2,6.32,4.89,2.67,12.71,3.11,2.76,2.41,5,7.29,2.66,3,12.32,8.13,17.54,6.48,4.66,3,3,2.66.71,1-18.25,32-2.53,6.46-.86,6.75.51,3.24,3.57,9.8.8,3.83-.17,5.71.79,9.95-1.14,5.94-3.68,10.39-5.25-3.52-23-29.55-10-9-11.49-7.13L1509.88,734l-10.61-5.46-10.59-4-12.69,0L1450,729l-33.89-.15-47.44.8-25.54,4.77-6.55-3.48-3.95-1.44-1.75,1.34,2.26,13.18-3.09,3.37-3.78.11-8.9-3.44-5-.89-38.3,3.64-7.85-.49.65,1.54.94,3.91.65,1.56-4.85-.36-2-.53-2.32-1.66-9,5.87-18-1.76-8.82,3.4-8.52-5-11.54-4.51-12.32-3.28-34.33-3.81-8.64.4-2.69-.4-9.49-6.1-2.83-.94L1090,727.65l-19.44,2-3-.82,1.73-4.47,4.32-1.69,11.74.13V720.6l-21.72-2.38-26.38.16-7.66,2.12-10.5,6.19-4,.8-2.59-1.37-2.78-6.31-2.38-1.92-4.34,2.62-2.41,6.69-2.42,5-4.39-2.46h-2L988,732.21l-3.27-1.78-1.4-4.43,1.65-5.62-4.64,1.36-4.07,9-4.66,3.67.24-4.64,1.07-4.1,3.19-7.85-2.58,2.07-3.7,4.83-2.65,2.67-.25-.84-1.9-.77-3.5-.78-1.16.58.12,1.36.37,1.55-.35,1.19L946.19,741l-23.35,10.72-5.92,5.85-5.72,9.34,13.64,14.74,2,5.33,1.62,6.76-.77,2.62-4.32,1-21.59-.17-3.17-.56-3.16-1.52-2.36-2.39-1.24-5.07-20.7-30.1-1-.8-2.48-1.08-1.14-.7-1.16-1.32-.23-1-.16-1.12-.86-1.44-6.08-5.74L826.7,720.93l-5.64-2.81-9.95-1.73L807,714.63,803.4,712l-1.46-3.23-.65-3.66L799.44,704l-2.76-.21-3.41-.91-8.38-3.36-2.69-1.61L780,700.44l-6.14-2.26-6.54,2.72-6.91,4.22-7.13,2.15-6-1.29-7.4-3.05-6.3-3.59-2.65-2.86-2.74-3.88L716,686.3,713.25,680l-.66-6.68-2.09-4.78-8.37-10.77,11.42-16.48-.95-1.36-1.42-3.35,6-4.17,4-15.86L726,613l.92-1.76-.53-4-1.24-4.32-1.26-2.66-.81-3.63,2.56-3.18,11-6.37,14.49-5.74,6.15-1.05,7.47,1.88,3.32,0,1.41-2.8,1.61-2.36,3.62-1,3.82-.22,18.23,1.15,12.9,2.87L852.06,599l18.7.93.66.51,2.12,2.43.44.68.72,2.71,1.82-.21,2.26-1.15,2-.23,9.42,5,4.19,1.52,14.62.62,3.44.67,3.8,1.69,7,6.06,2.07,1.21,3.34.27,1.6-.94,1.1-1.23,1.73-.61,3.23.53,4,2,2.93,0,2-.9,4.15-3.08,1.34-.67.41-.8,4.15-5.14,2.16-1.08,2.59-.11,2.7.25,2.55-.11,14.75-4.23,4.22-.58,11.58,3,.15,5.89-6.6,4.41L980.81,617v2.11l-7-2.37-6.24-.91-6.28.72L954.19,619l2.11,1.49,5.42,2.91,5.32,1.34.37,2-.14,2.61,1.39,2.69,5.73,2.59,10.35-1.45,5.1,2.55,11.42-6.84,14-1.73,51.38,4.08,6.57,1.49,13,6.62,7.2,1.49,26.07-.94,12.75,1.16,11.43,4.3,6,3.51,4.93,1.88,5.5.38,31.06-5.56,28.17,6.8-1.67,5.61,6.21-1.22,8.69-3.1,5.75-.06,4.75,2,23.12,3.87,12.51-2.87,8.8-7.52,6.47-10.59,5.43-12.06,7.87-9.81,10.31-2.33,54.24,4.69,1.93-.75.84-1.59.53-1.63,1.12-.73,2,.4,1,.87.63.88,1,.4,6.81,7.6,3.11,1.71,5.73-1.54,2.6-5.78.7-8-.62-20.87.52-3.88,2.26-4.63,2.51-2.78,1.16-2.58-1.76-4.06L1400.9,570l-14.84-7.17-4-.72-7.87-.18-3.82-1.19-6.62-5.65-5.87-7.09-6.27-4.9-7.89.94-11.11-6.8-2.77-3.05-2.76-6.48-16.71-25.92-4.59-4.71-6.52-5.28-6.83-4.35-5.57-1.78-6-3.08-34-36.76L1245.2,437l13.68-5.59,12.44-.88,6.87-2.27,3-5.08-2-6.43-4.7-3.35-5.87-2.25-5.39-3.16-3.42-4.34-7.78-13.78-2.09-5.48,2.23-1.6.26-.6-.39-.66.31-1.81,3.13-3,3.56-7.9,2.11-3.17,3.54-1.74,5.13-1.05,5.24-.22,3.76.65L1274.2,354l-3.36-1.85-6.47-.56-3.84-3-1.26-6.68.47-7.12,1.38-4.29,2.05,2.14,2.7,1.86,3.11,1,3.19-.51,3.58-2.6.17-2.48-1.15-2.83-.56-7.91-.83-1.47.75.27,4.63.84,1.62,1,2.3,1.93,3.1,1.63,4,.07L1283.55,311l-3.27-1.85-16.69-1-4.25-3.08-2.84-4.54-4.25-5.27-6.1-4.37-20.59-9.42-17.16-10.66-6.12-1.44-5.29-2.48-11.39-9.75-2.17-.54-3.24,1.47-20-7.41-3.28-.4-6.37-1.58-3.67-.37-1.63.77-1.53,1.67-2.12,1.67-3.43.78-4.79-1.21-7.14-3-7-3.9-4.35-3.86-6.53,6.39-13.86,1.8-30.79-1.61-6.08-1.59-3.57-.4-2.29-1.46-5.71-6.44-3.11-1.49-4.47-3.05-1.78-6.84-.57-7.16-.94-4,11.56-18.54,1.72-3.88,3.16-.08,16.85-7.86v-2.56l-17.82,0,5.22-4,6.15-.62,6.58.54,6.49-.38,39.32-18.08,11.48-8.41,6.48-9,3.83,4.71,3.69,1.26,9.16-1.06,4.7.69,8.49,3.07,4.53.69,3.83-.06,2.14-.31,6.43-1.75,4.76-.6,4.93.4,4.48,1.68,3.44,3.2,2.28-5.3,6.09-3.31,7.39-.77,6.23,2.35,8.57-3.59,10.28-2.7,10.74-1.37ZM1262.72,98l30.52,12,13,8.23-3.65,8-5.23-2.23L1270,120.26l-12.66-5-15.65-3.52-5.35-2.45-3.68.71-3.83,1.45-3.48.61-6.76-1.35-7.88-2.65-7.16-3.64-4.61-4.25h1.43l.92-.48,1.84-1.66,14.91-5,16.27-2.25,9.29-.43,6.21.85,5.57,2.45Z" transform="translate(-697.54 -87.83)" />
                                                        </g>
                                                    </g>
                                                    <g class="cls-5">
                                                        <path class="cls-6" d="M960.25,769.79l2.08,2.22,3.76-2.61,1.79.93,1.26,2.32,2.29,1.52,10.12,0,5.5.35,6.42,1.35,4.65,2.84,0,4.87L994,786.2l-6.65.62-12.65-.73L969,784.82l-5-3.08-8.16-7.62,1-3.42,1.5-1.39Zm-6-169.51-7.5,4.45-10.36-.1L928.3,600l-.63-9.18,7.74-3.63,10.64.9,8.1,4.62Zm290.43-33.72-3.42,1.45-2.34-2.1-2.93-6.16-2.76-2.43-2.49-.68-7.33-.47-28.93-6.43-9.84-.79-10.39-2.54-28.6-18.52L1116.75,520l-7.74-5.09-6.55-9.27-6-4.31-1.71-1.54-2.39-3-2.13-3.54-1-3.8,1.11-3.75,4-4.51,5.67-3.8,6.63-2.6,6.94-1,7.71.88,45,19,22.2,7.31,24.72,12.5,23.07,9.72,9.46,11.62,2.48,7.41,1.17,8.86-.93,8.65Zm13.71-426.21,32.92,7.66,8.12,5,6.69,3.2,19.15,5.91,7.89,9.75,8.64,5.87,9,3.22,4.89-3.23,5.89,3.13,9.77,3.76,9.15,2.28,4-1.18,2.1,5.37,15.61,14.54v2.15l-1.52-.69-5.1-1.43,4.13,10,1.43,1.52,5.7,1.24,1.2-.43-1.21-3,4.2-4.92-1-.09-2.13.18-1.06-.07.08-.43.67-1.47.77-1.1.49.66v-2.15l-.77-1.06-1.28-3.62h2l4.78,2.63,6.63.63,5.87-2,2.52-5.08,3.24-3.38,6.35-.19,4.36,3.66-2.7,8.25,5.5,3.27,5.27.54,12.74-2.31,1.12,0,1.82.47,2.23,1.49,4.65,4.69,3.16,1,11.12-.06,2.61.72,1.44,1.6,1.05,1.6,3,1.45,4.41,3.19,2.94.7,2.5-1.16,1.6-2.57,2.06-2.5,3.72-1.06,6.08-4.71,9.15,0,15.81,4.54,8.68,1.13,2.32,1.73-1.93,4.31-2.78,1.86-3.83.67-9-.07,3.41,6.25,5.62.62,6-1.75,4.78-.8,5.87,4.89,3.61,2.24,1.59-1.16,1.69-4.67-.68-2.44-7.16-1.82-2.28-2.1-1.2-3,.5-3.43,2.47-2.15,3.69.22,8.34,1.83,9,.14,2.17,3,5,6.41,1.2,6-.74,14.45,1.55,7.78,9.19,21.38,4.06,26.78-.09,15.3-3.63,7.91-1.78,2-4,10.48-3,2.45-8.69,5.07-2.11,2.17,1.66,6.82,5.83,8.11,12.13,12.27,25.15,12-1.3,20.46-1.62,5.9-4,6.1-10.91,8-4.88,4.46-9.59,13.7-13.93,15.73-4.23,2.68L1559.5,471l-5.56,3.83,1,5.94,5.81-1,8-2.81,7.59.19,3,2.4,4.65,9.67,3,3.48,7.48,6.77,2.44,3.07,1.84,6.34.44,13.89,2.72,13.45-.44,6.44-1.55,6.36-2.17,5.8-3.84,6.42-4.53,3.78-11.72,7.4-4.4,5-6.59,11.48-4.2,4.59-12.55,4.4-24.45-4.37-12,2.64-5.57,4.26,2.92,5.59,29.57,30,2.13,3.24.84,5.14-1.72,1.89-2.43,1.42-1.2,3.77,2,6.32,4.89,2.67,12.71,3.11,2.76,2.41,5,7.29,2.66,3,12.32,8.13,17.54,6.48,4.66,3,3,2.66.71,1-18.25,32-2.53,6.46-.86,6.75.51,3.24,3.57,9.8.8,3.83-.17,5.71.79,9.95-1.14,5.94-3.68,10.39-5.25-3.52-23-29.55-10-9-11.49-7.13L1509.88,734l-10.61-5.46-10.59-4-12.69,0L1450,729l-33.88-.15-47.44.8-25.54,4.77-6.55-3.47-3.95-1.45-1.75,1.33,2.26,13.19-3.09,3.37-3.78.11-8.9-3.44-5-.89-38.3,3.64-7.85-.5.65,1.55.94,3.91.65,1.56-4.85-.36-2-.53-2.32-1.66-9,5.87-18-1.76-8.82,3.4-8.52-5-11.54-4.51-12.32-3.28-34.33-3.81-8.64.4-2.69-.4-9.49-6.1-2.83-.94L1090,727.65l-19.44,2-3-.82,1.73-4.47,4.32-1.69,11.74.13V720.6l-21.72-2.38-26.38.16-7.66,2.12-10.5,6.19-4,.8-2.59-1.36-2.78-6.32-2.38-1.92-4.35,2.62-2.4,6.69-2.42,5-4.39-2.46h-2L988,732.21l-3.27-1.78L983.27,726l1.66-5.63-4.64,1.37-4.07,9-4.66,3.67.24-4.64,1.07-4.1,3.19-7.85-2.58,2.07-3.7,4.83-2.65,2.67-.25-.84-1.9-.77-3.5-.78-1.16.58.12,1.36.37,1.55-.35,1.19L946.19,741l-23.35,10.72-5.93,5.85-5.71,9.34,13.64,14.74,2,5.33,1.62,6.76-.77,2.62-4.32,1-21.59-.17-3.17-.56-3.16-1.52-2.36-2.39-1.24-5.07-20.7-30.1-1-.8-2.47-1.08-1.15-.7-1.15-1.32-.24-1-.15-1.12-.86-1.44-6.08-5.74L826.7,720.93l-5.64-2.81-9.95-1.73L807,714.63,803.4,712l-1.46-3.23-.65-3.66L799.43,704l-2.75-.2-3.41-.91-8.38-3.36-2.69-1.61L780,700.44l-6.14-2.26-6.54,2.72-6.92,4.22-7.13,2.15-6-1.29-7.4-3-6.3-3.6-2.65-2.86-2.74-3.87L716,686.3,713.25,680l-.66-6.68-2.1-4.78-8.36-10.77,11.42-16.48-.95-1.36-1.42-3.35,6-4.18,4-15.85L726,613l.91-1.76-.52-4-1.24-4.32-1.26-2.66-.81-3.63,2.56-3.18,11-6.37,14.49-5.74,6.15-1.05,7.47,1.88,3.32,0,1.41-2.8,1.61-2.36,3.62-1,3.82-.22,18.23,1.15,12.9,2.87L852.06,599l18.7.93.66.52,2.12,2.42.43.68.72,2.71,1.83-.21,2.26-1.15,2-.23,9.42,5,4.19,1.52,14.61.62,3.45.67,3.8,1.69,7,6.06,2.07,1.21,3.34.27,1.6-.93,1.09-1.24,1.74-.61,3.23.53,4,2,2.93,0,2-.9,4.14-3.08,1.35-.67.41-.8,4.14-5.14,2.17-1.08,2.59-.11,2.7.25,2.54-.1,14.76-4.24,4.22-.58,11.57,3,.16,5.89-6.6,4.41L980.81,617v2.11l-7-2.37-6.24-.91-6.28.72L954.19,619l2.11,1.48,5.42,2.92,5.32,1.34.37,2-.14,2.62,1.39,2.69,5.73,2.59,10.35-1.45,5.1,2.55,11.42-6.84,14-1.73,51.38,4.08,6.57,1.49,13,6.62,7.2,1.49,26.06-.94,12.75,1.16,11.44,4.3,6,3.51,4.93,1.88,5.5.38,31.06-5.57,28.17,6.8-1.67,5.62,6.21-1.22,8.68-3.1,5.75-.06,4.76,2,23.12,3.87,12.51-2.87,8.79-7.52,6.48-10.59,5.43-12.06,7.87-9.81,10.31-2.33,54.24,4.69,1.93-.75.84-1.59.53-1.63,1.12-.73,2,.4,1,.87.63.88,1,.4,6.82,7.6,3.11,1.71,5.73-1.54,2.59-5.78.71-8-.62-20.87.52-3.88,2.26-4.63,2.51-2.78,1.16-2.58-1.76-4.06L1400.9,570l-14.84-7.17-4-.72-7.87-.18-3.82-1.19-6.62-5.65-5.87-7.09-6.27-4.9-7.89.94-11.11-6.8-2.77-3.05-2.76-6.48-16.71-25.92-4.59-4.72-6.52-5.27-6.83-4.35-5.57-1.78-6-3.08-34-36.76L1245.2,437l13.68-5.59,12.44-.88,6.87-2.27,3-5.08-2-6.43-4.7-3.35-5.87-2.25-5.39-3.16-3.42-4.34-7.78-13.78-2.09-5.48,2.23-1.6.26-.6-.39-.66.31-1.81,3.13-3,3.56-7.9,2.1-3.17,3.55-1.74,5.13-1.05,5.24-.22,3.76.65L1274.2,354l-3.36-1.85-6.47-.56-3.84-3-1.26-6.68.47-7.12,1.38-4.29,2.05,2.14,2.7,1.86,3.11,1,3.19-.51,3.58-2.6.17-2.48-1.15-2.83-.56-7.91-.83-1.47.75.27,4.63.84,1.62,1,2.3,1.93,3.1,1.63,4,.07L1283.55,311l-3.27-1.86-16.69-1-4.25-3.08-2.84-4.54-4.25-5.27-6.1-4.37-20.59-9.42-17.16-10.66-6.12-1.44-5.29-2.48-11.39-9.75-2.17-.54-3.24,1.47-20-7.41-3.28-.4-6.37-1.58-3.67-.37-1.63.77-1.53,1.67-2.12,1.67-3.43.78-4.79-1.21-7.14-3-7-3.9-4.35-3.86-6.53,6.39-13.86,1.8-30.79-1.61-6.09-1.59-3.56-.4-2.29-1.46-5.71-6.44-3.11-1.49-4.47-3.05-1.78-6.84-.57-7.16-.94-4,11.56-18.54,1.72-3.88,3.16-.08,16.85-7.86v-2.56l-17.82,0,5.22-4,6.15-.62,6.58.54,6.49-.38L1114.44,160l11.47-8.42,6.49-9,3.83,4.71,3.69,1.26,9.16-1.06,4.7.69,8.49,3.07,4.53.69,3.83-.06,2.14-.31,6.43-1.75,4.76-.6,4.93.4,4.48,1.68,3.44,3.2,2.28-5.3,6.08-3.31,7.4-.77,6.23,2.35,8.57-3.59,10.28-2.7,10.74-1.37ZM1262.72,98l30.52,12,13,8.23-3.65,8-5.23-2.23L1270,120.26l-12.66-5-15.65-3.52-5.35-2.45-3.69.71-3.82,1.45-3.49.61-6.75-1.35-7.88-2.65-7.16-3.64-4.61-4.25h1.43l.92-.48,1.84-1.66,14.91-5,16.27-2.25,9.29-.43,6.21.85,5.56,2.45Z" transform="translate(-697.54 -87.83)" />
                                                    </g>
                                                    <g class="cls-2">
                                                        <g class="cls-2">
                                                            <path class="cls-7" d="M956.5,767.91l2.08,2.23,3.75-2.62,1.8.94,1.26,2.31,2.29,1.52,10.12,0,5.49.35,6.43,1.35,4.64,2.84v4.87l-4.09,2.59-6.64.62L971,784.22l-5.72-1.28-5-3.07-8.16-7.63,1-3.41,1.5-1.39Zm-6-169.51-7.5,4.45-10.36-.1-8.1-4.65-.63-9.18,7.74-3.63,10.63.91,8.11,4.61Zm290.43-33.72-3.42,1.45-2.34-2.1-2.93-6.15-2.77-2.43-2.48-.68-7.33-.47-28.93-6.43-9.85-.8-10.38-2.53L1141.91,526,1113,518.09l-7.74-5.08-6.55-9.28-6-4.31-1.71-1.54-2.4-2.95-2.12-3.55-1-3.8,1.11-3.74,4-4.52,5.68-3.79,6.63-2.6,6.94-1,7.71.87,45,19,22.2,7.3,24.71,12.51,23.08,9.71L1242,533l2.48,7.41,1.17,8.87-.93,8.64Zm13.71-426.2,32.92,7.65,8.12,5,6.68,3.2,19.16,5.91,7.88,9.75,8.65,5.87,9,3.22,4.88-3.23,5.9,3.14,9.76,3.75,9.16,2.29,4-1.18,2.1,5.36,15.61,14.55V206l-1.52-.69-5.1-1.43,4.13,9.95,1.42,1.52,5.71,1.25,1.2-.44-1.21-3,4.2-4.92-1-.09-2.13.18-1-.07.07-.42.68-1.47.77-1.1.49.66v-2.15l-.76-1.06-1.28-3.63h2l4.79,2.62,6.63.63,5.86-2,2.53-5.07,3.23-3.38,6.35-.2,4.37,3.66-2.7,8.26,5.49,3.26,5.28.55,12.74-2.32,1.11,0,1.83.47,2.23,1.5,4.65,4.69,3.16,1,11.12-.06,2.61.72,1.44,1.6,1.05,1.61,3,1.44,4.41,3.19,2.94.71,2.49-1.17,1.61-2.57,2.06-2.5,3.72-1.06,6.08-4.7,9.15,0,15.8,4.55,8.69,1.13,2.32,1.72-1.93,4.32-2.78,1.86-3.83.66-9-.06,3.41,6.24,5.61.62,6-1.74,4.78-.81,5.87,4.9,3.6,2.23,1.6-1.15,1.69-4.67-.69-2.44-7.16-1.82-2.27-2.11-1.2-3,.5-3.42,2.47-2.16,3.69.23,8.34,1.82,9,.15,2.17,3,5,6.4,1.2,6.06-.75,14.44,1.55,7.78,9.2,21.39,4.06,26.77-.1,15.31-3.63,7.9-1.77,2-4,10.48-3,2.45-8.69,5.06-2.11,2.18,1.66,6.82,5.83,8.11,12.12,12.26,25.16,12-1.31,20.47-1.61,5.9-4,6.1-10.91,8-4.88,4.47-9.59,13.7-13.93,15.73-4.24,2.67-16.6,4.62-5.56,3.83,1,5.94,5.81-1,8-2.82,7.59.2,3,2.39,4.65,9.68,3,3.48,7.47,6.76,2.44,3.08L1595,507l.44,13.9,2.73,13.45-.45,6.43-1.54,6.35L1594,553l-3.85,6.42-4.52,3.78-11.73,7.41-4.39,5-6.59,11.48-4.21,4.59-12.54,4.4-24.46-4.38-12,2.64-5.57,4.26,2.93,5.59,29.57,30,2.12,3.24.84,5.14-1.71,1.9-2.43,1.41-1.2,3.77,2,6.33,4.88,2.66,12.72,3.12,2.75,2.41,5,7.29,2.65,3,12.33,8.12,17.53,6.49,4.67,3,3,2.67.71,1-18.26,32-2.52,6.45-.86,6.76.5,3.23,3.58,9.81.8,3.83-.17,5.7.79,9.95-1.14,5.94-3.68,10.4-5.25-3.53-23-29.54-10-9-11.49-7.13-25.67-8.63-10.61-5.46-10.59-4-12.69,0-26,4.5-33.89-.14-47.43.79-25.55,4.77-6.54-3.47-4-1.44-1.74,1.33,2.26,13.18-3.09,3.38-3.79.1-8.89-3.43-5-.89-38.3,3.63-7.85-.49.65,1.55.94,3.9.65,1.57-4.85-.37-2-.53-2.32-1.66-9,5.87-18-1.76-8.82,3.4-8.52-4.95L1199.81,747l-12.32-3.28-34.34-3.81-8.63.4-2.69-.4-9.5-6.1-2.82-.94-43.25-7.05-19.44,2-3-.81,1.72-4.48,4.33-1.69,11.74.13v-2.15l-21.72-2.38-26.39.16-7.65,2.12-10.5,6.19-4,.81-2.6-1.37-2.77-6.31-2.39-1.93-4.34,2.63-2.4,6.69-2.42,5-4.39-2.47h-2l-3.83,2.45-3.26-1.77-1.41-4.43,1.66-5.63-4.64,1.37-4.07,9-4.66,3.66.24-4.64,1.07-4.1,3.19-7.84L969.72,718,966,722.82l-2.66,2.66-.24-.84-1.9-.77-3.5-.78-1.17.59.13,1.35.37,1.56-.36,1.19-14.26,11.35-23.36,10.71-5.92,5.85L907.45,765l13.64,14.74,2,5.33,1.62,6.76-.77,2.62-4.33,1-21.58-.17-3.18-.56-3.15-1.52-2.36-2.38-1.24-5.08-20.71-30.09-1-.81-2.48-1.08-1.14-.7-1.15-1.32-.24-1-.15-1.12-.86-1.44-6.08-5.73-31.38-23.43-5.63-2.8-9.95-1.74-4.15-1.76-3.56-2.62-1.46-3.23-.65-3.66-1.86-1.13-2.76-.21-3.4-.91-8.38-3.36L778.45,696l-2.23,2.54-6.13-2.26L763.55,699l-6.92,4.22-7.13,2.15-6-1.28-7.4-3.06-6.3-3.59-2.65-2.86-2.74-3.87-12.16-6.31-2.75-6.35-.67-6.68-2.09-4.77-8.37-10.77,11.43-16.49-.95-1.36-1.42-3.35,6-4.17,4-15.86,4.86-3.48.91-1.76-.52-4L721.37,601l-1.26-2.66-.82-3.63,2.56-3.18,11-6.37,14.49-5.73,6.15-1.05,7.47,1.87,3.32,0,1.41-2.81,1.61-2.35,3.62-1,3.82-.21L793,575l12.9,2.88L848.3,597.1,867,598l.66.52,2.12,2.42.43.69.72,2.7,1.82-.21L875,603l2-.23,9.42,5,4.18,1.52,14.62.62,3.44.68,3.81,1.69,7,6.06,2.07,1.21,3.34.27,1.6-.94,1.09-1.24,1.74-.61,3.23.53,4,2,2.92,0,2-.9,4.14-3.08L947,615l.41-.81,4.14-5.13,2.17-1.09,2.59-.1,2.7.24,2.54-.1,14.75-4.23,4.22-.58,11.58,2.95.16,5.89-6.6,4.41-8.61-1.34,0,2.11-7-2.36-6.24-.91-6.28.71-7.08,2.47,2.11,1.48,5.42,2.92,5.32,1.33.37,2-.14,2.61,1.38,2.7,5.74,2.59L981,631.28l5.1,2.55L997.51,627l14-1.73,51.39,4.07,6.57,1.49,13,6.63,7.21,1.48,26.06-.94,12.75,1.16,11.44,4.3,6,3.51,4.93,1.89,5.49.37,31.07-5.56,28.16,6.8-1.67,5.62,6.21-1.23,8.69-3.1,5.75,0,4.76,2,23.12,3.87,12.51-2.87,8.79-7.53,6.48-10.59,5.43-12,7.87-9.82,10.31-2.32,54.24,4.69,1.93-.76.84-1.59.52-1.62,1.13-.73,2,.4,1,.86.63.88,1,.41,6.81,7.59,3.12,1.72,5.72-1.54,2.6-5.78.7-8-.61-20.86.52-3.89,2.26-4.62,2.51-2.79,1.16-2.58-1.76-4-2.93-2.11-14.85-7.17-4-.73-7.87-.18-3.82-1.18-6.62-5.66-5.87-7.09-6.27-4.9-7.89.94-11.11-6.8-2.78-3-2.76-6.49-16.71-25.92-4.58-4.71-6.52-5.28-6.83-4.34-5.57-1.79-6-3.08-34-36.75-1.56-8.79,13.67-5.59,12.45-.87,6.87-2.28,3-5.08-2-6.43-4.7-3.35-5.87-2.24-5.39-3.17-3.42-4.34L1248.3,388l-2.08-5.48,2.23-1.59.26-.6-.39-.67.3-1.8,3.14-3,3.56-7.9,2.1-3.17,3.55-1.75,5.13-1.05,5.24-.22,3.76.65-4.65-9.27-3.36-1.85-6.48-.56-3.84-3-1.25-6.67L1256,333l1.38-4.28,2,2.13,2.71,1.86,3.11,1,3.19-.51,3.57-2.6.18-2.48-1.15-2.82-.56-7.91-.83-1.48.75.28,4.62.83,1.63,1,2.3,1.94,3.1,1.62,4,.07-6.26-12.44-3.28-1.85-16.69-1-4.25-3.08-2.84-4.53-4.25-5.28L1242.4,289l-20.59-9.42-17.16-10.66-6.13-1.44-5.29-2.48-11.39-9.75-2.16-.54-3.24,1.47-20-7.41-3.28-.39-6.37-1.59-3.68-.36-1.63.77-1.52,1.67-2.12,1.66-3.43.79-4.8-1.21-7.14-3-7-3.9-4.35-3.87-6.53,6.39-13.87,1.8L1060,246l-6.09-1.6-3.56-.39-2.29-1.47-5.71-6.43-3.11-1.49-4.47-3.05L1033,224.7l-.57-7.17-.94-4L1043,195l1.72-3.89,3.16-.07,16.85-7.86v-2.57l-17.82,0,5.22-4,6.15-.62,6.58.54,6.49-.37,39.32-18.08,11.47-8.42,6.49-9,3.82,4.72,3.7,1.25,9.16-1,4.7.69,8.49,3.06,4.53.7,3.83-.07,2.14-.31,6.42-1.74,4.77-.61,4.93.4,4.48,1.68,3.44,3.21,2.27-5.3,6.09-3.31,7.39-.78,6.23,2.35,8.58-3.58,10.27-2.7,10.75-1.37ZM1259,96.14l30.53,12,13,8.23-3.65,8-5.22-2.22-27.31-3.74-12.66-4.94L1238,109.91l-5.34-2.45-3.69.71-3.83,1.46-3.48.61-6.75-1.36-7.89-2.65-7.15-3.64-4.61-4.25h1.43l.92-.48,1.83-1.66,14.91-5,16.27-2.25,9.3-.43,6.21.86,5.56,2.44Z" transform="translate(-697.54 -87.83)" />
                                                        </g>
                                                    </g>
                                                    <g class="cls-5">
                                                        <path class="cls-6" d="M956.5,767.91l2.08,2.23,3.75-2.62,1.8.94,1.26,2.31,2.29,1.52,10.11,0,5.5.35,6.43,1.35,4.64,2.84,0,4.87-4.08,2.59-6.64.62L971,784.22l-5.72-1.28-5-3.07-8.16-7.63,1-3.42,1.5-1.38Zm-6-169.51-7.5,4.46-10.36-.11-8.1-4.65-.63-9.18,7.73-3.63,10.64.9,8.11,4.62Zm290.43-33.72-3.43,1.45-2.33-2.1-2.93-6.15-2.77-2.43-2.48-.68-7.33-.47-28.93-6.43-9.85-.8-10.38-2.53L1141.9,526l-28.9-7.92-7.74-5.08-6.55-9.27-6-4.32-1.7-1.54-2.4-2.95-2.12-3.55-1-3.8,1.11-3.74,4-4.52,5.68-3.79,6.63-2.6,6.94-1,7.71.87,45,19,22.21,7.3,24.71,12.51,23.08,9.71L1242,533l2.48,7.41,1.17,8.87-.93,8.64Zm13.7-426.2,32.93,7.65,8.12,5,6.68,3.2,19.16,5.91,7.88,9.75,8.65,5.87,9,3.22,4.88-3.23,5.9,3.14,9.76,3.75,9.16,2.29,4-1.18,2.09,5.36,15.62,14.55V206l-1.52-.69-5.1-1.43,4.13,9.95,1.42,1.52,5.71,1.25,1.2-.44-1.21-3,4.19-4.92-1-.09-2.13.18-1-.07.07-.42.67-1.47.78-1.1.49.66v-2.15l-.76-1.06-1.28-3.63h2l4.79,2.62,6.63.63,5.86-2,2.53-5.07,3.23-3.38,6.35-.2,4.37,3.66-2.7,8.26,5.49,3.26,5.28.55,12.74-2.32,1.11,0,1.82.48,2.24,1.49,4.65,4.69,3.16,1,11.12-.06,2.61.72,1.44,1.6,1,1.61,3,1.44,4.41,3.19,2.94.71,2.49-1.16,1.61-2.58,2.06-2.5,3.72-1.06,6.08-4.7,9.14,0,15.81,4.55,8.68,1.13,2.33,1.72-1.93,4.32-2.78,1.86-3.83.66-9-.06,3.41,6.25,5.61.61,6-1.74,4.78-.81,5.87,4.9,3.6,2.23,1.6-1.15,1.69-4.67-.69-2.44-7.16-1.82-2.27-2.11-1.2-3,.5-3.42,2.47-2.16,3.69.23,8.34,1.82,9,.15,2.17,3,5,6.4,1.21,6.06-.75,14.44,1.55,7.78,9.2,21.39,4.06,26.77-.1,15.31-3.63,7.9-1.77,2-4,10.48-3,2.45-8.69,5.06-2.11,2.18,1.66,6.82,5.83,8.11,12.12,12.26,25.16,12-1.31,20.47-1.61,5.9-4,6.1-10.91,8-4.88,4.47-9.59,13.7-13.93,15.73-4.24,2.67-16.6,4.62-5.56,3.83,1,5.94,5.81-1,8-2.82,7.59.2,3,2.39,4.65,9.68,3,3.48,7.47,6.76,2.44,3.08L1595,507l.44,13.9,2.72,13.45-.44,6.43-1.55,6.36L1594,553l-3.85,6.42-4.52,3.78-11.73,7.41-4.39,5-6.59,11.48-4.21,4.59L1546.18,596l-24.46-4.37-12,2.64-5.57,4.26,2.93,5.59,29.57,30,2.12,3.24.84,5.14-1.71,1.9-2.43,1.41-1.2,3.77,2,6.33,4.88,2.66,12.72,3.12,2.75,2.41,5,7.29,2.65,3,12.33,8.12,17.53,6.49,4.67,3,3,2.67.71,1-18.26,32-2.52,6.46-.86,6.76.5,3.23,3.58,9.81.8,3.82-.17,5.71.79,9.95-1.14,5.94-3.68,10.4-5.25-3.53-23-29.54-10-9-11.49-7.13-25.67-8.63-10.61-5.46-10.59-4-12.69,0-26,4.5-33.89-.14-47.43.79-25.55,4.77-6.54-3.47-4-1.44-1.74,1.33,2.26,13.18-3.09,3.38-3.79.1-8.89-3.43-5-.89-38.3,3.63-7.86-.49.66,1.55.94,3.9.65,1.56-4.85-.36-2-.52-2.32-1.66-9,5.86-18-1.76-8.82,3.4-8.52-5L1199.81,747l-12.32-3.28-34.34-3.81-8.63.4-2.69-.4-9.5-6.1-2.82-.94-43.25-7.05-19.44,2-3-.81,1.72-4.48,4.33-1.69,11.74.13v-2.15l-21.72-2.38-26.39.16-7.65,2.12-10.5,6.19-4,.81-2.6-1.37-2.77-6.31-2.39-1.93-4.34,2.63-2.4,6.69-2.42,5-4.39-2.47h-2l-3.83,2.45-3.26-1.77-1.41-4.43,1.66-5.63-4.64,1.37-4.07,9-4.66,3.66.24-4.64,1.07-4.1,3.19-7.84L969.72,718,966,722.82l-2.66,2.66-.24-.84-1.91-.77-3.49-.78-1.17.59.12,1.35.38,1.56-.36,1.19-14.26,11.35-23.36,10.71-5.92,5.85L907.45,765l13.64,14.74,2,5.33,1.62,6.76-.77,2.62-4.33,1-21.59-.17-3.17-.56-3.16-1.52-2.35-2.38-1.24-5.08-20.71-30.09-1-.81-2.48-1.08-1.14-.7-1.15-1.32-.24-1-.15-1.11-.86-1.45-6.08-5.73-31.38-23.43-5.64-2.8-9.94-1.74-4.15-1.76-3.56-2.62-1.47-3.23-.64-3.66-1.86-1.13-2.76-.21-3.4-.91-8.38-3.36L778.45,696l-2.23,2.54-6.13-2.26L763.55,699l-6.92,4.22-7.13,2.15-6-1.28-7.4-3.05-6.3-3.6-2.65-2.86-2.74-3.87-12.16-6.31-2.75-6.35-.67-6.68-2.09-4.77-8.37-10.77,11.43-16.49-.95-1.36-1.43-3.35,6-4.17,4-15.86,4.86-3.48.91-1.76-.52-4L721.37,601l-1.26-2.66-.82-3.63,2.56-3.18,11-6.37,14.48-5.73,6.16-1.05,7.47,1.87,3.32,0,1.41-2.81,1.61-2.35,3.62-1,3.82-.22L793,575l12.9,2.88L848.3,597.1,867,598l.66.52,2.12,2.42.43.68.72,2.71,1.82-.21L875,603l2.05-.23,9.42,5,4.18,1.52,14.62.62,3.44.68,3.8,1.69,7,6.06,2.07,1.21,3.34.27,1.6-.94,1.09-1.24,1.74-.61,3.23.53,4,2,2.92,0,2-.9,4.14-3.08L947,615l.41-.81,4.14-5.13,2.17-1.09,2.59-.1,2.7.24,2.54-.1,14.75-4.23,4.22-.58,11.58,2.95.16,5.89-6.61,4.41-8.61-1.34v2.11l-7-2.36-6.24-.91-6.27.71-7.08,2.47,2.11,1.48,5.42,2.92,5.32,1.33.37,2-.14,2.61,1.38,2.7,5.74,2.59L981,631.28l5.09,2.55L997.51,627l14-1.73,51.39,4.07,6.57,1.49,13,6.63,7.21,1.48,26.06-.94,12.75,1.16,11.44,4.3,6,3.51,4.93,1.89,5.49.37,31.07-5.56,28.16,6.8-1.67,5.62,6.21-1.23,8.69-3.1,5.75,0,4.76,2,23.12,3.88,12.51-2.87,8.79-7.53,6.47-10.59,5.44-12,7.87-9.82,10.31-2.32,54.24,4.69,1.93-.76.84-1.59.52-1.62,1.13-.73,2,.4,1,.86.63.88,1,.41,6.81,7.59,3.12,1.72,5.72-1.54,2.6-5.78.7-8-.62-20.86.53-3.89,2.26-4.62,2.51-2.79,1.16-2.58-1.76-4-2.93-2.11-14.85-7.17-4-.73-7.87-.18-3.82-1.18-6.62-5.66-5.87-7.09-6.27-4.9-7.89.94-11.11-6.8-2.78-3-2.76-6.49-16.71-25.92-4.58-4.71-6.52-5.28-6.83-4.34-5.57-1.79-6-3.08-34-36.75-1.56-8.79,13.67-5.59,12.45-.87,6.87-2.28,3-5.08-2-6.43-4.7-3.35-5.87-2.24-5.39-3.17-3.42-4.34L1248.3,388l-2.08-5.48,2.23-1.59.26-.6-.39-.67.3-1.8,3.13-3,3.57-7.9,2.1-3.17,3.55-1.75,5.13-1.05,5.24-.22,3.76.65-4.65-9.27-3.36-1.85-6.48-.56-3.84-3-1.25-6.67L1256,333l1.38-4.28,2,2.13,2.71,1.86,3.11,1,3.19-.51,3.57-2.6.18-2.48-1.15-2.82-.56-7.91-.83-1.48.75.28,4.62.83,1.63,1,2.3,1.94,3.1,1.62,4,.07-6.26-12.44-3.28-1.86-16.69-1-4.25-3.09-2.84-4.53-4.25-5.28L1242.4,289l-20.59-9.42-17.16-10.66-6.13-1.44-5.29-2.48-11.39-9.75-2.16-.54-3.24,1.47-20-7.41-3.28-.39-6.37-1.59-3.68-.36-1.63.77-1.52,1.67-2.12,1.66-3.43.79-4.8-1.21-7.14-3-7-3.9-4.35-3.87-6.53,6.39-13.87,1.8L1060,246l-6.09-1.6-3.56-.39-2.29-1.47-5.71-6.43-3.11-1.49-4.47-3.05L1033,224.7l-.57-7.17-.94-4L1043,195l1.72-3.89,3.16-.07,16.85-7.86v-2.57l-17.82,0,5.22-3.95,6.15-.63,6.58.54,6.49-.37,39.32-18.08,11.47-8.42,6.48-9,3.83,4.72,3.7,1.25,9.16-1,4.7.69,8.49,3.06,4.53.7,3.83-.07,2.14-.31,6.42-1.74,4.77-.61,4.92.4,4.49,1.68,3.43,3.21,2.28-5.3,6.09-3.31,7.39-.77,6.23,2.34,8.58-3.58,10.27-2.7,10.75-1.37ZM1259,96.14l30.53,12,13,8.23-3.65,8-5.22-2.22-27.31-3.74-12.66-4.94L1238,109.91l-5.34-2.45-3.69.71-3.83,1.46-3.48.61-6.75-1.36-7.89-2.65-7.15-3.64-4.61-4.25h1.43l.92-.48,1.83-1.66,14.91-5,16.27-2.25,9.3-.43,6.21.86,5.56,2.44Z" transform="translate(-697.54 -87.83)" />
                                                        <path class="cls-8" d="M950.26,598.33l-7.51,4.47-10.36-.09L924.31,598l-.62-9.17,7.73-3.62,10.63.89,8.1,4.62ZM805.67,577.79,848.07,597l18.71.94.66.51,2.11,2.43.44.71.72,2.65,1.81-.18,2.26-1.16,2.06-.22,9.41,5,4.19,1.53,14.62.61,3.43.69,3.8,1.68,7,6,2.06,1.22,3.35.27,1.62-.94,1.08-1.23,1.73-.62,3.24.54,4,2,2.92,0,2-.89.83-.63-2.71,5.63-5.67,6.42,1.58,4.8,5.33,2.53-7.28,8.15-5.92,13.21L917,661.68l-10.42,2.8-7.51,0-7.52.14-4.54,6.74.52,8.14-15.45-1.33-15.48-4.51L843.11,669l-13.7-3.46-33,2.44-32.69,6.48-17.81,3.67-18,1.65-9-1.77-7.79.78-1.24.55-.58-1.31-.66-6.7-2.09-4.77-8.37-10.77,11.43-16.48-1-1.36-1.42-3.36,6-4.19,4-15.84,4.87-3.47.9-1.77-.53-4-1.25-4.3-1.26-2.68-.8-3.64,2.54-3.17,11-6.36,14.47-5.75,6.16-1,7.46,1.9,3.34-.07,1.4-2.8L767.1,575l3.61-1,3.83-.22,18.22,1.15Zm358.56,69.9,1.86,3.83.16,4.15-5,8.55.73,9.21,8.13.35,5.62,5.68,2.4,8.32,5.09,6.43-1.27,10.17-4.18,9.69,0,7.52.65,7.54-8.3-11.35-2.63-14.9-10.4-9.7-12.33-10.06-7.87-2.2-7.42,2.23-8.21-.94-8.54-1-17.23.33-16.93-2.39-10.18,4.15-11.68,3-10.27-.37-10.27,1-20.75,3.29-16.49-4.25,3.27-7.37,2.93-5.91-7.25-3.71-4.68-5.82-5.68-4.91-8.87-.81-10.44,1.42-7.4,6.17-5.49-1.82-6.52-3.32L938,660.3l-10.55-1.52,5.92-13.21,7.28-8.15-5.33-2.53-1.58-4.8,5.67-6.42L942.1,618l3.33-2.46,1.34-.67.41-.81,4.15-5.13,2.18-1.09,2.57-.09,2.69.23,2.55-.07,14.75-4.26,4.23-.57,11.58,3L992,612l-6.6,4.43-8.6-1.36v2.13l-7-2.39-6.25-.89-6.27.71-7.09,2.47,2.12,1.49,5.41,2.89,5.34,1.33.35,2-.14,2.61,1.4,2.69,5.72,2.59,10.35-1.45,5.11,2.55,11.42-6.84,14-1.73,51.4,4.08,6.55,1.5,13,6.6,7.21,1.5,26.07-.94,12.73,1.15,11.45,4.31,6,3.49,4.93,1.9,5.5.36Zm90.18-509.28,32.92,7.64,8.11,5,6.7,3.21,19.15,5.9,1.15,1.41-2.61,1.89-3.18,4.82-2.05,4.16-2.68,2.09-3.58,3.42-4.23,3.73-3.4-.42-3.19-2-5.17-1.33-4.49,1.23-1.06,4.11.09,2.07-9.81-1.36-7.91,5.74-5.36,3.13-6.76,1.78-20,17.25-24.36,4.34-13.18-2.46-13.32-1.09-13-3.22-12.44,1.22-15.18,16.06-2.59,18.73.34.94-.42,0-1.63.76-1.51,1.68-2.13,1.68-3.45.76-4.78-1.19-7.13-3-7-3.9-4.36-3.86-6.53,6.39-13.87,1.81-30.78-1.62-6.09-1.6-3.56-.38-2.28-1.47-5.71-6.44-3.12-1.49-4.48-3.05-1.77-6.84-.58-7.16-.94-4,11.59-18.54,1.69-3.88,3.17-.08,16.86-7.85v-2.55l-17.82,0,5.22-3.95,6.15-.65,6.58.56,6.49-.4L1110.46,158l11.48-8.38,6.45-9,3.85,4.7,3.69,1.26,9.16-1.06,4.7.67,8.49,3.11,4.53.68,3.81-.06,2.16-.32,6.42-1.74,4.77-.64,4.93.42,4.48,1.68,3.43,3.2,2.29-5.31,6.08-3.3,7.4-.75,6.24,2.34,8.58-3.59,10.26-2.71,10.73-1.36Zm4.32-42.34,30.51,12,13,8.22-3.63,8-5.23-2.22-27.3-3.73-12.67-4.94-15.67-3.55-5.33-2.44-3.68.71-3.83,1.46-3.5.6-6.73-1.35-7.89-2.65-7.16-3.62-4.6-4.27,1.4,0,.92-.46,1.87-1.69,14.89-5,16.27-2.25,9.3-.45,6.22.89,5.56,2.43ZM956.26,767.86l2.09,2.2,3.74-2.61,1.79.95,1.27,2.33,2.28,1.49,10.12,0,5.49.34,6.45,1.36,4.63,2.85v4.85L990,784.23l-6.65.62-12.65-.7L965,782.88l-5-3.07-8.18-7.65,1.06-3.41,1.5-1.39Zm36.91-104.75,4.68,5.82,7.25,3.71-2.93,5.91-3.27,7.37,16.49,4.25,20.75-3.29,10.27-1,10.27.37,11.68-3,10.18-4.15,16.93,2.39,17.23-.33,8.54,1,8.21.94,7.42-2.23,7.87,2.2,12.33,10.06,10.4,9.7,2.63,14.9,8.3,11.35.78,6,1,6-.37,1.68-26.93-3-8.63.42-2.68-.43-9.49-6.06-2.84-1L1086,725.69l-19.44,2-3-.82,1.72-4.45,4.32-1.71,11.75.13v-2.12l-21.74-2.41-26.37.15-7.66,2.15-10.49,6.18-4,.8-2.6-1.37-2.8-6.33-2.36-1.9L999,718.57l-2.39,6.69-2.42,5-4.4-2.44h-2l-3.85,2.42-3.25-1.76-1.41-4.43,1.66-5.61-4.64,1.33-4.07,9-4.67,3.67.24-4.63,1.08-4.11,3.18-7.84-2.57,2.07-3.7,4.84-2.65,2.64-.25-.83-1.9-.77-3.51-.75-1.15.56.11,1.34.38,1.57-.36,1.2L942.19,739l-23.35,10.76-5.92,5.81L907.19,765l13.66,14.73,2,5.34,1.61,6.75-.77,2.63-4.33,1-21.59-.19-3.16-.54-3.16-1.52-2.35-2.4-1.24-5.06-20.7-30.11-1-.81-2.47-1.08-1.15-.7-1.15-1.3-.24-1L861,749.6l-.87-1.45-6.07-5.72L822.71,719l-5.65-2.8-9.92-1.75L803,712.69l-3.56-2.64-1.47-3.22-.65-3.67-1.84-1.11-2.76-.21-3.4-.93-8.39-3.35-2.69-1.6L776,698.49l-6.13-2.27L763.31,699l-6.9,4.22-7.15,2.16-6-1.3L735.85,701l-6.28-3.57-2.66-2.88-2.74-3.85L712,684.35l-2.15-5,1.24-.55,7.79-.78,9,1.77,18-1.65,17.81-3.67L796.43,668l33-2.44,13.7,3.46,13.53,4.65,15.48,4.51,15.45,1.33-.52-8.14,4.54-6.74,7.52-.14,7.51,0,10.42-2.8,10.39-2.9L938,660.3l10.79-.46,6.52,3.32,5.49,1.82,7.4-6.17,10.44-1.42,8.87.81Zm293.72-477.75,3.84,8.29,6.64,5.2,1,7.66,7-1,6.75,5-3,11.59,4,5.87,7.81,3.34,4.49,13.64,5.36,13.94,9,8.83,9.81,7.87,11.55,4.77,9.7-3.15v-8.88l6.42.19,5.94-5.74,5.54-.52,4.72,2.4,6.23,3.16,1.65,21.76,12.51,11.55,13,6.33,5.5,12.22-1.63,9.5,1.59,9.75,5.45,9.72,3.42,9.22-14.72,21-1.74,24.83,8.75,8.68-3,7.3.74,8.33,2.24,10.14L1429,455.57l2.06,17.14,1,9.08-4.4,11.17-1.18,10.6-7.6,4.39-15.4-1.74-15.18,1-7.62-7.84-8.76-6.38-8.58-3.44-8.1-3.47-3.28-5.27-3.51-5-8,.4-7.62-.86-24.5-3.43-20.66-.72-5.42,4-4.53,5.8-.87-.44-34-36.73-1.57-8.79,13.68-5.6,12.44-.87,6.88-2.3,3-5.05-1.94-6.44-4.72-3.33-5.87-2.26-5.39-3.16-3.43-4.35L1248.05,388l-2.07-5.48,2.21-1.6.26-.6-.37-.67.3-1.81,3.14-3,3.56-7.91,2.12-3.17,3.53-1.76,5.14-1,5.21-.22,3.78.64-4.65-9.24-3.36-1.88-6.47-.55-3.84-3-1.27-6.69.48-7.12,1.38-4.3,2,2.15,2.71,1.85,3.09,1,3.2-.5,3.57-2.59.17-2.53-1.14-2.82-.56-7.89-.83-1.46.75.24,4.63.85,1.62,1,2.29,1.92,3.1,1.64,4,.09-6.26-12.48-3.26-1.84-16.71-1-4.24-3.07-2.84-4.57-4.26-5.23-6.08-4.38-20.61-9.44-17.15-10.65-6.12-1.44L1193,265l-11.38-9.74-2.16-.54-3.24,1.46-20-7.42-3.3-.38-6.37-1.59-3.24-.32-.34-.94,2.59-18.73,15.18-16.06,12.44-1.22,13,3.22,13.32,1.09,13.18,2.46L1237,211.9l20-17.25,6.76-1.78,5.36-3.13,7.91-5.74ZM1551,364.3l7.38,1.37,6-.47,11.44.91,11-1.52,10.67,10.78,21.27,10.17,3.89,1.86h0l-1.31,20.44-1.62,5.91-4,6.1-10.91,8-4.88,4.46-9.6,13.7-13.93,15.73-4.21,2.67-16.61,4.6-5.58,3.85,1,5.92,5.81-.92,8-2.86,3.8.12,3.8.11,3,2.39,4.67,9.68,3,3.48,7.48,6.76,2.43,3.07,1.85,6.35.43,13.88,2.72,13.45-.45,6.43-1.55,6.37-1.08,2.9-1.08,2.9-3.83,6.4-4.54,3.79-10.75,6.81-2.21-2.66L1560.1,560l-13.61-3.46-10.93-3.89-11.1-3.79-26.09,4.93-25.66,8.55-24.81-8.43-19.62-19.27-9.71-6.65-11.08-2.75-10.68-6.69-8.52-11.34,15.18-1,15.4,1.74,7.6-4.39,1.18-10.6,4.4-11.17-1-9.08L1429,455.57l4.38-17.43L1431.16,428l-.74-8.33,3-7.3-8.75-8.68,1.74-24.83,14.72-21,9.57,3.32,7.12,7.06,3,4.47,6.28-.64L1489.37,358l23.23-12.1,11.57,6.79,12,5.41,6,5.06Zm-2-142.67-2.75,1.85-3.85.67-9-.07,3.44,6.25,5.6.62,6-1.73,4.78-.82,5.86,4.89,3.61,2.25,1.59-1.15,1.69-4.69-.69-2.44-7.16-1.81-2.29-2.11-1.17-3,.49-3.43,2.45-2.16,3.7.23,8.37,1.83,9,.15,2.17,3,5,6.41,1.21,6,0,.6-.66,12.85-.06,1,1.55,7.77,9.19,21.39,4.06,26.77-.11,15.33-3.62,7.89-.88,1-.88,1-4,10.49-3,2.43-4.35,2.54L1580,346l-2.13,2.16,1.68,6.82,5.81,8.11,1.46,1.47-11,1.52-11.44-.91-6,.47L1551,364.3l-8.8-1.18-6-5.06-12-5.41-11.57-6.79-5.48-17.64-16.42-16.5-6-1.74-6-1.6,3.18-5.06.95-9.1-5.56-8.9-3.36-10.11-4.4-8.07-1-8.05,1.25-4.37-.27-4.71,3.9-2.61,5.17-1.12,6.83-10.21,1.37-13.23,1.21-2.59,1.53-3.23,2.17,1,4.43,3.2,2.93.73,2.49-1.19,1.61-2.56,2.06-2.51,3.71-1,6.08-4.74,9.16,0,15.81,4.56,8.66,1.15,2.33,1.7Zm-211.18-45.77,9,3.19,4.91-3.22,5.88,3.13,9.78,3.75,9.16,2.29,4-1.18,2.07,5.38,15.63,14.53v2.14l-1.54-.68-5.07-1.43,4.13,10,1.42,1.5,5.71,1.27,1.19-.47-1.2-2.94,4.18-4.92-1-.09-2.12.19-1-.08.07-.43.66-1.47.79-1.1.46.65V203.7l-.74-1.06-1.29-3.61h2l4.79,2.62,6.63.61,5.87-1.95,2.51-5.09,3.24-3.37,6.36-.21,4.37,3.68-2.71,8.25,5.48,3.26,5.29.54,12.75-2.31,1.11,0,1.82.47,2.21,1.49,4.68,4.7,3.16,1,11.12-.07,2.61.71,1.44,1.61,1,1.6.86.43-1.53,3.23-1.21,2.59-1.37,13.23-6.83,10.21-5.17,1.12-3.9,2.61.27,4.71-1.25,4.37,1,8.05,4.4,8.07,3.36,10.11,5.56,8.9-.95,9.1-3.18,5.06,6,1.6,6,1.74,16.42,16.5,5.48,17.64L1489.37,358l-22.29,14.12-6.28.64-3-4.47-7.12-7.06-9.57-3.32-3.42-9.22-5.45-9.72-1.59-9.75,1.63-9.5-5.5-12.22-13-6.33-12.51-11.55-1.65-21.76-6.23-3.16-4.72-2.4-5.54.52-5.94,5.74-6.42-.19v8.88l-9.7,3.15-11.55-4.77-9.81-7.87-9-8.83L1325.37,245l-4.49-13.64-7.81-3.34-4-5.87,3-11.59-6.75-5-7,1-1-7.66-6.64-5.2-3.84-8.29-.09-2.07,1.06-4.11,4.49-1.23,5.17,1.33,3.19,2,3.4.42,4.23-3.73,3.58-3.42,2.68-2.09,2.05-4.16,3.18-4.82,2.61-1.89,6.74,8.35Zm-97.12,388.77-3.45,1.44-2.32-2.1-2.9-6.15-2.79-2.44-2.49-.69-7.34-.47-28.93-6.42-9.85-.79-10.38-2.54L1141.67,526,1112.75,518l-7.73-5.1-6.54-9.25-6-4.33-1.69-1.53-2.39-3-2.15-3.51-1-3.81,1.11-3.75,4-4.51,5.67-3.81,6.63-2.59,6.94-1,7.7.89,45,19,22.22,7.29,24.72,12.53,23.08,9.7,9.46,11.63,2.46,7.4,1.18,8.85-.92,8.69Zm92.08-89.25,7.62.86,8-.4,3.51,5,3.28,5.27,8.1,3.47,8.58,3.44,8.76,6.38,7.62,7.84,8.52,11.34,10.68,6.69,11.08,2.75,9.71,6.65,19.62,19.27,24.81,8.43,25.66-8.55,26.09-4.93,11.1,3.79,10.93,3.89L1560.1,560l12.33,7.25,2.21,2.66-.2.13-.75.48-4.41,5L1562.67,587l-4.18,4.57L1545.93,596l-12.22-2.18-12.22-2.16-12.07,2.62-5.56,4.26,2.92,5.57,29.58,30.07,2.14,3.23.84,5.15-1.74,1.87-2.44,1.42-1.18,3.76,2,6.35,4.89,2.64,6.35,1.57,6.36,1.57,2.77,2.41,5,7.28,2.68,3.05,12.3,8.12,17.55,6.49,4.66,3,3,2.65.71,1-3.85,6.76h0l-28.43,5.15L1553,697.24l-21.94-1.55-27.36.52L1475.57,690l-28.3-5.69-27.72,1.87-26.93-1.51-4.52-5-4-5.42-9.41.77-6.22-3.14-8.55-4.2-11.72-.7L1337.46,672l-8,9.7-3.28,2.53-3.93.13-8,3.46-7.54.95-4.31.55-3.69,3.16-6.22.83-6.32.28-3.78,3.26-3.57,3.4-5.65-.81-5.12-2.78-.86,4.92-1.77,4.27-4,3.14-2.54,4.83-10.77-2.71-11.05-3.74-5.5,3.32-3.67,4-7-3.55-3.69-5.38-4.8-.28-5.09-.35-8.66,1.92-6.9.94-3.92-7.52-4.7-6.24-5.09-6.43-2.4-8.32-5.62-5.68-8.13-.35-.73-9.21,5-8.55-.16-4.15-1.86-3.83,22.88-4.08,28.18,6.79L1213.6,656l6.22-1.2,8.69-3.09,5.76-.05,4.74,2.05,23.11,3.86,12.54-2.87,8.79-7.55,6.46-10.57,5.44-12.06,7.87-9.8,10.31-2.32,54.22,4.68,2-.73.83-1.61.53-1.62,1.11-.73,2,.38,1,.87.62.9,1,.38,6.8,7.59,3.11,1.73,5.71-1.55,2.62-5.77.71-8-.63-20.85.52-3.88,2.26-4.64,2.51-2.77,1.16-2.57-1.76-4.07-2.93-2.11-14.84-7.19-4-.71-7.89-.21-3.82-1.15-6.61-5.65-5.86-7.09-6.3-4.91-7.88.93-11.1-6.77-2.77-3.07-2.76-6.47-16.71-25.94-4.6-4.7-6.52-5.3-6.83-4.33-5.54-1.78-5.18-2.65,4.53-5.8,5.42-4,20.66.72Zm35.71,196.44,6.22,3.14,9.41-.77,4,5.42,4.52,5,26.93,1.51,27.72-1.87,28.3,5.69,28.17,6.23,27.36-.52,21.94,1.55,16.9,10.39,28.43-5.15h0l-.1.19L1584,727.74l-2.52,6.46-.88,6.75.52,3.25,3.57,9.79.81,3.83-.18,5.69h0l.78,10-1.11,6-3.69,10.37-5.25-3.52-23-29.55-10-9-11.5-7.11L1505.89,732l-10.62-5.46-10.59-4-12.68.05-26,4.5-33.89-.16-47.43.82-25.56,4.76-6.54-3.49-3.95-1.42-1.74,1.33,2.25,13.17-3.08,3.38-3.79.11-8.89-3.45-5-.87-38.29,3.61-7.85-.48.65,1.58.94,3.85.66,1.58-4.84-.34-2-.53-2.3-1.66-9,5.84-18-1.75-8.82,3.42-8.53-5-11.54-4.53-12.3-3.29-7.43-.81.37-1.68-1-6-.78-6-.65-7.54,0-7.52,4.18-9.69,1.27-10.17,4.7,6.24,3.92,7.52,6.9-.94,8.66-1.92,5.09.35,4.8.28,3.69,5.38,7,3.55,3.67-4,5.5-3.32,11.05,3.74,10.77,2.71,2.54-4.83,4-3.14,1.77-4.27.86-4.92,5.12,2.78,5.65.81,3.57-3.4,3.78-3.26,6.32-.28,6.22-.83,3.69-3.16,4.31-.55,7.54-.95,8-3.46,3.93-.13,3.28-2.53,8-9.7,10.77-5.09,11.72.7Z" transform="translate(-697.54 -87.83)" />
                                                    </g>
                                                    <g class="cls-2">
                                                        <g class="cls-2">
                                                            <path class="cls-9" d="M1243.38,218.6a24.08,24.08,0,1,1,30.85-.09L1258.75,234Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1258.76,186.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1448.38,324.6a24.08,24.08,0,1,1,30.85-.09L1463.75,340Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1463.76,292.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1306.38,375.6a24.08,24.08,0,1,1,30.85-.09L1321.75,391Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1321.76,343.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1372.38,437.6a24.08,24.08,0,1,1,30.85-.09L1387.75,453Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1387.76,405.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M770.38,628.6a24.08,24.08,0,1,1,30.85-.09L785.75,644Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M785.76,596.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-3,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-7" d="M879.75,388.3a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M864.38,386.6a24.08,24.08,0,1,1,30.85-.09L879.75,402Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M879.76,354.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-3,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1435.38,645.6a24.08,24.08,0,1,1,30.85-.09L1450.75,661Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1450.76,613.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1504.38,552.6a24.08,24.08,0,1,1,30.85-.09L1519.75,568Zm15.37,1.7a20.23,20.23,0,1,0-20.22-20.23,20.25,20.25,0,0,0,20.22,20.23" transform="translate(-697.54 -87.83)" />
                                                            <path class="cls-9" d="M1519.76,520.21c-4.57,0-8.4,4.32-8.4,9.16a9.6,9.6,0,0,0,3.92,7.67,15,15,0,0,0-8.17,7.19l2.19,1.26c2.11-3.75,5.13-6.62,10.46-6.62s8.35,2.87,10.45,6.62l2.18-1.26a15,15,0,0,0-8.15-7.19,9.54,9.54,0,0,0,3.91-7.66c0-4.84-3.81-9.17-8.39-9.17m0,2.59c2.87,0,5.83,3.17,5.82,6.57s-2.95,6.57-5.82,6.57-5.83-3.17-5.83-6.57,3-6.57,5.83-6.57" transform="translate(-697.54 -87.83)" />
                                                        </g>
                                                    </g>
                                                    <g class="cls-2">
                                                        <text class="cls-10" transform="translate(222.73 291.16) scale(1.2 1)">-</text>
                                                        <text class="cls-11" transform="translate(273.34 289.68)">a story from haiti</text>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div src="/collage.png" id="collage">
                <div  id="papeone"   class="bindpape paper"><img src="/twostory.png" id="twostory"></div>
                <div  id="papetwo"   class="bindpape paper"><img src="/onestory.png" id="onestory"></div>
                <div  id="papethree" class="bindpape paper"><img src="/threestory.png" id="threestory"></div>
                <div  id="papefour"  class="bindpape paper"><img src="/fourstory.png" id="fourstory"></div>
                <div  id="papefive"  class="bindpape paper"><img src="/fivestory.png" id="fivestory"></div>
            </div>
        </div>
    </div>
</div>
