<h4 class="name">Misyon Nou</h4>
<h1>Repons a Chanjman Klima</h1>
<p>Ayiti Vèt ranfòse rezistans anviwonman pou kominote Ayisyen yo vin pi djanm. Pou fè sa, nou
ranfòse kapasite moun ak mwayen kowòdinasyon pou pi byen jere kesyon rebwazman ak
resous natirèl yo. Ayiti Vèt itilize yon apwòch entegre, dirab, ki santre sou moun.</p>
<a class="opener bindme curs">Misyon Nou<img src="/down.png"></a>
<div class="subs">
	<div id="mission_why" class="sub" style="margin-top: 0px;">
		<img id=photop src="photop.png" />
		<img id=phobot src='phobot.png' />
		<div id="photos"></div>
		<div class="wrap">
			<h4>Ansanm pou yon Ayiti Pi Vèt</h4>
			<h1>Poukisa Ayiti Vèt?</h1>
			<p>Depi 40 tan Ayisyen kap viv andeyò toujou ap fè fas ak menm defi yo: pwodiksyon agrikòl kap diminye epi sezon kap chanje britsoukou ki rann lavi pi difisil pou kilitvatè yo chak ane. Ayiti Vèt se yon kanpay nasyonal pou sipòte agrikilti ak pwodiksyon lokal, espesyalman nan plante pye bwa ki kapab kreye revni ansanm ak pyebwa ki bay fwi epi pyebwa ki sèvi pou transfòmasyon pou ede kiltivatè yo genyen yon alemye an menm tan pou ede yo adapte avèk yon klima k ap chanje.</p>
		</div>
	</div>
	<div id="mission_how" class="sub" style="">
		<div class="wrap">
			<div id="shader_outer">
				<h4>Ki jan nou travay?</h4>
				<h1>Si nou vle yon rezilta diferan, nou dwe chwazi yon apwoch diferan.</h1>
				<p>Ayiti Vèt se yon apwòch tou nèf sou pwoblèm anviwonman an Ayiti. Objektif li se koupe fache ak seri ti pwojè pasi pala oswa efò endividyèl izole. Apwòch Ayiti Vèt se mete ansanm tout aktè nan sektè a pou pwofite de eksperyans, leson ak bòn pratik yo dekouvri nan zafè pwoteksyon anviwònman, swa nan peyi dAyiti swa lòt kote sou latè. Tou sa nan lide pou pi byen jere resous natirèl peyi dAyiti e pou adapte li parapò ak chanjman klima.</p>
				<div id=shader>
					<div id="copyblock">
						<img src="/greenseeds.png" id="green">
						<p id="blocktext">Mizè se mo Ayisyen anplwaye pou pale de povrete e se pi gwo defi sou wout pwoteksyon anviwònman peyi a. Se poutèt sa nan tout jefò kap fèt pou rann anviwònman pi djanm nou dwe konsidere amelyorasyon kondisyon lavi Ayisyen kap viv andeyò yo.</p>
					</div>
					<img class="closeshade closeshade_link" src=/closeblk.svg  />
				</div>
			</div>
			<div id="circle_outer">
				<div id="circle" data-cur="seeds">
					<img data-copy="Mizè se mo Ayisyen anplwaye pou pale de povrete e se pi gwo defi sou wout pwoteksyon anviwònman peyi a. Se poutèt sa nan tout jefò kap fèt pou rann anviwònman pi djanm nou dwe konsidere amelyorasyon kondisyon lavi Ayisyen kap viv andeyò yo." src="/seeds.png" id="seeds" class="bindspin big">
					<img data-copy="Moun chanjman klima plis afekte yo dwe patisipe angranjan nan planifye tout pwosesis la. Yon lòt kote yo dwe ranfòse kapasite Enstitisyon Leta ki la pou jere resous natirèl yo." src="/hands.png" id="hands" class="bindspin">
					<img data-copy="Paske nou itilize yon apwòch global li enpòtan pou nou konsidere tout basen vèsan yo nan planifikasyon entèvansyon nou yo epi byen defini zòn agro-ekolojik soti nan tèt mòn yo rive nan lanmè." src="/lake.png" id="lake" class="bindspin">
					<img data-copy="Pataj konesans enpòtan anpil paske chanjman klima egzije yon apwòch ki chita sou twa wòch dife ki se: ekonomi, anviwònman ak enèji." src="/heart.png" id="heart" class="bindspin">
				</div>
			</div>
		</div>
	</div>
</div>
