<h4 class="name">The Mission</h4>
<h1>Responding to Climate Change</h1>
<p>Haiti Takes Root strengthens the climate resilience of Haitian communities by building capacity and coordination for reforestation and natural resource management, using an integrated, sustainable, and people-centered approach.</p>
<a class="opener bindme curs">The Mission<img src="/down.png"></a>
<div class="subs">
	<div id="mission_why" class="sub" style="margin-top: 0px;">
		<img id=photop src="photop.png" />
		<img id=phobot src='phobot.png' />
		<div id="photos"></div>
		<div class="wrap">
			<h4>Together for a Greener Haiti</h4>
			<h1>Why Haiti Takes Root?</h1>
			<p>The greatest challenge facing Haiti’s rural population today is the same as it was forty years ago: diminishing harvests and changing weather patterns are leaving Haiti’s farmers more vulnerable year after year. Haiti has been a canary in the coal mine, showing the world what climate change looks like. Haiti Takes Root is a national campaign to support local agricultural production, especially agroforestry – planting trees that are sources of income, including fruit trees and hardwood trees that can help farmers improve their livelihoods and adapt to a changing climate.</p>
		</div>
	</div>
	<div id="mission_how" class="sub" style="">
		<div class="wrap">
			<div id="shader_outer">
				<h4>How We Work</h4>
				<h1>If We Want a Different Result, We Need a Different Approach</h1>
				<p>Haiti Takes Root is a different approach to Haiti’s environmental crisis. In order to break out of the pattern of project cycles and isolated, individual efforts, HTR is focused on uniting actors to embrace approaches grounded in the lessons learned over decades in Haiti and beyond. Instead of creating a new organization, HTR is an initiative to strengthen capacity and coordination amongst existing actors, while putting the Haitian people at the center of all planning, in order to manage Haiti’s natural resources and adapt to the impacts of climate change.</p>
				<div id=shader>
					<div id="copyblock">
						<img src="/greenseeds.png" id="green">
						<p id="blocktext">Efforts to strengthen resilience to climate change must focus on the livelihoods of rural Haitians. Mizè is how Haitians talk about the misery of poverty, and it is the greatest challenge for protecting Haiti’s environment.  Strategies that support local agricultural production, especially agro-forestry, must strengthen value chains from seed to market.</p>
					</div>
					<img class="closeshade closeshade_link" src=/closeblk.svg  />
				</div>
			</div>
			<div id="circle_outer">
				<div id="circle" data-cur="seeds">
					<img data-copy="Efforts to strengthen resilience to climate change must focus on the livelihoods of rural Haitians. Mizè is how Haitians talk about the misery of poverty, and it is the greatest challenge for protecting Haiti’s environment.  Strategies that support local agricultural production, especially agro-forestry, must strengthen value chains from seed to market." src="/seeds.png" id="seeds" class="bindspin big">
					<img data-copy="Those most affected by the impacts of climate change must be the central participants in the planning process, and the Haitian government, both at the national and local level, must provide leadership while public institutional capacity to manage natural resources in strengthened." src="/hands.png" id="hands" class="bindspin">
					<img data-copy="Over the past several decades, efforts that only target specific zones or plots in a piecemeal or scattered approach have proven to be unsustainable and rarely successful. It is critical to look at the entire watershed when planning interventions, and to consider different agro-ecological zones from ridge to reef." src="/lake.png" id="lake" class="bindspin">
					<img data-copy="Sharing knowledge is critical because climate change requires a multi-sector approach that spans economy, environment, and energy." src="/heart.png" id="heart" class="bindspin">
				</div>
			</div>
		</div>
<!-- 		<div class="wrap bot">
		</div> -->
	</div>
</div>
