<h4 class="name">NOTRE MISSION</h4>
<h1>Réponse au changement climatique</h1>
<p>Haïti Prend Racine renforce la résilience des communautés haïtiennes face au changement climatique en renforçant les capacités et la coordination pour le reboisement et la gestion des ressources naturelles, en utilisant une approche intégrée, durable et centrée sur la population.</p>
<a class="opener bindme curs">Notre Mission<img src="/down.png"></a>
<div class="subs">
	<div id="mission_why" class="sub" style="margin-top: 0px;">
		<img id=photop src="photop.png" />
		<img id=phobot src='phobot.png' />
		<div id="photos"></div>
		<div class="wrap">
			<h4>ENSEMBLE POUR UNE HAITI PLUS VERTE</h4>
			<h1>¿Pourquoi Haïti Prend Racine?</h1>
			<p>Le plus grand défi auquel est confrontée la population rurale d'Haïti aujourd'hui est le même depuis quarante ans : la diminution des récoltes et les changements climatiques qui rendent les agriculteurs d'Haïti plus vulnérables année après année. Haïti Prend Racine est une campagne nationale visant à soutenir la production agricole locale, en particulier l'agroforesterie - planter des arbres qui sont des sources de revenus, y compris des arbres fruitiers et forestiers qui peuvent aider les agriculteurs à améliorer leurs moyens de subsistance et à s'adapter au changement climatique.</p>
		</div><!----><!---->
	</div>
	<div id="mission_how" class="sub" style="">
		<div class="wrap">
			<div id="shader_outer">
				<h4>COMMENT NOUS TRAVAILLONS</h4>
				<h1>Si nous voulons un résultat différent, nous devons adopter une approche différente.</h1>
				<p>Haïti Prend Racine est une nouvelle approche de la crise environnementale en Haïti. Afin de sortir du cycle des projets et des efforts individuels isolés, Haïti Prend Racine s'attache à unir les acteurs pour adopter des approches fondées sur les leçons apprises au fil des décennies en Haïti et ailleurs, afin de gérer les ressources naturelles du pays pour mieux s'adapter aux impacts du changement climatique.</p>
				<div id=shader>
					<div id="copyblock">
						<img src="/greenseeds.png" id="green">
						<p id="blocktext">« Mizè » est le terme créole pour désigner la misère ou la pauvreté, et c'est le plus grand défi pour la protection de l'environnement d'Haïti.</p>
					</div>
					<img class="closeshade closeshade_link" src=/closeblk.svg  />
				</div>
			</div>
			<div id="circle_outer">
				<div id="circle" data-cur="seeds">
					<img data-copy="« Mizè » est le terme créole pour désigner la misère ou la pauvreté, et c'est le plus grand défi pour la protection de l'environnement d'Haïti." src="/seeds.png" id="seeds" class="bindspin big">
					<img data-copy="Les personnes les plus touchées par les effets du changements climatique doivent être au cœur du processus de planification ; d’un autre côté la capacité des institutions publiques à gérer les ressources naturelles doit être renforcée." src="/hands.png" id="hands" class="bindspin">
					<img data-copy="Par opposition à une approche fragmentaire ou dispersée, il est essentiel d'examiner l'ensemble des bassins versants lors de la planification des interventions et de tenir compte des différentes zones agro-écologiques, de la montagne au récif." src="/lake.png" id="lake" class="bindspin">
					<img data-copy="Le partage des connaissances est essentiel parce que les changements climatiques exigent une approche multisectorielle qui englobe l'économie, l'environnement et l'énergie." src="/heart.png" id="heart" class="bindspin">
				</div>
			</div>
		</div>
<!-- 		<div class="wrap bot">
		</div> -->
	</div>
</div>
