<h4 class=name>Stay Connected</h4>
<h1>News and Events</h1>
<p>This website is designed to help members and supporters of the Haiti Takes Root Coalition
share information about best practices, innovative approaches, opportunities to learn and
work together, and events. Check back here regularly for all the latest updates!</p>
<a class="opener bindme curs">View Blog<img src="/down.png"></a>
<div class=subs>
	<div class=sub id=news_calendar style="margin-top: 0vh">
		<!-- <div class=wrap> -->
			<h4 class=name>Events Calendar</h4>
			<h1>Upcoming Events</h1>
			<p>Deck g-turn helipop bearings nose bump. Omar Hassan fakie out flail boardslide slap maxwell lipslide. Goofy footed Chris Haslam sponsored g-turn ollie hole regular footed. Face plant impossible pop shove-it slappy pogo. Downhill axle death box hospital flip Gator Mark Anthony bruised heel.</p>
			<div id="event_carousel_nav"></div>
			<ul class="events_calendar_carousel full_size" data-navid="#event_carousel_nav"></ul>
		<!-- </div>  -->
	</div>
	<div class=sub id=news_blog style="">
		<div class=wrap>
			<div class=filters>
				<select class=blogfilter>
					<option name=all value=* selected>All</option>
					<option name=education value=4>Education</option>
					<option name=projects value=5>Projects</option>
				</select>
				<input type=text class=blogsearch placeholder=search />
			</div>
			<ul class=postgrid id=news_blogposts>
				<li id=events_card>
					<h2>Upcoming Events</h2>
					<p>Deck g-turn helipop bearings nose bump. Omar Hassan fakie out flail boardslide slap maxwell lipslide. Goofy footed Chris Haslam sponsored g-turn ollie hole regular footed. Face plant impossible pop shove-it slappy pogo. Downhill axle death box hospital flip Gator Mark Anthony bruised heel.</p>
					<!-- <div id="postgrid_carousel_nav"></div> -->
					<ul class=events_calendar_carousel id=solo_card></ul>
					<a class="btn specialbind">See All Events</a>
				</li>
			</ul>
			<ul class="bind_news_blog_pager news_blog_pager"></ul>
		</div>
	</div>
</div>