<template>
	<div class="full">
		<Main :settings=settings />
	</div>
</template>
<script>
import Main from '../components/Main'
export default {
	components: { Main },
  	data: function() {
	    return {
	      	settings: {
				baseURL: 'https://staging.haititakesroot.org',
				basePush:'/cr',
				backText:'Fè bak',
				nextText:'Fè avan',
				exploreText:'Eksplore',
				title:'Ayiti Vèt',
				nav:  [
					{
						id: 'home',
						name: "Akèy",
					},
					{
						id: 'mission',
						name: "Misyon",
						subs: [
							{
								id: 'mission_why',
								name: "POUKISA",
							},
							{
								id: 'mission_how',
								name: "KI JAN",
							}
						]
					},
					{
						id: 'impact',
						name: "Enpak",
					},
					{
						id: 'contact',
						name: 'Kontak'
					}
				],
			}
		}
	}
}
</script>