<template>
	<div class="full">
		<Main :settings=settings />
	</div>
</template>
<script>
import Main from '../components/Main'
export default {
	components: { Main },
  	data: function() {
	    return {
	      	settings: {
	      		// baseURL: 'http://localhost:8080',
				baseURL: 'https://staging.haititakesroot.org',
				basePush:'/fr',
				backText:'précédent',
				nextText:'suivant',
				exploreText:'Explorer',
				title:'Haiti Prend Racine',
				nav:  [
					{
						id: 'home',
						name: "Accueil",
					},
					{
						id: 'mission',
						name: "Mission",
						subs: [
							{
								id: 'mission_why',
								name: "Pourquoi",
							},
							{
								id: 'mission_how',
								name: "Comment",
							}
						]
					},
					{
						id: 'impact',
						name: "Impact",
						// subs: [
						// 	{
						// 		id:"impact_map",
						// 		name:"Carte"
						// 	},
						// 	{
						// 		id:"impact_stories",
						// 		name:"Histories"
						// 	}
						// ]
					},
					{
						"id": "coalition",
						"name": "Coalition" ,
						subs: [
							{
								id:"coalition_who",
								name:"Qui"
							},
							{
						 	       id:"coalition_structure",
						 	       name: 'Principes Directeurs',
							},
							// {
							// 	id:"coalition_board",
							// 	name:"Counseillers",
							// },
							// {
							// 	id: "coalition_testimonials",
							// 	name: "Témoignages",
							// }
						]
					},
					{
						id: "activities",
						name: "Activités",
						subs: [
							{
								id:"activities_about",
								name: 'Quoi',
							},
							{
								id:"activities_proj1",
								name: 'Projet Un',
							},
							{
								id:"activities_proj2",
								name: 'Projet Deux',
							},
							{
								id:"activities_proj3",
								name: 'Projet Verts',
							},
							{
								id:"activities_proj4",
								name: 'Projet Quatre',
							},
							{
								id:"activities_proj5",
								name: 'Projet Cinq',
							}
						]
					},
					{
						id: "news",
						name: "Nouvelles et événements",
						subs: [
							{
								id: "news_calendar",
								name: "Calendar",
							},
							{
								id: "news_blog",
								name: "Blog",
							},
						],
					},
					{
						id: 'contact',
						name: 'Contact'
					}
				],
			}
		}
	}
}
</script>